<template>
    <div class="container">
        <button type="button" v-if="is_trying_show"  @click="updateTrying(caseid,casecode)"   class="btn btn-lg btn-blue float-right ">Ready for trying</button>
        <button type="button" v-else  class="btn disabled btn-lg btn-blue float-right curssernoneallowed ">Ready for trying</button>
        <button type="button" v-if="is_update_show" @click="showready()"   class="btn btn-lg btn-blue float-right ">Ready for delivery</button>
        <button type="button" v-else class="btn btn-lg btn-blue float-right disabled curssernoneallowed" >
           Ready for delivery
        </button>
        <button type="button" v-if="casestatus != 'Delayed'" @click="showlogs()" class="btn btn-lg btn-blue float-right " >
            Delayed
        </button>
        <button type="button" v-else class="btn btn-lg btn-blue float-right disabled curssernoneallowed" >
            Delayed
        </button>
         <!-- @click="updatereadyStatus(caseid,casecode,'Ready for delivery')" -->
        <div class="modal fade componentData delayboxcomponent" id="componentLogDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"  >
                    <div class="modal-header">
                        <h5 class="modal-title" id="componentDataModalLabel">Delay Box  </h5>
                    </div> 
                    <div class="modal-body">
                          <div class="box-body  ">
                                <div v-if="casestatus == 'Ready for delivery' ">
                                    <span> Case is ready for delivery</span> 
                                </div>
                                <div v-else-if="casestatus == 'Pending' ">
                                    <span> Please do receive case first to add it in delay box.</span>
                                </div>
                                <div v-else-if="casestatus == 'Delayed' ">
                                    <span> Case is already in delay box</span>   
                                </div>
                                <div v-else-if="casestatus == 'Delivered to patient' ">
                                    <span> Case is completed</span> 
                                </div>
                                <div v-else-if="casestatus == 'Repetition' ">
                                    <span> Case is repeted</span> 
                                </div>
                                <div v-else>

                                <div class="form-group col-md-12" >
                                    <label for="clinic_name" class="control-label">New EDD</label>
                                    <div class="ss">
                                       <datepicker 
                                          placeholder="EDD" 
                                          :option="option" 
                                          :format="customFormatter" 
                                          name="caseDate" 
                                          v-model="newdate"
                                          :disabledDates="disabledDates"
                                        ></datepicker> 
                                      <span class="datemessage help-block">{{datemessage}}</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-12" >
                                    <label for="clinic_name" class="control-label">Reason</label>
                                    <div class="">
                                        <textarea 
                                        class="form-control" 
                                        placeholder="Reason" 
                                        :rows="5"
                                        :limit="10"
                                        :max-rows="8" 
                                        v-model="reson">
                                        </textarea>
                                        <span class="resonmessage help-block">{{charactersLeft}}</span>
                                    </div>
                                </div> 
                                    
                                </div>
                                
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-if="is_add_show" :disabled="isNotValidateForm" @click="storedelaybox()" >Delayed</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
                    </div>
                </div>
            </div>
         </div>

         <div class="modal fade componentData readycomponent" id="componentReadyDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"  >
                    <div class="modal-header">
                        <h5 class="modal-title" id="componentDataModalLabel">Status Update </h5>
                    </div> 
                    <div class="modal-body">
                          <div class="box-body  ">
                                <div v-if="casestatus == 'Ready for delivery' ">
                                    <span> Case is ready for delivery</span> 
                                </div>
                                <div v-else-if="casestatus == 'Pending' ">
                                    <span> Please do receive case first to add it in delay box.</span>
                                </div>
                                <div v-else-if="casestatus == 'Delivered to patient' ">
                                    <span> Case is completed</span> 
                                </div>
                                <div v-else-if="casestatus == 'Repetition' ">
                                    <span> Case is repeted</span> 
                                </div>
                                <div v-else>
                                <span>Please click on button to change case status to <strong>Ready for delivery</strong></span>
                                
                                </div>
                                
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-if="is_update_show"  @click="updatereadyStatus(caseid,casecode,'Ready for delivery')"   >Ready for delivery</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
                    </div>
                </div>
            </div>
         </div>
    </div>     
</template>
<style type="text/css">
    .delayboxcomponent .timeline > li > .timeline-item {
        box-shadow: none;
    }    
</style>
<script>

    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';

    export default {
        components: {
              Datepicker
          },
        props:['logintype','currenttatus','casecode','caseedd','caseid'],
        data(){
            return {
                option: {
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '6px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '2px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '2px',
                      'color': '#5F5F5F'
                    },
                },
                limit:{
                  type: 'weekday',
                  available: [1, 2, 3, 4, 5] 
                },
                disabledDates: {
                  to: new Date(this.caseedd)
                },
                logData:[],
                newdate:'',
                datemessage:'',
                resonmessage:'Please Enter Only 100 characters',
                reson:"",
                casesupdatedtatus:'',
                updateobj:{},
                tryingupdateobj:{}
            };
        },
        mounted() {
            console.log(this.casestatus);
            $('#componentLogDataModal').on('hidden.bs.modal');
            $('#componentReadyDataModal').on('hidden.bs.modal');
            //this.all();
        },
        methods:{
            customFormatter(date) {
              return moment(date).format('MM-D-YYYY');
            },
            updatereadyStatus(id,case_code,status){
                this.updateobj.id         = id;
                this.updateobj.case_code  = case_code;
                this.updateobj.status     = status;
                // this.categories.push(this.singleObj);
                this.$http.post('/lab/updateStatus',this.updateobj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==200){
                        this.casesupdatedtatus = 'Ready for delivery';
                       $('#componentReadyDataModal').modal('hide');
                       
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            updateTrying(id,case_code){
                this.tryingupdateobj.id         = id;
                this.tryingupdateobj.case_code  = case_code;

                this.$http.post('/lab/updateTrying',this.tryingupdateobj).then((response)=>{
                    let res=response.data;
                    
                })
                .catch((error)=>{console.log(error)});
            },
            storedelaybox(){
                console.log(this.newdate);
                console.log(this.reson);
                this.$http.post('/lab/delayed',{'case_code' : this.casecode,'expeted_date':this.newdate,'remarks' : this.reson }).then((response)=>{
                    let res=response.data;
                    
                    if(res.status_code==200){
                        this.casesupdatedtatus = 'Delayed';
                       $('#componentLogDataModal').modal('hide');
                       
                    }
                    else{ 
                      // show message
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            showlogs(){
                $('#componentLogDataModal').modal('show');
            },
            showready(){
                $('#componentReadyDataModal').modal('show');
            }
        },
        computed:{
            isNotValidateForm(){
                if(this.newdate =="" ||  (this.reson.length >= 100 )) {
                    return true;
                }                
                if(this.reson == ''){
                    return true
                }
                return false;
            },
            charactersLeft() {
                var char = this.reson.length,
                    limit = 100;
                return (limit - char) + " / " + limit + " characters remaining";
            },
            casestatus(){
                console.log(this.casesupdatedtatus);
                if(this.casesupdatedtatus == '')
                {
                    return this.currenttatus;
                }
                else{
                    return this.casesupdatedtatus;
                }
            },
            is_trying_show(){
                if(this.casestatus == 'Pending'){
                    return false;
                }
                else{
                    return true;
                }
            },
            is_add_show(){
                if(this.casestatus == 'Ready for delivery'){
                    return false;
                }
                else if(this.casestatus == 'Pending'){
                    return false;
                }
                else if(this.casestatus == 'Delayed'){
                    return false;
                }
                else if(this.casestatus == 'Delivered to patient'){
                    return false;
                }
                else if(this.casestatus == 'Repetition'){
                    return false;
                }
                else{
                    return true;
                }
            },
            is_update_show(){
                if(this.casestatus == 'Ready for delivery'){
                    return false;
                }
                else if(this.casestatus == 'Pending'){
                    return false;
                }
                else if(this.casestatus == 'Delivered to patient'){
                    return false;
                }
                else if(this.casestatus == 'Repetition'){
                    return false;
                }
                else{
                    return true;
                }
            }
        }

    }
</script>
