<template>
   <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12">
          <div class="top" style="">
                <form id="custom-search-form" class="form-search form-horizontal" @submit.prevent="searchInput" >
                  <div class="input-append span12">
                      <i class="fa fa-search"></i>
                      <input type="text" v-model="searchQuery" class="search-query mac-style" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                  </div>
                </form>
                <span class="pull-left">All Cases</span>
                <div class="pull-right">
                  <div class="dropdown show">Filter :
                    <a class="dropdown-toggle filter-dropdown-text" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pick-up pending
                    </a>

                    <div class="dropdown-menu filter-dropdown" aria-labelledby="dropdownMenuLink" @click="filtersearch()">
                      <a class="dropdown-item" href="#">Pick-up pending</a>
                      <a class="dropdown-item" href="#">Received</a>
                      <a class="dropdown-item" href="#">In Progress</a>
                      <a class="dropdown-item" href="#">Delayed</a>
                      <a class="dropdown-item" href="#">Ready for delivery</a>
                      <a class="dropdown-item" href="#">Delivered to patient</a>
                      <a class="dropdown-item" href="#">All</a>
                    </div>
                  </div>
                </div>
          </div>   

          <div class="scroll-area" id="alldata" v-if="autoreferesh.length" >               
              <div class="dashboard-box-lab"  v-for="runningData in autoreferesh" @click="displayCase(runningData.id)" >
                  <a href="#">
                      <div class="bs-example-lab">
                          <span class="inner-box-lab">#{{runningData.case_code}}</span><br/>
                          <span class="clinic-name">{{runningData.lab_name}}</span><br/>
                          <span class="date-class">EDD- {{runningData.end_date}}</span>
                          <span class="inner-box-right-lab-pickup">{{runningData.status}}</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="scroll-area nodataDiv"  v-else> No case found</div>

      </div>

      <div class="col-xl-8 col-lg-12 col-md-12">
          <div class="dashboard-box">
              <div class="row bs-example-lab-detail">
                 <div class="col-2">
                  <span class="clinic-name">Case ID:</span>
                 </div>
                 <div class="col-10">
                    <span class="inner-box-lab">#{{singleObj.case_code}}</span>
                    <a :href="'/lab/chat/'+singleObj.case_code"> <!-- /clinic/chat -->
                      <span class="inner-box-right-lab-detail fa fa-comments">
                        <!-- <img class="chat-icon" src="/images/chat-icon.png"></img> -->
                      </span>
                    </a>
                 </div>
              </div>
              <div class="row bs-example-lab-detail-nobackground">
                  <div class="col-3 text-center">
                    <span class="doctor-name">Clinic Name</span><br/>
                    <span class="padding-detail">{{singleObj.clinic_name}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name">Doctor</span><br/>
                    <span class="padding-detail">{{singleObj.doctor_name}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name"><label v-if="singleObj.status == 'Delayed'">New&nbsp;</label>EDD</span><br/>
                    <span class="padding-detail">{{singleObj.end_date}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name">Status</span><br/>
                    <span class="padding-detail status-completed">{{singleObj.status}}</span>
                   </div> 
              </div>
              <div class="row bs-example-lab-detail">
                  <div class="col-2">
                    <span>
                      <a title="Scan QR Code"  :href="singleObj.qr_code" data-fancybox="image_gallery">
                        <img :src="singleObj.qr_code" alt="Case QR Code" class="qr-code"  />
                      </a>
                    </span><br/>
                    <div class="qrcodereader">
                      <!-- <i class="fa fa-print" aria-hidden="true"></i>
                      <button class="btn btn-default btn-sm">View</button> -->
                    </div>
                  </div>
                  <div class="col-10">
                      <span class="inner-box-lab-detail">Technical Details</span>
                      <div class="row detail-margin">
                         <div class="col-4">
                          <span class="clinic-name">Process Date:</span><br/>
                          <span class="">{{singleObj.process_date}}</span>
                         </div> 
                         <div class="col-4">
                          <span class="clinic-name">Fixed Prosthesis:</span><br/>
                          <span class="">{{singleObj.prosthesis_display}}</span>
                         </div> 
                         <div class="col-4">
                          <span class="clinic-name">Teeth:</span><br/>
                          <span class="">{{singleObj.problematic_teeth}}</span>
                         </div> 
                      </div> 

                      <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Missing Teeth:</span><br/>
                        <span class="">{{singleObj.missing_teeth}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Materials used:</span><br/>
                        <span class="">{{singleObj.ceramic_display}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Metal Ceramic:</span><br/>
                        <span class="">{{singleObj.metal_ceramic_display}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Bite Registration:</span><br/>
                        <span class="">{{singleObj.bite_registration_display}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail">Color</span> <hr class="hrclassdetail"/>  

                     <div class="row detail-margin">
                       <div class="col-6">
                        <span class="clinic-name">Neck:</span><br/>
                        <span class="">{{singleObj.color_neck_id_display}}</span>
                       </div> 
                       <div class="col-6">
                        <span class="clinic-name">Body:</span><br/>
                        <span class="">{{singleObj.color_body_id_display}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                          <span class="clinic-name">Special Instruction and Shade guide used if not vita</span><br/>
                          <span class="">{{singleObj.color_text}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Try-Ins/Delivery:</span><br/>
                        <span class="">{{singleObj.delivery_display}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail">Trying Details</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Need Trying:</span><br/>
                      <span class="">{{singleObj.is_trying}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Trying Status:</span><br/>
                        <span class="">{{singleObj.trying_status}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Request By:</span><br/>
                        <span class="">{{singleObj.trying_by}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail" v-if="singleObj.tryin_type != '-' ">Trying Update</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Is this fits ?</span><br/>
                      <span class="">{{singleObj.tryin_type}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Date:</span><br/>
                        <span class="">{{singleObj.tryin_date}}</span>
                       </div> 
                       <div class="col-10">
                        <span class="clinic-name">Requests:</span><br/>
                        <span class="">{{singleObj.tryin_text}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail">Trying Details</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Need Trying:</span><br/>
                      <span class="">{{singleObj.is_trying}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Trying Status:</span><br/>
                        <span class="">{{singleObj.trying_status}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Request By:</span><br/>
                        <span class="">{{singleObj.trying_by}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail" v-if="singleObj.tryin_type != '-' ">Trying Update</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Is this fits ?</span><br/>
                      <span class="">{{singleObj.tryin_type}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Date:</span><br/>
                        <span class="">{{singleObj.tryin_date}}</span>
                       </div> 
                       <div class="col-10">
                        <span class="clinic-name">Requests:</span><br/>
                        <span class="">{{singleObj.tryin_text}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-4 ">
                          <caselog logintype="lab" :caseid="singlecaseid" v-if="singlecaseid"></caselog>
                       </div> 
                       <div class="col-4" >
                          <button v-if="singleObj.status == 'Pick-up pending'" type="button" class="casecursser btn btn-block btn-success" @click="receivecase()" >
                              Received
                          </button>
                          <button v-if="singleObj.status == 'Received'" type="button" class="casecursser btn btn-block btn-info" @click="updateStatus(singleObj.id,singleObj.case_code,'In Progress')">
                              In Progress
                          </button>
                          <button v-if="singleObj.status == 'In Progress'" type="button" class="casecursser btn btn-block btn-warning" @click="updateStatus(singleObj.id,singleObj.case_code,'Ready for delivery')">
                              Ready for delivery
                          </button>
                       </div> 
                       <div class="col-4" v-if="singleObj.image != ''">
                          <a :href="singleObj.image" data-fancybox="image_gallery" title="View Image" >
                            <img :src="singleObj.image" alt="Case Image" class="barcode" width="188px" height="70px"  />
                           </a>
                       </div>  
                       <div v-else class="col-4 invisible" > </div>
                    </div> 

                  </div>
              </div>
          </div> 
           <div class="modal fade componentDatareceive" id="componentDataModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"  >
              <div class="modal-header">
                <h5 class="modal-title" id="componentDataModalLabel">New Cases </h5>
                
              </div>
              <div class="modal-body">
                  <div class="box-body  receivepopup">
                    <table class="table table-responsive receivepopup">
                      <tbody>
                          <tr>
                            <th> Case Code </th>
                            <th> Clinic Name</th>
                            <th> EDD</th>
                            <th> Action</th>
                          </tr>
                      </tbody>
                      <tbody >
                          <tr :id="singleObj.id">
                            <!-- <th scope="row" v-text="runningData.id"></th> -->
                            <td align="left" v-text="singleObj.case_code" ></td>
                            <td align="left" v-text="singleObj.clinic_name" ></td>
                            <td> 
                              <datepicker 
                                :option="option" 
                                :format="customFormatter" 
                                name="caseDate" 
                                v-model="form.parent_id[singleObj.id]"
                                :disabledDates="disabledDates"
                              ></datepicker> 
                              <span  :id="['error-' + singleObj.id]" class="datevalidation" >Please select date.</span></td>
                            <td>
                              <div class="" role="group" aria-label="...">
                                <button type="button"@click="casereceive(singleObj)" class="btn btn-pitch padding-class">Receive</button>
                              </div>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                    <span>Note: Please add date and click on receive button</span>

                  </div>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
      </div>

   </div>
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    let funcHelp= new FunctionHelper;
    
    export default {
      components: {
              Datepicker
          },
        props:['clinic_id'],
        data(){
            return {
                  componentData:[],
                  singleObj:{},
                  searchObj :{},
                  alertType:'',
                  alertText:'',
                  updateobj:{},
                  // Component
                   form: {
                    parent_id: []
                  },
                  disabledDates: {
                    to: new Date()
                  },
                  searchQuery:'',
                  sortOrder:{field:'id',order:'desc'},                  
                  option: {
                      placeholder: 'when?',
                      inputStyle: {
                        'display': 'inline-block',
                        'padding': '6px',
                        'line-height': '22px',
                        'font-size': '16px',
                        'border': '2px solid #fff',
                        'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                        'border-radius': '2px',
                        'color': '#5F5F5F'
                      },
                  },
                  limit:{
                    type: 'weekday',
                    available: [1, 2, 3, 4, 5] 
                  }
                  
            };
        },
        mounted() {
            this.all();
        },
        methods:{
            customFormatter(date) {
              return moment(date).format('MM-D-YYYY');
            },
            resetSingleObj(){
                this.singleObj={qr_code:"",image:"",delivery_display:"-",color_body_id_display:"-",color_neck_id_display:"-",bite_registration_display:"-",metal_ceramic_display:'-',ceramic_display:'-',missing_teeth:'-',problematic_teeth:'-',prosthesis_display:'-',process_date:'-',status:'-',end_date:'-',doctor_name:'-',lab_name:'-',case_code:'-',color_text:'-',is_trying:'-',trying_status:'-',trying_by:'-',tryin_type:'-',tryin_date:'-',tryin_text:'-'}; 
            },

            receivecase(){
              $('#componentDataModal').modal('show');
            },

            casereceive(obj){
                let id = obj.id;
                let selecteddate = this.form.parent_id[id];

                if(selecteddate === undefined){ 
                  $('#error-'+id).show();
                  return false;
                }
                else{ 
                  $('#error-'+id).hide();
                }
                                
                this.$http.post('/lab/case/receive',{'id' : id,'edd':selecteddate,'case_code' : obj.case_code }).then((response)=>{
                    let res=response.data;
                    
                    if(res.status_code==200){
                        $('#componentDataModal').modal('hide');
                        this.all();
                        this.displayCase(id);
                    }
                    else{ 
                      // show message
                    }
                })
                .catch((error)=>{console.log(error)});

               // $('#'+obj.id).hide();
            },

            updateStatus(id,case_code,status){
              this.resetAlert();
                this.updateobj.id         = id;
                this.updateobj.case_code  = case_code;
                this.updateobj.status     = status;
                // this.categories.push(this.singleObj);
                this.$http.post('/lab/updateStatus',this.updateobj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==200){
                        this.all();
                        this.displayCase(id);
                    }
                    else{
                      
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            filtersearch(){
              let filter = $('a#dropdownMenuLink').html();
              this.resetAlert();
              this.resetSingleObj(); 
                this.searchObj.searchQuery = filter;
                this.searchObj.clinicid = this.clinic_id;
                // this.categories.push(this.singleObj);
                this.$http.post('/lab/casefilter',this.searchObj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          
                          this.componentData = [];
                          this.resetSingleObj(); 
                        }
                        else{
                          this.componentData =res.data;
                          this.singleObj = _.head(this.componentData,1);
                        }
                        
                    }
                    else{
                      
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },


            all(page=1){
                this.resetAlert();
                let uri=`/lab/cliniccaselibrary/${this.clinic_id}?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){                        
                          this.componentData = [];
                          this.resetSingleObj(); 
                        }
                        else{
                          this.componentData =res.data;
                          this.singleObj = _.head(this.componentData,1);
                        }
                        
                        //console.log(this.singleObj);
                    }

                        

                })
                .catch((error)=>{console.log(error)});
            },
            
            displayCase(id){
                this.resetAlert();
                let uri=`/lab/caseshow/${id}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.singleObj =res.data;
                        //console.log(this.singleObj);
                    }

                })
                .catch((error)=>{console.log(error)});
            },

            searchInput(){
                let searchQuery=this.searchQuery;

                let uri=`/lab/cliniccaselibrary/${this.clinic_id}?searchQuery=${searchQuery}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          this.componentData = [];
                          this.resetSingleObj(); 
                        }
                        else{
                          this.componentData =res.data;
                          this.singleObj = _.head(this.componentData,1);
                        }
                        
                        
                    }

                })
                .catch((error)=>{console.log(error)});
            },

            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            }
        },
        computed:{
          autoreferesh(){
            return this.componentData;
          },
          singlecaseid(){
              return this.singleObj.id;
            }

        },
        filters: {
            
        }
    }
</script>