<template>
   <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12">
          <div class="top" style="">
                <form id="custom-search-form" class="form-search form-horizontal" @submit.prevent="searchInput" >
                  <div class="input-append span12">
                      <i class="fa fa-search"></i>
                      <input type="text" v-model="searchQuery" class="search-query mac-style" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                  </div>
                </form>
                <span class="pull-left">All Cases</span>
                
          </div>   

          <div class="scroll-area" id="alldata" v-if="autoreferesh.length" >               
              <div class="dashboard-box-lab"  v-for="runningData in autoreferesh" @click="displayCase(runningData.id)" >
                  <a href="#">
                      <div class="bs-example-lab">
                          <span class="inner-box-lab">#{{runningData.case_code}}</span><br/>
                          <span class="clinic-name">{{runningData.lab_name}}</span><br/>
                          <span class="date-class">EDD - {{runningData.end_date}}</span>
                          <span class="inner-box-right-lab-pickup">{{runningData.status}}</span>
                      </div>
                  </a>
              </div>
          </div>
          <div class="scroll-area nodataDiv"  v-else>No case found</div>

      </div>

      <div class="col-xl-8 col-lg-12 col-md-12">
          <div class="dashboard-box">
              <div class="row bs-example-lab-detail">
                 <div class="col-2">
                  <span class="clinic-name">Case ID:</span>
                 </div>
                 <div class="col-10">
                    <span class="inner-box-lab">#{{singleObj.case_code}}</span>
                    <a :href="'chat/'+singleObj.case_code"> <!-- /clinic/chat -->
                      <span class="inner-box-right-lab-detail  fa fa-comments ">
                        <!-- <img class="chat-icon" src="/images/chat-icon.png"></img> -->
                      </span>
                    </a>
                 </div>
              </div>
              <div class="row bs-example-lab-detail-nobackground">
                  <div class="col-3 text-center">
                    <span class="doctor-name">Clinic Name</span><br/>
                    <span class="padding-detail">{{singleObj.clinic_name}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name">Doctor</span><br/>
                    <span class="padding-detail">{{singleObj.doctor_name}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name">New EDD</span><br/>
                    <span class="padding-detail">{{singleObj.end_date}}</span>
                   </div> 
                   <div class="col-3 text-center">
                    <span class="doctor-name">Status</span><br/>
                    <span class="padding-detail status-completed">{{singleObj.status}}</span>
                   </div> 
              </div>
              <div class="row bs-example-lab-detail">
                  <div class="col-2">
                    <span>
                      <a title="Scan QR Code"  :href="singleObj.qr_code" data-fancybox="image_gallery">
                        <img :src="singleObj.qr_code" alt="Case QR Code" class="qr-code"  />
                      </a>
                    </span><br/>
                    <div class="qrcodereader">
                      <!-- <i class="fa fa-print" aria-hidden="true"></i>
                      <button class="btn btn-default btn-sm">View</button> -->
                    </div>
                  </div>
                  <div class="col-10">
                      <span class="inner-box-lab-detail">Technical Details</span>
                      <div class="row detail-margin">
                         <div class="col-4">
                          <span class="clinic-name">Process Date:</span><br/>
                          <span class="">{{singleObj.process_date}}</span>
                         </div> 
                         <div class="col-4">
                          <span class="clinic-name">Fixed Prosthesis:</span><br/>
                          <span class="">{{singleObj.prosthesis_display}}</span>
                         </div> 
                         <div class="col-4">
                          <span class="clinic-name">Teeth:</span><br/>
                          <span class="">{{singleObj.problematic_teeth}}</span>
                         </div> 
                      </div> 

                      <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Missing Teeth:</span><br/>
                        <span class="">{{singleObj.missing_teeth}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Materials used:</span><br/>
                        <span class="">{{singleObj.ceramic_display}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Metal Ceramic:</span><br/>
                        <span class="">{{singleObj.metal_ceramic_display}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Bite Registration:</span><br/>
                        <span class="">{{singleObj.bite_registration_display}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail">Color</span> <hr class="hrclassdetail"/>  

                     <div class="row detail-margin">
                       <div class="col-6">
                        <span class="clinic-name">Neck:</span><br/>
                        <span class="">{{singleObj.color_neck_id_display}}</span>
                       </div> 
                       <div class="col-6">
                        <span class="clinic-name">Body:</span><br/>
                        <span class="">{{singleObj.color_body_id_display}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                          <span class="clinic-name">Special Instruction and Shade guide used if not vita</span><br/>
                        <span class="">{{singleObj.color_text}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Try-Ins/Delivery:</span><br/>
                        <span class="">{{singleObj.delivery_display}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail">Trying Details</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Need Trying:</span><br/>
                      <span class="">{{singleObj.is_trying}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Trying Status:</span><br/>
                        <span class="">{{singleObj.trying_status}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Request By:</span><br/>
                        <span class="">{{singleObj.trying_by}}</span>
                       </div> 
                    </div> 

                    <span class="inner-box-lab-detail" v-if="singleObj.tryin_type != '-' ">Trying Update</span>
                    <div class="row detail-margin">
                       <div class="col-4">
                        <span class="clinic-name">Is this fits ?</span><br/>
                      <span class="">{{singleObj.tryin_type}}</span>
                       </div> 
                       <div class="col-4">
                        <span class="clinic-name">Date:</span><br/>
                        <span class="">{{singleObj.tryin_date}}</span>
                       </div> 
                       <div class="col-10">
                        <span class="clinic-name">Requests:</span><br/>
                        <span class="">{{singleObj.tryin_text}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Delay Reson</span><br/>
                        <span class="">{{singleObj.reson}}</span>
                       </div> 
                    </div> 

                    <div class="row detail-margin">
                       <div class="col-12">
                        <span class="clinic-name">Previous EDD</span><br/>
                        <span class="">{{singleObj.due_date}}</span>
                       </div> 
                    </div> 
                    
                    <div class="row detail-margin">
                        <div class="col-4">
                          <caselog logintype="lab" :caseid="singlecaseid" v-if="singlecaseid"></caselog>
                       </div> 
                       <div class="col-4 invisible">
                          <button type="button" class="curssernone btn btn-block btn-success disabled" >
                              Delivered to patient
                          </button>
                       </div> 
                       <div class="col-4" v-if="singleObj.image != ''">
                          <a :href="singleObj.image" data-fancybox="image_gallery" title="View Image" >
                            <img :src="singleObj.image" alt="Case Image" class="barcode" width="188px" height="70px"  />
                          </a>
                       </div>  
                       <div v-else class="col-4 invisible" > </div>
                    </div> 

                  </div>
              </div>
          </div> 

      </div>

   </div>
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:[],
        data(){
            return {
                  componentData:[],
                  singleObj:{},
                  searchObj :{},
                  alertType:'',
                  alertText:'',
                  // Component
                  
                  searchQuery:'',
                  sortOrder:{field:'id',order:'desc'},
                  
            };
        },
        mounted() {
            this.all();
        },
        methods:{

            resetSingleObj(){
                this.singleObj={qr_code:"",image:"",delivery_display:"-",color_body_id_display:"-",color_neck_id_display:"-",bite_registration_display:"-",metal_ceramic_display:'-',ceramic_display:'-',missing_teeth:'-',problematic_teeth:'-',prosthesis_display:'-',process_date:'-',status:'-',end_date:'-',doctor_name:'-',lab_name:'-',case_code:'-',color_text:'-',is_trying:'-',trying_status:'-',trying_by:'-',tryin_type:'-',tryin_date:'-',tryin_text:'-'};
            },

            
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },


            all(page=1){
                this.resetAlert();
                let uri=`/lab/delayBoxCase?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          this.componentData = [];
                          this.resetSingleObj(); 
                        }
                        else{
                          this.componentData =res.data;
                          this.singleObj = _.head(this.componentData,1);
                        }
                        
                        //console.log(this.singleObj);
                    }

                })
                .catch((error)=>{console.log(error)});
            },
            
            displayCase(id){
                this.resetAlert();
                let uri=`/lab/caseshow/${id}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.singleObj =res.data;
                        //console.log(this.singleObj);
                    }

                })
                .catch((error)=>{console.log(error)});
            },

            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/lab/caselibrary?searchQuery=${searchQuery}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          this.componentData = [];
                          this.resetSingleObj(); 
                        }
                        else{
                          this.componentData =res.data;
                          this.singleObj = _.head(this.componentData,1);
                        }
                        
                        
                    }

                })
                .catch((error)=>{console.log(error)});
            },

            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            }
        },
        computed:{
            autoreferesh(){
            return this.componentData;

           
          },
          singlecaseid(){
              return this.singleObj.id;
            }

        },
        filters: {
            
        }
    }
</script>