<template>
    <div class="col-12">
      <div class="dashboard-box-no-margin" id="settingpages">
        <div class="row bs-example-report-table settings">
          <div class="box-body content-table">
            <div class="col-12" style="padding: 0;margin-top: 10px;" v-if='showAlert'>
              <alert :type="alertType">{{ alertText }}</alert>
            </div> 
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="sub-classes-tikets ma-t-28">
                       <div class="col-2">
                        <span class="support-name">First Name:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="text" class="form-control col-4" id="first_name" v-model='first_name' autofocus>
                       </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       <div class="col-2">
                        <span class="support-name">Last Name:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="text" class="form-control col-4" id="last_name" v-model='last_name' autofocus>
                       </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       <div class="col-2">
                        <span class="support-name">Contact Number:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="text" class="form-control col-4" id="contact_number" v-model='contact_number' autofocus>
                       </div>
                    </div>
                  </td>
                </tr>

                 <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       
                       <div class="col-md-7">
                            <button type="button" class="btn btn-primary ma-r-15" :disabled="isNotValidateForm" @click="setDate()" >Update</button>
                            
                            <a href="/lab/home" class="btn btn-danger" >Cancel</a>
                        </div>  
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        
        </div>
      </div>
    </div>
    
    
</template>

<script>
 export default {
        data(){
            return {
                showAlert:false,
                alertType:'',
                alertText:'',
                first_name:'',
                last_name:'',
                contact_number:'',
            }
        },
        mounted() {
            this.default();
        },
        methods:{
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            default(){
                let uri=`/lab/settings/getProfileData`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.first_name     = res.first_name;
                        this.last_name      = res.last_name;
                        this.contact_number = res.contact_number;
                    }
                })
                .catch();
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                this.alertText=text;
                this.showAlert=isShow;
            },

            setDate(){
              this.resetAlert();
              let uri=`/lab/settings/setProfileData`;
              this.$http.put(uri,{ first_name : this.first_name,last_name : this.last_name,contact_number : this.contact_number }).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                        this.first_name     = res.first_name;
                        this.last_name      = res.last_name;
                        this.contact_number = res.contact_number;
                        this.alertHandler('success',res.message,true);
                    }
              })
              .catch();
            },
        },
        computed:{
            isNotValidateForm(){
                if(this.first_name == "" || this.last_name=="" || this.contact_number=="" ){
                    return true;
                }
                return false;
            },
        }
}
</script>