<template>
    <li class="dropdown notifications-menu">
          <a @click="badgeUpdate()" href="#"  class="nav-link active dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-danger" v-if="showcount != 0" >{{showcount}}</span>
          </a>
          <ul class="dropdown-menu col-lg-4" >
            <!-- <li class="header">You have 10 notifications</li> -->
            <li>
              
              <ul class="menu" >
                <li v-for="element in autoreferesh" >
                  <a href="#">
                     {{element.message}}
                  </a>
                </li>
                
              </ul>
            </li>
            
          </ul>
        </li>
</template>

<script>
    export default {
        props:[],
        data(){
            return {
                count:0,
                componentData:[],
            };
        },
        mounted() {
            this.all();
            this.timer = setInterval(this.all, 10000);
        },
        methods:{
            all(){                
                let uri=`/lab/notifications`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.count = res.count;
                        this.componentData =res.list;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            badgeUpdate(){
                let uri=`/lab/badgeUpdate`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.count = 0;
                        this.all();
                    }
                })
                .catch((error)=>{console.log(error)});
            }
        },
        computed:{
            showcount(){
                return this.count;
            },

            autoreferesh(){
                return this.componentData;        
            },

        }
    }
</script>
