<template>
      <div class="modal fade componentDatareceive" id="componentDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content"  >
            <div class="modal-header">
              <h5 class="modal-title" id="componentDataModalLabel">New Cases </h5>
              
            </div>
            <div class="modal-body">
                <div class="box-body  receivepopup">
                  <table class="table table-responsive receivepopup">
                    <tbody>
                        <tr>
                          <th> Case Code </th>
                          <th> Clinic Name</th>
                          <th> QR Code</th>
                          <th> EDD</th>
                          <th> Action</th>
                        </tr>
                    </tbody>
                    <tbody v-if="componentData.length">
                        <tr v-for="runningData in componentData" :id="runningData.id">
                          <!-- <th scope="row" v-text="runningData.id"></th> -->
                          <td align="left" v-text="runningData.case_code" ></td>
                          <td align="left" v-text="runningData.clinic_name" ></td>
                          <td><a :href="runningData.qr_code" data-fancybox="image_gallery">
                                <img :src="runningData.qr_code"  class="barcode" width="150px" height="150px"  />
                              </a>
                              
                          <!-- <img :src="runningData.qr_code" class="barcode" width="150px" height="150px"> --></td>
                          <td> 
                            <datepicker 
                              :option="option" 
                              :format="customFormatter" 
                              name="caseDate" 
                              v-model="form.parent_id[runningData.id]"
                              :disabledDates="disabledDates"
                            ></datepicker> 
                            <span  :id="['error-' + runningData.id]" class="datevalidation" >Please select date.</span></td>
                          <td>
                            <div class="" role="group" aria-label="...">
                              <button type="button"@click="casereceive(runningData)" class="btn btn-pitch padding-class">Received</button>
                            </div>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                  <span>Note: Please select date and click on receive button</span>

                </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
    
    
</template>
<script>

import Datepicker from 'vuejs-datepicker';
import moment from 'moment';



 export default {
        components: {
              Datepicker
          },
        data(){
            return {
                componentData:[],
                singleObj:{},
                form: {
                    parent_id: []
                },
                option: {
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '6px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '2px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '2px',
                      'color': '#5F5F5F'
                    },
                },
                limit:{
                  type: 'weekday',
                  available: [1, 2, 3, 4, 5] 
                },
                disabledDates: {
                  to: new Date()
                }
            }
        },
        mounted() {
            console.log('Auth View2.');
            $('#componentDataModal').modal('show');
            this.all();
            let doo = new Date();
            console.log(doo);
            //$('#componentDataModal').on('hidden.bs.modal', ()=>this.restData());
        },
        methods:{
            
            customFormatter(date) {
              return moment(date).format('MM-D-YYYY');
            },

            all(){
                let uri=`/lab/pendingCaseList`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            casereceive(obj){
                let id = obj.id;
                let selecteddate = this.form.parent_id[id];

                if(selecteddate === undefined){ 
                  $('#error-'+id).show();
                  return false;
                }
                else{ 
                  $('#error-'+id).hide();
                }
                                
                this.$http.post('/lab/case/receive',{'id' : id,'edd':selecteddate,'case_code' : obj.case_code }).then((response)=>{
                    let res=response.data;
                    
                    if(res.status_code==200){
                        $('#'+obj.id).hide();
                    }
                    else{ 
                      // show message
                    }
                })
                .catch((error)=>{console.log(error)});

               // $('#'+obj.id).hide();
            },
        },
}
</script>
