<template>
    <div class="container">
        <button type="button" @click="showlogs()" class="logbuttonheight ma-t-28 btn btn-block btn-pitch " >
            Logs
        </button>

        <div class="modal fade componentData caselogcomponent" id="componentLogDataModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"  >
              <div class="modal-header">
                <h5 class="modal-title" id="componentDataModalLabel">Case Logs </h5>
                
              </div>
              <div class="modal-body">
                  <div class="box-body  ">
                    <div v-if="logData.length" >    
                        <ul class="timeline" style="margin: 20px 20px 10px 20px;">     
                            <li v-for="runningData in logData" >
                                <i :class="runningData.class"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{runningData.display_date | message_item_date_format}}</span>

                                    <h3 class="timeline-header">{{runningData.type_display}}</h3>

                                    <div class="timeline-body col-10"> 
                                      {{runningData.text}}
                                    </div>
                                  </div>
                            </li>
                        </ul>
                    </div>    
                  </div>
              </div>
              <div class="modal-footer closebutton">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>                
              </div>
            </div>
          </div>
        </div>


    </div>
    
</template>
<style type="text/css">
    .caselogcomponent .timeline > li > .timeline-item {
        box-shadow: none;
    }    
</style>
<script>

import moment from 'moment';


    export default {
        props:['logintype','caseid','caselog'],
        data(){
            return {
                  logData:[]
                  
            };
        },
        mounted() {
            $('#componentLogDataModal').on('hidden.bs.modal');
            //this.all();
        },
        methods:{
            showlogs(){
                let uri= `/${this.logintype}/caselogs/${this.caseid}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          this.logData = [];
                        }
                        else{
                          this.logData =res.data;
                        }
                        
                        //console.log(this.singleObj);
                    }

                })
                .catch((error)=>{console.log(error)});
                $('#componentLogDataModal').modal('show');
            },

            all(){
                
                let uri= `/${this.logintype}/caselogs/${this.caseid}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        if(res.data == ''){
                          this.logData = [];
                        }
                        else{
                          this.logData =res.data;
                        }
                        
                        //console.log(this.singleObj);
                    }

                })
                .catch((error)=>{console.log(error)});
            },
        },

        filters: {
            caselist_item_date_format: function (value) {
                if (!value) return '';

                if (moment().format('L') == moment(value).format('L')) {
                    return moment(value).format('LT');
                } else if (moment().subtract(1, 'days').format('L') == moment(value).format('L')) {
                    return 'Yesterday';
                } else {
                    return moment(value).format('L');
                }
            },

            message_item_time_format: function(value) {
                if (!value) return '';
                return moment(value).format('LT');
            },

            message_item_date_format: function(value) {
                if (!value) return '';
                return moment(value).format('LL');
            }
        }
    }
</script>
