<template>
<div>
    <a class="" href="#">
      <span class="forgotclass pull-right" @click="showlogs()"> Forgot Password?</span>
    </a>
    <div class="modal fade componentData delayboxcomponent" id="componentLogDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"  >
                    <div class="modal-header">
                        <h5 class="modal-title" id="componentDataModalLabel">Delay Box  </h5>
                    </div> 
                    <div class="modal-body">
                          <div class="box-body  ">
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
                    </div>
                </div>
            </div>
         </div>

         
</div>
    
</template>

<script>
    export default {
        mounted() {
            $('#componentLogDataModal').on('hidden.bs.modal');
            console.log('Component mounted.')
        },
        method:{
            showlogs(){
                $('#componentLogDataModal').modal('show');
            },
        }
    }
</script>
