<template>
    <li class="nav-item login-btn-section">
                  
      <a v-if="is_login == 0" class="nav-link js-scroll-trigger" href="javascript:void(0)">
        <button type="button" class="btn btn-custom" data-toggle="modal" onclick="openLoginRModal()">
           Login 
        </button>
      </a>
       <a v-else class="nav-link js-scroll-trigger" href="/clinic/home">
        <button type="button" class="btn btn-custom" data-toggle="modal" >
           Home
        </button>
      </a>
  </li>
</template>
<script>

    export default {
       
        data(){
            return {
                  logData:[],
                  is_login:''
            };
        },
        mounted() {
            this.all();
        },
        methods:{
           
            all(){
                
                let uri= `/clinic/checkislogin`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    this.is_login = res.is_login;
                    

                })
                .catch((error)=>{console.log(error)});
                    
            },
        },

    }
</script>
