 <template>
 	

 </template>

<style scoped>
    img{
        max-height: 36px;
    }
</style>

 <script type="text/javascript">

 class Errors {

	constructor(){

		this.errors = {};
	}

	get(field)
	{
		if(this.errors[field])
		{
			return this.errors[field][0];
		}
	}

	has(field)
	{
		if(this.errors[field])
		{
			return 1;
		}else
		{
			return 0;
		}
	}

	record(errors)
	{
		this.errors = errors;
	}

	clear(field)
	{
		delete this.errors[field];
	}

	any(){
		return Object.keys(this.errors).length > 0;
	}

}

 export default {
 	props:['userids','imgsrc'],
 	mounted() {

 		   var telInput = $("#contact_number");
            telInput.intlTelInput({
                nationalMode: false,
			    preventInvalidNumbers:true,
                utilsScript: "/plugins/intl-tel-input/build/js/utils.js"
            });
           
	          if(this.userids!=0)
	          {
				this.$http.get('/admin/clinics/fetchData/' + this.userids)
		    		.then(response => {
	     			 // JSON responses are automatically parsed.
	     			   let res= response.data;

	     			   this.clinic_name = res.data.clinic_detail.clinic_name;
	     			   this.first_name = res.data.first_name;
	     			   this.last_name = res.data.last_name;
	     			   this.contact_number = res.data.contact_number;
	     			   this.username = res.data.username;
	     			   this.address = res.data.clinic_detail.address;
	     			   this.city = res.data.clinic_detail.city;
	     			   this.country = res.data.clinic_detail.country;
	     			   this.email = res.data.email;

	     			   telInput.intlTelInput("setNumber", res.data.contact_number);

	    			}).catch(e => this.errors.record(error.response.data));	
	          	
	          }
        },

 	data(){

 		return {
 			
 			id: "",
 			clinic_name:"",
		    first_name: "",
		    last_name: "",
		    email: "",
		    username:"",
		    password:"",
		    contact_number:"",
		    address:"",
		    city:"",
		    country:"",
		    pic:this.imgsrc,
		    ispicchange: false,
		    errors: new Errors(),
		    showAlert:false,
	        alertType:'',
	        alertText:'', 
	        edit:true,
	        showme:false
	    };
    },

    methods: {

    	onSubmit(id) {

		   var telInput = $("#contact_number");
			if (telInput.val()) {
		    	if (telInput.intlTelInput("isValidNumber")) {
		       		$('.intl-tel-input').find('.colorred').remove();
		        } else {
		            $('.intl-tel-input').find('.colorred').remove();
		            $('.intl-tel-input').append('<label class="colorred">Please enter valid phone number.</label>');
		            return false;
		        }
		    }
		    this.dob = $('#dob').val();
    		if(!id)
    		{
	    		this.$http.post('/admin/clinics', this.$data)
	    		.then(this.onSuccess)
	    		.catch(error => this.errors.record(error.response.data));	
    		}else
    		{
    			this.$http.put('/admin/clinics/'+id, this.$data)
	    		.then(this.onSuccess)
	    		.catch(error => this.errors.record(error.response.data));	
    		}
    	},
    	onSuccess(response) {
	        this.alertHandler('success',response.data.message,true);
    	},
        resetAlert(){
            this.alertType='';
            this.alertText='';
            this.showAlert=false;
        },
        alertHandler(type,text,isShow){
            this.alertType=type;
            this.alertText=text;
            this.showAlert=isShow;
        },
        onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.pic = e.target.result;
                vm.ispicchange = true;
            };
            reader.readAsDataURL(file);
        },
        showpasswordfield(){
        	let vm = this;
        	vm.edit = false;
        	vm.showme = true;
        },
        hidepasswordfield(){
        	let vm = this;
        	vm.showme = false;
        	vm.edit = true;
        }
    }

 }
 </script>