<template>   
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box">
          <div class="box-header">
            <div class="box-title">
                <div class="input-group input-group-sm" style="width: 100px;">Case List</div>
                <!--      <div class="pull-right group-actions">
                        <button type="button" class="btn btn-danger" 
                          @click='removeBulkConfirm()' title='Delete Selected' 
                          :disabled='multiSelection.length==0'>
                          <i class='fa fa-trash-o' ></i>
                        </button>
                  </div>
               <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
                      <a class="btn btn-default pull-right" href='clinics/create' v-show='showAdd'>New</a>
                  </transition>-->
            </div>
            <div class="box-tools">
                <form class="form-inline" @submit.prevent="searchInput">
                <div class="input-group input-group-sm" style="width: 200px;">
                  <input type="text" v-model="searchQuery" name="table_search" class="form-control pull-right" placeholder="Search" id="exampleInputAmount" @keyup.delete="searchChanges">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                </form>
            </div>
          </div>
          
          <div class="box-title">
            <form class="form-inline" @submit.prevent="searchClinicVise">
             
              <div class="row col-md-12" >
                  <div class="col-md-3" style="padding-left: 5px;">
                      <div class="col-md-12">
                          <label style="justify-content: left;" >Clinics</label>
                      </div>
                      <div class="col-md-12">
                          <select  v-model="searchClinic" name="searchClinic" class="form-control pull-left" id="clinicInput" @keyup.delete="searchClinicChanges" style="width: 250px;">
                              <option  :value="0"></option>
                                <option v-for="clinic in clinicList" :value="clinic.id">
                                {{ clinic.clinic_name | capitalize }}
                              </option>
                           </select> 
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="col-md-12">
                          <label style="justify-content: left;" >Doctors</label>
                      </div>
                      <div class="col-md-12">
                          <select  v-model="searchDoctor" name="searchDoctor" class="form-control pull-left" id="clinicInput" @keyup.delete="searchDoctorChanges" style="width: 250px;">
                              <option  :value="0"></option>
                                <option v-for="doctor in doctorList" :value="doctor.id">
                                {{ doctor.full_name | capitalize }}
                              </option>
                           </select> 
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="col-md-12">
                          <label style="justify-content: left;" >Labs</label>
                      </div>
                      <div class="col-md-12">
                          <select  v-model="searchLab" name="searchLab" class="form-control pull-left" id="clinicInput" @keyup.delete="searchLabChanges" style="width: 250px;">
                              <option  :value="0"></option>
                                <option v-for="lab in labList" :value="lab.id">
                                {{ lab.full_name | capitalize }}
                              </option>
                           </select> 
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="col-md-12">&nbsp;</div>
                      <div class="col-md-12">
                          <button type="submit" class="btn btn-default">Search</button>
                          <button type="button"  class="btn btn-default" @click="reset(runningData)">Reset
                   </button>
                      </div>
                  </div>
              </div>
              
            </form>
          </div>
         
          <div class="box-body table-responsive table-fixed">
               <table class="table table-hover">
               <tbody>
                <tr>
                  <!--  <th><input type="checkbox" value='1' @click="toggleAll()" v-model='isAll'></th> -->
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols,index)">
                  {{ cols }} 
                  <span class="arrow" :class="sortOrder.field == SortingColumns[index] ? sortOrder.order : 'asc'" v-if="escapeSort.indexOf(SortingColumns[index]) < 0"></span>
                  </th>
                </tr>
                </tbody>
                <tbody  v-if="componentData.length">
                  <tr v-for="runningData in componentData">
                    <!-- <th>
                      <input type="checkbox" :value="runningData.id" v-model="multiSelection">
                    </th>-->
                    <td v-text="runningData.case_code"></td>
                    <td v-text="runningData.patient_Name"></td>
                    <td v-text="runningData.clinic_name"></td>
                    <td v-text="runningData.doctor_name"></td>
                    <td v-text="runningData.lab_name"></td>
                    <!-- <td v-text="runningData.process_date"></td>-->
                    <td v-text="runningData.created_at"></td>
                    <td v-text="runningData.status"></td>
                    <!-- <td v-if="runningData.status==1">
                      <button class="btn btn-primary" @click="switchStatus(runningData)">
                        Active
                      </button>
                    </td>
                    <td v-else>
                      <button class="btn btn-danger" @click="switchStatus(runningData)">
                        Inactive
                      </button>
                    </td>-->
                    <td>
                      <div class="" role="group" aria-label="...">
                        <button title='View Case' type="button" class="btn btn-primary" @click="show(runningData)">
                           <i class="fa fa-archive" aria-hidden="true"></i>
                         </button>
                        <a title='Case Logs' type="button" class="btn btn-primary btn-round" :href="'cases/log/'+runningData.id">
                         <i class="fa fa-align-justify"></i>
                       </a> 
                         
                      </div>
                   </td>
                  </tr>
               </tbody>
               <tbody  v-else>
                <tr>
                  <td colspan="9">No cases available!</td>
                </tr>
               </tbody>
              </table>
          </div>
          <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" aria-label="Previous" @click="prevPage()" >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>


                </li>
                <li class="page-item" v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" class="page-link"  @click="all(n)">{{ n }}</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Next" @click="nextPage()" >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </div>
      </div>
      <!-- Modal Window -->
      <div class="modal fade" id="componentDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-xl" role="document">
          <div class="modal-content" >
            <div class="modal-header">
              <h5 class="modal-title" id="componentDataModalLabel"><strong>{{singleObj.case_code }}</strong></h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Patient Name</strong></label>
                <div class="col-sm-7">
                  {{singleObj.first_name }} {{singleObj.last_name }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Clinic Name</strong></label>
                <div class="col-sm-7">
                  {{singleObj.clinic_name }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Doctor Name</strong></label>
                <div class="col-sm-7">
                  {{singleObj.doctor_name }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Lab Name</strong></label>
                <div class="col-sm-7">
                  {{singleObj.lab_name }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Current Status</strong></label>
                <div class="col-sm-7">
                  {{singleObj.status }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>EDD</strong></label>
                <div class="col-sm-7">
                  {{singleObj.end_date }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Ref Case ID</strong></label>
                <div class="col-sm-7">
                  -
                </div>
              </div>
              <div class="box-header with-border">
                <h3 class="box-title">Technical Details</h3>
              </div>
              <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Process Date</strong></label>
                <div class="col-sm-7">
                  {{singleObj.process_date }}
                </div>
              </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Fixed Prosthesis</strong></label>
                <div class="col-sm-7">
                  {{singleObj.prosthesis_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Missing Teeth</strong></label>
                <div class="col-sm-7">
                  {{singleObj.problematic_teeth}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Problematic Teeth</strong></label>
                <div class="col-sm-7">
                  {{singleObj.problematic_teeth}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Material Used</strong></label>
                <div class="col-sm-7">
                  {{singleObj.material_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Material Used</strong></label>
                <div class="col-sm-7">
                  {{singleObj.material_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Metal Ceramic</strong></label>
                <div class="col-sm-7">&nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Metal</strong></label>
                <div class="col-sm-7"> {{singleObj.metal_ceramic_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"></label>
                <div class="col-sm-7">{{singleObj.metal_ceramic_text}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Prosthetic Margins</strong></label>
                <div class="col-sm-7">{{singleObj.prosthetic_margins}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Ceramic Facial Margin</strong></label>
                <div class="col-sm-7"> {{singleObj.ceramic_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"></label>
                <div class="col-sm-7">{{singleObj.ceramic_facial_text}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Bite Registration</strong></label>
                <div class="col-sm-7">&nbsp;</div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">{{singleObj.bite_registration_display}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Color </strong></label>
                <div class="col-sm-7">&nbsp;</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Neck </strong></label>
                <div class="col-sm-7">{{singleObj.color_neck_id_display}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong> Body </strong></label>
                <div class="col-sm-7">{{singleObj.color_body_id_display}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Try-ins Delivery </strong></label>
                <div class="col-sm-7">{{singleObj.delivery_display}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Date Limit If Any</strong></label>
                <div class="col-sm-7">{{singleObj.delivery_date_text}}</div>
            </div> 
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>QR Code</strong></label>
                <img :src="singleObj.qr_code" class="img-responsive img-rounded clinicimage" style="width: 200px;"/>
            </div>  
            <div class="form-group">
                <label class="col-sm-4 float-left control-label"><strong>Case Image</strong></label>
                <img :src="singleObj.image" class="img-responsive img-rounded clinicimage" style="width: 200px;"/>
            </div>   


            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:['headline'],
        data(){
            return {
                clinicList:[],
                doctorList:[],
                labList:[],
                componentData:[],
                multiSelection:[],
                isAll:"",
                pagination:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component ,'process_date','Process Date'
                gridColumns:['Code','Patient ID','Clinic Name','Doctor Name','Lab Name','Date created','Status','Action'],
                SortingColumns:['case_code','patient_Name','clinic_name','doctor_name','lab_name','created_at','status','Action'],
                escapeSort:['clinic_name','doctor_name','lab_name','status','Action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"},
                    {title:'force',fire:"force"}
                ],
                searchQuery:'',
                sortOrder:{field:'first_name',order:'asc'},
                singleObj:{id:Number},
            };
        },
        mounted() {
            this.all();
            this.clinicListCall();
            this.labListCall();
            this.doctorListCall();
            this.showAdd=true;
            $('#componentDataModal').on('hidden.bs.modal', ()=>this.resetSingleObj());
            let cats=this.componentData;
        },
        methods:{
            resetSingleObj(){
                this.singleObj={id:""}; 
            },
            clinicListCall(){ 
                let uri=`/admin/clinics/all`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.clinicList=res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            doctorListCall(){ 
                let uri=`/admin/doctors/all`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.doctorList=res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            labListCall(){ 
                let uri=`/admin/labs/all`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.labList=res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            resetMultiSelection(){
              this.multiSelection=[];
              this.isAll="";
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            toggleAll(){
              if(this.isAll==true){
                this.componentData.map((ele)=>{
                  this.multiSelection.push(ele.id);
                })
              }
              else{
                this.componentData.map((ele)=>{
                  this.multiSelection.pop(ele.id);
                })
              }
            },
            reset(page=1){
                this.resetAlert();
                let uri=`/admin/cases?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;

                    console.log(response.data);
                    if(res.status_code==200){
                        this.searchClinic ='';
                        this.searchDoctor = '';
                        this.searchLab  = '';
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            all(page=1){
                this.resetAlert();
                let uri=`/admin/cases?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;

                    console.log(response.data);
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            show(obj){
                this.pupupMod='edit';
                this.resetAlert();
                this.singleObj=obj;
                $('#componentDataModal').modal('show');
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/admin/cases/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            removeBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkRemoveBox(this.headline,`You will not be able to recover selected ${this.headline}!`);
            },
            removeMultiple(){
                this.resetAlert();
                let uri=`/admin/cases/removeBulk`;
                if(this.multiSelection.length){
                  this.$http.post(uri,this.multiSelection).then((response)=>{
                      let res= response.data;
                      if(res.status_code==200){
                        // Handling alert
                        this.all();
                        this.resetMultiSelection();
                        this.alertHandler('success',res.message,true);
                      }
                      else{
                        this.alertHandler('error',res.message,true); 
                      }
                  })
                  .catch((error)=>{console.log(error)});
                }
            },
            switchStatus(obj){
              this.resetAlert();
              let newStat=(obj.status==1)?0:1;
              let uri=`/admin/cases/status`;
              this.$http.put(uri,obj).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    // Handling alert
                    obj.status=newStat;
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },
            switchStatusBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkStatusBox(this.headline,`You will be able to restore selected ${this.headline} state!`);
            },
            switchStatusSelected(){
              this.resetAlert();
              let uri=`/admin/cases/statusBulk`;
              this.$http.put(uri,this.multiSelection).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    this.all();
                    this.resetMultiSelection();
                    // Handling alert
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols,index){
              if(this.escapeSort.indexOf(this.SortingColumns[index]) < 0 ){
                if(this.SortingColumns[index] == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:this.SortingColumns[index],order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/admin/cases?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchClinicVise(){
                let searchClinic  =this.searchClinic;
                let searchDoctor  =this.searchDoctor;
                let searchLab     =this.searchLab;
                let uri=`/admin/cases?clinic=${searchClinic}&doctor=${searchDoctor}&lab=${searchLab}&is_clinic=yes`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
            searchClinicChanges(){
                let searchClinic=this.searchClinic;
                if(searchClinic==""){
                    this.all();
                }
            },
            searchDoctorChanges(){
                let searchDoctor=this.searchDoctor;
                if(searchDoctor==""){
                    this.all();
                }
            },
            searchLabChanges(){
                let searchLab=this.searchLab;
                if(searchLab==""){
                    this.all();
                }
            },
        },
        computed:{},
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>