<template>
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box">
          <div class="box-header">
            <div class="box-title">
              
               


                <!--      <div class="pull-right group-actions">
                        <button type="button" class="btn btn-danger" 
                          @click='removeBulkConfirm()' title='Delete Selected' 
                          :disabled='multiSelection.length==0'>
                          <i class='fa fa-trash-o' ></i>
                        </button>
                  </div>
               <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
                      <a class="btn btn-default pull-right" href='clinics/create' v-show='showAdd'>New</a>
                  </transition>-->
            </div>
            <div class="box-tools">
                <a class="btn btn-default pull-right" href='/admin/clinics' v-show='showAdd'>Back</a>


            </div>
          </div>
          <div class="box-body table-responsive table-fixed">
               <table class="table table-hover">
               <tbody>
                <tr>
                  <!--  <th><input type="checkbox" value='1' @click="toggleAll()" v-model='isAll'></th> -->
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols,index)">
                  {{ cols }} 
                  <span class="arrow" :class="sortOrder.field == SortingColumns[index] ? sortOrder.order : 'asc'" v-if="escapeSort.indexOf(SortingColumns[index]) < 0"></span>
                  </th>
                </tr>
                </tbody>
                <tbody  v-if="componentData.length">
                  <tr v-for="runningData in componentData">
                    <!-- <th>
                      <input type="checkbox" :value="runningData.id" v-model="multiSelection">
                    </th>-->
                    <td v-text="runningData.first_name"></td>
                    <td v-text="runningData.email"></td>
                    <td v-text="runningData.clinic_name"></td>
                    <td v-text="runningData.username"></td>
                    <td v-text="runningData.case_count_pending"></td>
                    <td v-text="runningData.case_count_completed"></td>
                    <td v-text="runningData.created_at"></td>
                    
                    <!-- 
                    <td>
                      <div class="" role="group" aria-label="...">
                        <a type="button" class="btn btn-primary btn-round" :href="'clinics/'+runningData.id+'/edit'">
                         <i class="fa fa-pencil-square-o"></i>
                       </a>
                         <a type="button" class="btn btn-danger btn-round" @click="removeConfirm(runningData)">
                           <i class='fa fa-trash-o'></i>
                         </a>
                      </div>
                   </td>-->
                  </tr>
               </tbody>
               <tbody  v-else>
                <tr>
                  <td colspan="9">No doctors available!</td>
                </tr>
               </tbody>
              </table>
          </div>
          <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" aria-label="Previous" @click="prevPage()" >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>


                </li>
                <li class="page-item" v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" class="page-link"  @click="all(n)">{{ n }}</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Next" @click="nextPage()" >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:['headline','usrid','name'],
        data(){
            return {
                clinicList:[],
                componentData:[],
                multiSelection:[],
                isAll:"",
                pagination:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['Name','Email','Clinic Name','UserName','Current cases','Completed cases','Date created'],
                SortingColumns:['first_name','email','clinic_name','username','CreatedAt'],
                escapeSort:['status','Action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"},
                    {title:'force',fire:"force"}
                ],
                searchQuery:'',
                sortOrder:{field:'first_name',order:'asc'},
                
            };
        },
        mounted() {
            this.all();
            this.clinicListCall();
            this.showAdd=true;
        },
        methods:{
            clinicListCall(){ 
                let uri=`/admin/clinics/all`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.clinicList=res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            resetMultiSelection(){
              this.multiSelection=[];
              this.isAll="";
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            toggleAll(){
              if(this.isAll==true){
                this.componentData.map((ele)=>{
                  this.multiSelection.push(ele.id);
                })
              }
              else{
                this.componentData.map((ele)=>{
                  this.multiSelection.pop(ele.id);
                })
              }
            },
            all(page=1){
                this.resetAlert();
                let uri=`/admin/doctors/clinic/${this.usrid}?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;

                    console.log(response.data);
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/admin/doctors/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            removeBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkRemoveBox(this.headline,`You will not be able to recover selected ${this.headline}!`);
            },
            removeMultiple(){
                this.resetAlert();
                let uri=`/admin/doctors/removeBulk`;
                if(this.multiSelection.length){
                  this.$http.post(uri,this.multiSelection).then((response)=>{
                      let res= response.data;
                      if(res.status_code==200){
                        // Handling alert
                        this.all();
                        this.resetMultiSelection();
                        this.alertHandler('success',res.message,true);
                      }
                      else{
                        this.alertHandler('error',res.message,true); 
                      }
                  })
                  .catch((error)=>{console.log(error)});
                }
            },
            switchStatus(obj){
              this.resetAlert();
              let newStat=(obj.status==1)?0:1;
              let uri=`/admin/doctors/status`;
              this.$http.put(uri,obj).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    // Handling alert
                    obj.status=newStat;
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },
            switchStatusBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkStatusBox(this.headline,`You will be able to restore selected ${this.headline} state!`);
            },
            switchStatusSelected(){
              this.resetAlert();
              let uri=`/admin/doctors/statusBulk`;
              this.$http.put(uri,this.multiSelection).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    this.all();
                    this.resetMultiSelection();
                    // Handling alert
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols,index){
              if(this.escapeSort.indexOf(this.SortingColumns[index]) < 0 ){
                if(this.SortingColumns[index] == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:this.SortingColumns[index],order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/admin/doctors?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchClinicVise(){
                let searchClinic=this.searchClinic;
                let uri=`/admin/doctors?searchQuery=${searchClinic}&is_clinic=yes`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
            searchClinicChanges(){
                let searchClinic=this.searchClinic;
                if(searchClinic==""){
                    this.all();
                }
            },
        },
        computed:{},
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>