<template>
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box">
          <div class="box-header">
            <div class="box-title">
              <form class="form-inline" @submit.prevent="searchClinicVise">
              <div class="input-group input-group-sm" style="width: 100px;">Clinic List</div>
                <div class="input-group input-group-sm" style="width: 300px;">
                   <select  v-model="searchClinic" name="searchClinic" class="form-control pull-left" id="clinicInput" @keyup.delete="searchClinicChanges" >
                      <option  :value="0"></option>
                      <option v-for="clinic in clinicList" :value="clinic.id">
                      {{ clinic.clinic_name | capitalize }}
                    </option>

                    </select> 

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                  </div>
                  <div class="input-group-btn">
                   <button type="button"  class="btn btn-default" @click="reset(runningData)">Reset
                   </button>
                  </div> 
                </div>
                </form>
               


                <!--      <div class="pull-right group-actions">
                        <button type="button" class="btn btn-danger" 
                          @click='removeBulkConfirm()' title='Delete Selected' 
                          :disabled='multiSelection.length==0'>
                          <i class='fa fa-trash-o' ></i>
                        </button>
                  </div>
               <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
                      <a class="btn btn-default pull-right" href='clinics/create' v-show='showAdd'>New</a>
                  </transition>-->
            </div>
            <div class="box-tools">
                <form class="form-inline" @submit.prevent="searchInput">
                <div class="input-group input-group-sm" style="width: 200px;">
                  <input type="text" v-model="searchQuery" name="table_search" class="form-control pull-right" placeholder="Search" id="exampleInputAmount" @keyup.delete="searchChanges">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                </form>


            </div>
          </div>
          <div class="box-body table-responsive table-fixed">
               <table class="table table-hover">
               <tbody>
                <tr>
                  <!--  <th><input type="checkbox" value='1' @click="toggleAll()" v-model='isAll'></th> -->
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols,index)">
                  {{ cols }} 
                  <span class="arrow" :class="sortOrder.field == SortingColumns[index] ? sortOrder.order : 'asc'" v-if="escapeSort.indexOf(SortingColumns[index]) < 0"></span>
                  </th>
                </tr>
                </tbody>
                <tbody  v-if="componentData.length">
                  <tr v-for="runningData in componentData">
                    <!-- <th>
                      <input type="checkbox" :value="runningData.id" v-model="multiSelection">
                    </th>-->
                    <td v-text="runningData.first_name"></td>
                    <td v-text="runningData.email"></td>
                    <td v-text="runningData.clinic_name"></td>
                    <td>No</td>
                    <td v-text="runningData.case_count_pending"></td>
                    <td v-text="runningData.case_count_completed"></td>
                    <td>
                        <button v-if="runningData.is_approved == 'Pending Approval'" class="btn btn-primary cursor-pointer" 
                            @click="switchVerification(runningData)">
                            Pending
                        </button>
                        <span v-else>Approved</span>
                    </td>
                    <td v-text="runningData.created_at"></td>                    
                    <td>
                      <div class="" role="group" aria-label="...">
                        <a type="button" class="btn btn-primary btn-round" :href="'labs/'+runningData.id+'/edit'">
                         <i class="fa fa-pencil-square-o"></i>
                       </a>
                       <!--   <a type="button" class="btn btn-danger btn-round" @click="removeConfirm(runningData)">
                           <i class='fa fa-trash-o'></i>
                         </a>-->
                      </div>
                   </td>
                  </tr>
               </tbody>
               <tbody  v-else>
                <tr>
                  <td colspan="9">No labs available!</td>
                </tr>
               </tbody>
              </table>
          </div>
          <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" aria-label="Previous" @click="prevPage()" >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>


                </li>
                <li class="page-item" v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" class="page-link"  @click="all(n)">{{ n }}</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Next" @click="nextPage()" >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:['headline'],
        data(){
            return {
                clinicList:[],
                componentData:[],
                multiSelection:[],
                isAll:"",
                pagination:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                searchClinic:'',
                gridColumns: ['Name', 'Email', 'Clinic Name', 'Registered', 'Current Cases', 'Completed cases', 'Approval', 'Date Created', 'Action'],
                SortingColumns: ['first_name', 'email', '', '', '', '', 'is_approved', 'created_at', 'action'],
                escapeSort: ['action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"},
                    {title:'force',fire:"force"}
                ],
                searchQuery:'',
                sortOrder:{field:'first_name',order:'asc'},
            };
        },
        mounted() {
            this.all();
            this.clinicListCall();
            this.showAdd=true;
        },
        methods:{
            clinicListCall(){ 
                let uri=`/admin/clinics/all`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.clinicList=res.data;
                    }
                })
                .catch((error)=>{});
            },
            resetMultiSelection(){
              this.multiSelection=[];
              this.isAll="";
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            toggleAll(){
              if(this.isAll==true){
                this.componentData.map((ele)=>{
                  this.multiSelection.push(ele.id);
                })
              }
              else{
                this.componentData.map((ele)=>{
                  this.multiSelection.pop(ele.id);
                })
              }
            },
            reset(page=1){
                this.resetAlert();
                let uri=`/admin/labs?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;

                    if(res.status_code==200){
                        this.searchClinic ='';
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{});
            },
            all(page=1){
                this.resetAlert();
                let uri=`/admin/labs?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;

                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{});
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/admin/labs/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{});
            },
            removeBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkRemoveBox(this.headline,`You will not be able to recover selected ${this.headline}!`);
            },
            removeMultiple(){
                this.resetAlert();
                let uri=`/admin/labs/removeBulk`;
                if(this.multiSelection.length){
                  this.$http.post(uri,this.multiSelection).then((response)=>{
                      let res= response.data;
                      if(res.status_code==200){
                        // Handling alert
                        this.all();
                        this.resetMultiSelection();
                        this.alertHandler('success',res.message,true);
                      }
                      else{
                        this.alertHandler('error',res.message,true); 
                      }
                  })
                  .catch((error)=>{});
                }
            },
            switchVerification(obj) {
                this.resetAlert();
                let is_approved = obj.is_approved == 'Approved' ? 'Pending Approval' : 'Approved';
                let uri = '/admin/labs/verify';
                this.$http.put(uri, obj).then((response) => {
                    let res = response.data;
                    if (res.status_code == 200) {
                        obj.is_approved = is_approved;
                        this.alertHandler('success', res.message, true);
                    }
                })
                .catch((error) => {});
            },
            switchStatus(obj){
              this.resetAlert();
              let newStat=(obj.status==1)?0:1;
              let uri=`/admin/labs/status`;
              this.$http.put(uri,obj).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    // Handling alert
                    obj.status=newStat;
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },
            switchStatusBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkStatusBox(this.headline,`You will be able to restore selected ${this.headline} state!`);
            },
            switchStatusSelected(){
              this.resetAlert();
              let uri=`/admin/labs/statusBulk`;
              this.$http.put(uri,this.multiSelection).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    this.all();
                    this.resetMultiSelection();
                    // Handling alert
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols,index){
              if(this.escapeSort.indexOf(this.SortingColumns[index]) < 0 ){
                if(this.SortingColumns[index] == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:this.SortingColumns[index],order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/admin/labs?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{});
            },
            searchClinicVise(){
                let searchClinic=this.searchClinic;
                let uri=`/admin/labs?searchQuery=${searchClinic}&is_clinic=yes`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
            searchClinicChanges(){
                let searchClinic=this.searchClinic;
                if(searchClinic==""){
                    this.all();
                }
            },
        },
        computed:{},
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>