@import "variables";
@import "mixin";
.skin {
	.main-header {
		.navbar {
			 
			.nav {
				> li > a {
					color: white;
					&:hover {
						background: $black_10;
						color: white;
					}
					&:active {
						background: $black_10;
						color: white;
					}
					&:focus {
						background: $black_10;
						color: white;
					}
				}
				.open > a {
					background: $black_10;
					color: $color_black_haze_approx;
					&:hover {
						background: $black_10;
						color: $color_black_haze_approx;
					}
					&:focus {
						background: $black_10;
						color: $color_black_haze_approx;
					}
				}
				> .active > a {
					background: $black_10;
					color: $color_black_haze_approx;
				}
			}
			.sidebar-toggle {
				color: $white;
				&:hover {
					color: $white;
					background: $black_10;
				}
			}
		}
		.logo {
			
			color: $white;
			border-bottom: 0 solid transparent;
			
		}
		li.user-header {
			background-color: $color_valencia_approx;
		}
	}
	.content-header {
		background: transparent;
	}
	.wrapper {
		background-color: $color_shark_approx;
	}
	.main-sidebar {
		background-color: $color_shark_approx;
	}
	.left-side {
		background-color: $color_shark_approx;
	}
	.sidebar-form {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		border: 1px solid $color_limed_spruce_approx;
		margin: 10px;
		input[type="text"] {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			background-color: $color_limed_spruce_approx;
			border: 1px solid transparent;
			height: 35px;
			color: $color_storm_dust_approx;
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 2px;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 0;
			//Instead of the line below you could use @include border-bottom-right-radius($radius)
			border-bottom-right-radius: 0;
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 2px;
			&:focus {
				background-color: $white;
				color: $color_storm_dust_approx;
				+ .input-group-btn .btn {
					background-color: $white;
					color: $color_storm_dust_approx;
					border-left-color: $white;
				}
			}
		}
		.btn {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			background-color: $color_limed_spruce_approx;
			border: 1px solid transparent;
			height: 35px;
			color: $color_mountain_mist_approx;
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 0;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 2px;
			//Instead of the line below you could use @include border-bottom-right-radius($radius)
			border-bottom-right-radius: 2px;
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 0;
		}
	}
	.user-panel > .info {
		color: $white;
		> a {
			color: $white;
		}
	}
	.sidebar-menu > li {
		&.header {
			color: $color_blue_bayoux_approx;
			background: $color_mirage_approx;
		}
		> a {
			font-weight:600;
		}
		&:hover > a > i{
			color: #E36C59;
			
		}
		&.active > a > i{
			color: #E36C59;
			
		}
		> .treeview-menu {
			margin: 0 1px;
			background: #f4f4f5 none repeat scroll 0 0;
		}
	}
	.sidebar a {
		font-weight:600;
		color: $color_heather_approx;
		&:hover {
			text-decoration: none;
		}
	}
	.treeview-menu > li {
		> a {
			&:hover {
				color: black;
			}
		}
		&.active > a {
			color: black;
		}
	}
}
@media(max-width: 767px) {
	.skin .main-header .navbar .dropdown-menu li {
		&.divider {
			background-color: $white_10;
		}
		a {
			color: $white;
		
		}
	}
}