@import "variables";
$table-head-color:#424242;
$table-head-bg:lighten(#424242,50%);
table{
	&.has-selectBox{
		tr{
		  th{
		    &:first-child{
		      width:10px;
		      text-align: center;
		    }
		  }
		}
	}
	td {
	    &:first-child {
	        width: 20%;
	    }
	    &:last-child {
	        width: 20%;
	    }
	}
}

thead{
	tr{
    	background: #c2c2c2;
    	color:$table-head-color;
    	cursor:pointer;
	}
}
th{
  &.active {
      color: #FFF;
      .arrow {
        opacity: 1;
      }
  }
}
.box-tools-search{
	right: 10px;
	top: 10px;
	float: right;
	text-align: right;
}
.arrow {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 5px;
	opacity: 0.66;
	&.asc {
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-bottom: 4px solid $table-head-color;
	}
	&.desc {
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-top: 4px solid $table-head-color;
	}
}