$base-color:#605ca8;

// SKIN SETTINGS
$white_10: rgba(255, 255, 255, 0.1);
$white: #fff;
$color_punch_approx: $base-color;
$color_valencia_approx: #605ca8;
$black_10: #605CA8;
$color_black_haze_approx: #5a6770;
$color_persian_red_approx: #424242;
$color_shark_approx: #f9fafc;
$color_blue_bayoux_approx: black;
$color_mirage_approx: #ECF0F5;
$color_outer_space_approx: #ECF0F5;
$color_heather_approx: #43597a;
$color_bali_hai_approx: #8aa4af;
$color_limed_spruce_approx: #374850;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$main_section_bg : #fff5e5;
// AUTH LOGO
$auth-logo-bg:#424242;
$auth-logo-height:55px;

$btn-primary-color:#fff !default;
$btn-primary-bg:$base-color !default;
$btn-primary-border:darken($btn-primary-bg, 15%) !default;

$input-box-size:200px;
$admin-edit-profile-bc:#424242;