// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
@import "css/clean-blog";
@import "font.css";

.hide {
  display:none;
}
.show{
  display:block;
}

visi-hide {
  visibility:hidden;
}

a.addbutton {
  color : #ffffff !important;
  padding-top: 9px;
    padding-left: 18px;
    float: right;
}

html, body {
    /* background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0; */
    // background-color:red;
}

#mainNav{
	background: #033649 none repeat scroll 0 0 !important;
}

#mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover{
  color: #e36c59 !important;
}

.img{
	margin-top: -17px;
    width: 7em;
}


.img1{
	padding-top:40px;
	padding-bottom:50px;
	text-align:center;
}

.sub-section-heading{
  padding-bottom:10px;
  text-align: center;
}

.small{
  font-size: 0.9em;
  text-align: center;
}

.image{
	padding-right:20px;
}

.btn-custom{
	background-color: #e36c59;
    border-color: #e36c59;
	border-radius: 27px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    margin: -9px;
    padding: 9px 18px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
}

.btn-custom1{
	background-color: #e36c59;
    border-color: #e36c59;
	border-radius: 27px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 15px 43px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

.btn-custom2{
  margin-top:15px;
  background-color: #033649;
    border-color: #033649;
  border-radius: 27px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding: 15px 65px;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
}

.btn-custom3{
    background-color: #e36c59;
    border-color: #e36c59;
    border-radius: 3px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding: 18px 142px;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
}

.btn-custom4{
	background-color: #e36c59;
    border-color: #e36c59;
	  border-radius: 3px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-left: 30%;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
}

.intro-lead-in{
	font-size: 53px;
    font-weight: 700;
    padding-left: 23px;
}

.intro-heading{
	font-size: 30px;
	padding-left:25px;
	padding-bottom: 20px;
}

.paragraph{
	  font-size: 17px;
    padding-bottom: 31px;
    padding-left: 26px;
    width: 71%;
}

.section-heading{
	color: #033649;
    font-size: 40px;
    text-align: center;
}

.black-section-heading{
	font-size: 34px;
    text-align: center;
    padding-bottom: 25px;
}

.section-heading-white{
	color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.subheading {
    text-align: center;
    font-size: 16px;
}

hr.hr{
  border-top: 3px solid #e36c59;
  width: 120px;
  margin-bottom: 3rem;
}

hr.hr1{
  border-top: 2px solid #e36c59;
  width: 120px;
  padding-bottom: 15px;
}

.customback{
  background-color:#f2f9fe;
  text-align: center;
  margin-top: 50px;
  padding-top:35px;
  padding-bottom: 21px;
}

.contentcustom{
  margin-top: 80px;
  margin-bottom: 40px;
  padding-top:15px;
}

.customback-nopadding{
  background-color:#f2f9fe;
  text-align: center;
  padding-top:70px;
  padding-bottom: 70px;
}

.customback2{
  background-color:#033649;
  text-align: center;
  padding-top:70px;
  padding-bottom: 100px;
}

.subheading-white{
	color:#ffffff;
	font-size: 16px;
}
//Slider related CSS

.carousel {
	position: unset;
    margin-top:50px;
}


/* .carousel-control-prev-icon{
  background-image: url('../images/4arrow.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
}

.carousel-control-next-icon{
  background-image: url('../images/5arrow.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
}
 */
.carousel-indicators {
	margin-bottom: -72px;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #c8d1d3;  
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #e36c59;
}

.carousel-inner{
	margin-bottom: 70px;
}

.nav-pills .nav-link {
	border-radius: 0;
    border: 2px solid #fff;
    color:#fff;
}

.navigation {
    font-size: 16px;
    font-weight: bold;
   
    color:#fff;   
}


.nav-pills .nav-link.active, .show > .nav-pills .nav-link{
  background-color:#e4f7fe;
  color:#033649;
}

.row.tabs {
    margin-top: 70px;
}

//box CSS

.box{
	margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
    padding: 0 50px;
}

.box1{
	height:auto;
	margin-bottom: 20px;
	padding-bottom: 30px;
  background-color:#ebf2f4;
  box-shadow: 0 0 10px #022431;
}

.removeRow{
	margin-left: 20px;
    margin-right: 20px;
}

.box-heading{
	background-color: #24586c;
    color: #fff;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    vertical-align: middle;
}

.box-options{
	padding-top: 35px;
}
/*
.btn-selected{
	background-color: #535f63;
    border: solid 1px #535f63;
	border-radius: 27px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    text-transform:none;
}
*/
.btn-deselected{
	 background-color: #fff;
    border: solid 1px #fff;
	 border-radius: 27px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 18px;
    font-weight: bold;
    cursor: pointer;
    color: #535f63;
    text-transform:none;
}

.amount-display{
	padding-top: 30px;
	color:#033649;
	font-weight: bolder;
}

.doller{
	font-size: 26px;
	font-family: 'ProximaNova';
    position: relative;
    top: -4px;
    font-weight: bolder;
}
.amount{
	font-size: 45px;
    position: relative;
    font-family: 'proximanova-black-webfont';
    left: 7px;
    font-stretch: expanded;
}

.premimumtext{
  font-size: 27px;
  line-height:32px;
    position: relative;
    font-family: 'ProximaNova';
    left: 7px;
    font-stretch: expanded;
}

.indication{
	position: relative;
	font-family: 'ProximaNova';
    left: 8px;
}

.userDisplay{
	font-size: 16px;
	padding-top: 20px;
	color:#033649;
	font-weight:600;
}

.dataDisplay{
	font-size: 15px;
  color: #033649;
  line-height: 14px;
  font-weight: 600;
}

.nodataDisplay{
	font-size: 16px;
    padding-top: 44px;
    color: #033649;
    font-weight: 600;
    padding-bottom: 13px;
}

.boxhr{
	width:50%;
	margin-top: 5px;
  margin-bottom: 6px;
}

.not-apply,.not-apply1,.not-apply2,.not-apply3 {
   text-decoration: line-through;
}

//ContactUS

.mainlabel{
	text-align:left;
	color: #949b9b;
    font-size: 16px;
    font-weight: 400;
}

.formRow{
	margin-right:300px;
	margin-left:300px;
}

.mainfrm{
    border: 2px solid #bfbfbf;	
}

//footer

.footerback{
	background-color:#033649;
}

.list-inline{
	position: relative;
  top: 12px;
   
}

.list-inline-item a{
	  color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 25px;
}

.nopadding:not(:last-child) {
    margin-right: 11px;
}

.paddingItem{
	 margin-left: 100px;
}

.list-inline-item a:hover{
  //color:#e36c59;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control {
    color: #a94442;
    border-color: #dd4b39;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control {
    color: #3c763d;
    border-color: green;
}

.form-control{border-width: 1px;}   

.form-group.has-error .help-block { display: block; color: #dd4b39;}

.help-block{
  padding-top:5px;
  color:#dd4b39;
  font-size: 14px;
}

.form-error-message{
  display: none;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}

.icons{
  padding-bottom:15px;
}

@media (max-width: 900px) {
  header.masthead{
    margin-top: 0px;
  }

  .box{
    margin-left: 100px;
    margin-right: 100px;
  }

  .formRow{
    margin-left: 25px;
    margin-right: 25px;
  }

  .btn-custom4{
    margin-left: 0; 
  }

/*  .listhome{
    float: none !important;
    margin-bottom: 20px !important;
    text-align: center;
  }*/
}

@media (max-width: 450px) {
  .image{
    position: relative;
    bottom: 11px;
  }

  .btn-custom3{
    padding:18px 50px;
  }


  .imageContainer{
    padding-left: 18% !important;
  }

  .carousel-inner{
    margin-left: 12px;
    overflow: hidden;
    position: relative;
    width: 90%;
  }
  
  .list-inline-item:not(:last-child){
    margin-right: 5px;
  }
    
}


@media (max-width: 600px) {
  .box{
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
  }
}

@media (min-width: 900px) {
  .carousel-control-next{
    right: -125px;
  }
  .carousel-control-prev{
    left: -125px;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px;
  }
}

@media (min-width: 850px) and (max-width: 900px) {
  .carousel-control-next{
    right: -50px;
  }
  .carousel-control-prev{
    left: -50px;
  }


}

@media (max-width: 800px) {
 
  .navigation{
    font-size: 14px !important;
  }

}

@mixin nav-justified {
  width: 100%;

  .nav-item {
    float: none;
  }

  .nav-link {
    text-align: center;
    margin-bottom: 5px;
  }

  > .dropdown .dropdown-menu { //todo: remove child selector
    top: auto;
    left: auto;
  }

  @include media-breakpoint-up(sm) {
    .nav-item {
      display: table-cell;
      width: 1%;
    }
    .nav-link {
        margin-bottom: 0;
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
@mixin nav-tabs-justified {
  border-bottom: 0;

  .nav-link {
    // Override margin from .nav-tabs
    margin-right: 0;
    //border-radius: $border-radius;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    //border: 1px solid #000;
  }

  @include media-breakpoint-up(sm) {
    .nav-link {
     // border-bottom: 1px solid #000;
     // border-radius: 12px 12px 0 0;
    }
   .nav-link.active,
   .nav-link.active:hover,
   .nav-link.active:focus {
      //border-bottom-color: #000;
    }
  }
}

.nav-justified {
  @include nav-justified;
  @include nav-tabs-justified;
}

.modal-header{
  background-color:#033649;
  text-align: center;
  padding:30px;
  border: 0;
}

.imageContainer{
    height: 50px;
    margin: 0 auto;   
    margin-top: -15px;
}

.modal-title{
  text-align: center;
  color: #033649;
  margin-bottom: 50px;
}

.loginformgrp{
  margin-bottom: 35px;
}

.loginfrm{

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bfbfbf;
    border-radius:0;

    padding: 0;
    font-size: 1.1rem;
    line-height: 2.25;
}

.whitebg{
    color:#ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
}

.form-label{
  font-size: 14px;
  color:#495057;
}

.information-label{
  font-size: 14px;
  color:#82878c;
  font-weight: bold; 
}

.information-info{
  font-size: 16px;
  color:#033649;
  font-weight: bold; 
  text-transform: capitalize;
}

.information{
  margin-bottom:15px;
}

/* .twitter{
  background-image:url('../images/socialmedia/Tw.png');
}
 */
/* .twitter img:hover{
  background:url('../images/colerTw.png');
}
 */

 .navbar-light .navbar-nav .nav-link{
  color: #ffffff !important;
 }

 ul.social-buttons {
    margin-bottom: 0;
    text-align: center;
}

.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}

.social-icon{
   font-size: 20px !important;
   padding-left: 24px;
}

.listhome{
  float: right;
}

.bordercalss{
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: -35px;
    padding: 6px 9px;
}
.bordercalss:hover{
  background-color:#febb47;
}

.bordercalss1:hover{
  background-color:#febb47;
}


.bordercalss2:hover{
  background-color:#febb47;
}

.bordercalss1{
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: -35px;
    padding: 6px 12px;
}

.bordercalss2{
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: -35px;
    padding: 6px 16px;
}

.linked-in {
  padding: 6px 14px;
}

.radiobutton{
  text-align: center;
}

.form-check-label{
    padding-left: 2.25rem;
    padding-right: 1.25rem;
}

.table-span{
    color: #495057;
    font-size: 18px;
    padding-left: 10px;
    position:relative;
    top:-5px;
}

.forgotclass{
    font-size: 16px;
    color:#495057;
    font-weight: bold;
    
}

.chckboxlab{
    font-size: 16px;
    color:#495057;
    font-weight: bold;
     position: relative;
    top: -1px;
}

.login{
  padding: 18px 150px;
}

.class-footer{
  background-color:none;
}


.customfooter{
  //background:none;
  text-align: center;
  color:#fff;
  font-size: 16px;
  margin-top: 20px;
  //font-weight: 800;
}

.footer-anchor{
  color: #fff;
  text-decoration: none;
}

.footer-anchor i{

  //font-size: 20px;
}

.footer-anchor:hover{
 color: #fff;
  text-decoration: none; 
}

.right-padding{
  padding-right:15px;
}


/* //ADDED BY SAGAR */

/* HEADER */

#mainNav
{
  position: fixed;
  top: 0;
}

/* APPLICATION FEATURES */
p.subheading
{
  margin-top: 15px;
}
#companionbox .basic-pack
{
  margin-left:16.5%;
}
.connector img
{
  height: 100px;
}
.connector .sub-section-heading b
{
  font-weight: 600;
}
.connector p.small
{
  margin-top: 15px;
  font-weight: 600;
}
/* SLIDER SECTION */
.customback hr.hr {
  margin-top: 50px;
  margin-bottom: 60px;
}


.inactive-plan
{
    background-color: #535f63;
    border: solid 1px #535f63;
    border-radius: 27px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    text-transform: none;
}

.active-plan
{
    background-color: #535f63;
    border: solid 1px #535f63;
    border-radius: 27px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    text-transform: none;
}
.buy-btn-section
{
  padding-top: 35px;
}
.buy-btn-section button:hover
{
  background: #de513b;
}
#register .modal-dialog ,#forgatpassword .modal-dialog {
  max-width: 400px;
}
#register .modal-title , #forgatpassword .modal-title  {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}
#pricing .section-heading-white
{
  font-weight: 700;
}
.black-section-heading
{
  font-weight: 700;
  font-size: 36px;
}
.formRow button.btn-custom2:hover
{
  background:#022431;
}
.formRow input
{
  border: 1px solid #bbc3c2;
  transition : all .2s;
}
.formRow input:focus
{
  border-color:#0780ab;
}
#register .login-btn,
#forgatpassword .login-btn
{
  height: 55px;
  width: 80%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 0;
}
#register .modal-content,
#forgatpassword .modal-content
{
  border-radius: 0;
}
#register .modal-body,
#forgatpassword .modal-body
{
  padding: 10px 0;
}
#register .customfooter,
#forgatpassword .customfooter {
  margin: 0;
  padding: 20px;
}
#register .login-extra-links,
#forgatpassword .login-extra-links
{
  margin-bottom: 50px;
}
#register .login-extra-links span,
#forgatpassword .login-extra-links span
{
  font-weight: 600;
}
#register .forgotclass,
#forgatpassword .forgotclass {
  margin-top: 4px;
}
#purchase .modal-header {
  box-shadow: 0 0 5px #022431;
}
#purchase .modal-header h3
{
  margin:0;
  width:100%;
}
#loginform button.btn-custom4
{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .list-inline-item a {
  font-weight: 400;
  
}


/* STYLING CHECKBOX */
/* .squaredThree */
.styled-checkbox {
  width: 20px;
  position: relative;
  z-index: 10;
  display: inline-block;
}
.styled-checkbox~ .chckboxlab {
  display: inline-block;
  margin-left: 6px;
}
.styled-checkbox label {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  margin-top: 6px;
}
.styled-checkbox label::after {
  content: '';
  width: 12px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 5px;
  border: 2px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.styled-checkbox label:hover::after {
  opacity: 0.3;
}
.styled-checkbox input[type=checkbox] {
  visibility: hidden;
}
.styled-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* STYLING RADIO BUTTON */
.styled-radio {
  display: inline-block;
}
.styled-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.styled-radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 8px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-top: 5px;
}
.styled-radio input[type="radio"]:checked + .radio-label:before {
  background-color: #033649;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.styled-radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #033649;
}
.styled-radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.styled-radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.styled-radio input[type="radio"]:checked + .radio-label {
  color: #033649;
}
.radio-label {
  margin: 0 25px;
  font-size: 18px;
  font-weight: 600;
}

@media(max-width:1199px)
{
  header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 175px 0;
  }
}
@media(max-width:991px)
{
  .listhome {
    float: none !important;
    margin-bottom: 20px !important;
    text-align: center;
  }
  #mainNav
  {
    border: 0;
    min-height: 79px;
    height: auto;
  }
  #mainNav .navbar-toggler {
    font-size: 21px;
    font-weight: 500;
    color: white;
    border: 0;
  }
  #mainNav .navbar-brand img
  {
    position: fixed;
    top: 28px;
  }
  #mainNav .container button.navbar-toggler-right {
    position: fixed;
    right: 8px;
    top: 17px;
  }
  #navbarResponsive
  {
    margin-top: 46px;
  }
  .navbar-toggler.navbar-toggler-right.collapsed {
    margin-top: 0;
  }
  #mainNav .btn-custom {
    background: none;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #mainNav .btn-custom:hover,
  .login-btn-section:hover button {
    color : #e36c59;
  }
  header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 100px 0;
  }
  .intro-lead-in {
    font-size: 45px;
  }
  .intro-heading {
    font-size: 27px;
    padding-bottom: 10px;
  }
  .paragraph {
    font-size: 16px;
  }
  .intro-heading img
  {
    height: 55px;
  }
  .section-heading {
    font-size: 35px;
    margin-top: 30px;
  }
  p.subheading {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .img1 {
    padding: 30px 0;
  }
  .connector img {
    height: 80px;
  }
  .connector p.small {
    padding: 0px 50px;
  }
  .customback hr.hr {
    margin-top: 35px;
  }
  .carousel-control-next {
    right: -50px;
  }
  .carousel-control-prev {
    left: -50px;
  }
  .customback2 {
    padding-top: 60px;
  }
  .section-heading-white {
    font-size: 35px;
  }
  .navigation {
    font-size: 13px !important;
  }
  #register .imageContainer,
  #forgatpassword  .imageContainer 
  {
    height: 45px;
  }
  .modal-header {
    padding: 23px;
  }
  .radio-label {
    font-size: 17px;
  }
  #register .modal-title,
  #forgatpassword .modal-title
  {
    margin-bottom: 0;
  }
  .loginformgrp {
    margin-bottom: 30px;
  }
  #register .login-btn,
  #forgatpassword .login-btn {
    height: 48px;
    font-size: 17px;
    margin-bottom: 20px;
  }
  #purchase .modal-dialog
  {
    max-width: 400px;
  }
  .information {
    margin-bottom: 0;
  }
  #loginform button.btn-custom4 {
    height: 50px;
    font-size: 16px;
  }
  .formRow {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media(max-width: 767px)
{
  .intro-lead-in {
    font-size: 35px;
  }
  .intro-heading {
    font-size: 24px;
    padding-bottom: 0;
  }
  .intro-heading img {
    height: 48px;
  }
  .section-heading {
    font-size: 30px;
    margin-top: 15px;
  }
  p.subheading {
    margin-top: 0;
  }
  .img1 {
    padding: 20px 0;
  }
  .connector img {
    height: 70px;
  }
  .connector .sub-section-heading b
  {
    font-size: 22px;
  }
  .connector p.small {
    margin-top: 0;
    font-weight: 500;
  }
  .section-heading-white {
    font-size: 30px;
  }
  .section-heading-white {
    font-size: 30px;
  }
  .pricing-plan .col-lg-4
  {
    width: 80%;
  }
  .amount-display {
    padding-top: 20px;
  }
  .amount {
    font-size: 40px;
  }
  .userDisplay {
    padding-top: 0;
  }
  .btn-custom1 {
    font-size: 15px;
    padding: 11px 38px;
  }
  .box1 {
    height: 430px;
  }
  .navigation {
    font-size: 12px !important;
  }
  #loginform .form-group {
    margin-bottom: 0;
  }
  .information {
    font-size: 15px;
  }
  .information-label{
    font-weight: 500;
  }
  .information-info{
    font-weight: 600;
  }
  #loginform button.btn-custom4 {
    height: 50px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .black-section-heading {
    font-size: 30px;
    padding-bottom: 0;
  }
  .customback-nopadding {
    padding-top: 60px;
  }
  .customback2 p.subheading {
    text-align: justify;
  }
  .contentcustom {
    margin-top: 60px;
  }
  .btn-custom2 {
    font-weight: 500;
  }
  footer {
    padding: 15px 0 45px;
  }
  .list-inline-item a {
    font-size: 14px;
  }
  .social-icon {
    font-size: 16px !important;
  }
  .bordercalss2 {
    padding: 6px 14px;
  }
  .linked-in {
    padding: 6px 12px;
  }
  .bordercalss {
    padding: 6px 8px;
  }
  .bordercalss1 {
    padding: 6px 11px;
  }
  #mainNav .navbar-nav > li.nav-item > a,
  #mainNav .btn-custom
  {
    font-size: 13px;
    font-weight: 500;
  }
  #mainNav .navbar-toggler {
    font-size: 18px;
  }
}
@media(max-width: 577px)
{
  .img {
    width: 6em;
  }
  #mainNav {
    min-height: 68px;
  }
  #mainNav .container button.navbar-toggler-right {
    top: 11px;
  }
  #mainNav .navbar-nav > li.nav-item > a, #mainNav .btn-custom {
    font-size: 12px;
  }
  .nav-link {
    padding: 5px 0;
  }
  .intro-lead-in {
    font-size: 27px;
    padding: 0;
  }
  .intro-heading {
    font-size: 21px;
  }
  .paragraph {
    font-size: 15px;
    text-align: justify;
    width: 90%;
  }
  .image {
    bottom: auto;
  }
  .intro-heading img {
    height: 40px;
    padding-right: 10px;
  }
  .section-heading {
    font-size: 24px;
    margin-top: 5px;
  }
  p.subheading {
    margin-top: 0;
    text-align: justify;
  }
  .img1 {
    padding: 10px 0;
  }
  .connector img {
    height: 60px;
  }
  .connector .sub-section-heading b {
    font-size: 20px;
  }
  .connector p.small {
    padding: 0px 20px;
    text-align: justify;
    font-size: 16px;
  }
  .carousel-item img
  {
    height: 100px;
  }
  .carousel-indicators li,
  .carousel-indicators .active{
    width: 10px;
    height: 10px;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .customback2 {
    padding-top: 50px;
  }
  .section-heading-white {
    font-size: 24px;
  }
  .subheading-white {
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
  }
  .box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .pricing-plan .col-lg-4 {
    width: 100%;
  }
  .box-heading {
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  #loginform button.btn-custom4 {
    height: 46px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .box-options {
    padding-top: 25px;
  }
  .amount-display {
    padding-top: 5px;
  }
  .amount {
    font-size: 35px;
  }
  .doller {
    font-size: 21px;
  }
  .buy-btn-section {
    padding-top: 25px;
  }
  .box1 {
    height: 340px;
  }
  #companionbox .basic-pack {
    margin-left: 0;
  }
  #companionbox .basic-pack .box-options
  {
    display: none;
  }
  #companionbox .basic-pack .buy-btn-section {
    padding-top: 6px;
  }
  #companionbox .basic-pack .amount-display {
    padding-top: 50px;
  }
  #companionbox .basic-pack .box1 {
    height: 310px;
  }
  .chckboxlab,
  .forgotclass {
    font-size: 14px;
  }
  .styled-checkbox label {
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
  .styled-checkbox ~ .chckboxlab {
    margin-left: 0;
  }
  #register .modal-dialog ,#forgatpassword .modal-dialog {
    max-width: 350px;
  }
}

.form-error-message-fp {
  color:red;
  font-size:16px;
}

.prizehead{
    margin-top: 105px;
    font-size: 30px;
}
.form__section {
    margin-bottom: 20px;
        margin-top: 32px;
}

.form__section .section__title {
    font-size: 14px;
    margin-bottom: 15px;
    color: #797F89;
}

.form__field-container {
    margin-bottom: 20px;
    position: relative;
}

.form__label {
    font-size: 14px;
    font-weight: 400;
    color: #4C515D;
    display: block;
    text-align: left;
    transition: ease 0.3s all;
}

.order-summary {
  margin-left:100px;
  padding:0 15px;
  padding-left: 75px;
  color: #797F89;
  font-size: 14px;
}

.order-summary-title {
    text-align: center;
    margin-bottom: 10px;
    color: #797F89;
    font-size: 20px;
}

.order-summary-box {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 25px;
    background-color: #E8DDCB;
    border-radius: 3px;
    border: 1px solid #b1bacc;
    color: #797F89;
    font-size: 14px;
}

.order-summary-table {
      font-size: 12px;
    color: #4c515d;
}

.order-summary-table__row--header {
      font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  line-height:25px;
}

.order-summary-table .divider {
    height: 1px;
    width: auto;
    background-color: #b1bacc;
    display: block;
    margin: 10px -6px;
}

.order-summary-table__row {
    display: flex;
    align-items: center;
    height: 26px;
    font-size: 13px;
}
.order-summary-table__row div:first-child {
    flex-grow: 1;
}

.order-summary-terms {
    color: #797f89;
    font-size: 12px;
    margin: 22px 0 6px;
}

.order-summary-column .lego-btn {
    height: 55px;
    line-height: 30px;
    padding-top: 12px;
    width: 100%;
    display: block;
    margin: 21px 0 17px;
    color:#ffffff !important;
    max-width: 100%;
    font-size: 16px;
}

.inrowtwo {
  
}

.ma-l-0 {
    margin-left: 0px !important;
}


.ma-r-15 {
    margin-right: 15px !important;
}

.ma-l-15 {
    margin-left: 15px !important;
}

.width50 {
  width : 48%;
}

.form__label {
    font-size: .875rem;
    font-weight: 400;
    color: #4C515D;
    display: block;
    text-align: left;
    transition: ease 0.3s all;
}

.cc-number .form__field, .cc-number #author-account-fields .col-xs-3 textarea, #author-account-fields .col-xs-3 .cc-number textarea {
    padding-left: 30px;
    padding-right: 116px;
}

.lp-icon {
    position: absolute;
    left: 22px;
    top: 27px;
    opacity: .5;
    transition: ease 0.3s all;
    pointer-events: none;
}


.cc-number .card-icon {
    background-image: url('/images/cards_sprite_sm_grayscale.png');  
    height: 17px;
    width: 25px;
    top: 39px;
    position: absolute;
    overflow: hidden;
    transition: ease 0.3s all;
    pointer-events: none;
}


.cc-number .card-icon.amex {
    right: 101px;
    background-position: 0 0;
}

.cc-number .card-icon.master {
    right: 74px;
    background-position: 0 18px;
}

.cc-number .card-icon.visa {
    right: 47px;
    background-position: 0 35px;
}

.cc-number .card-icon.discover {
    right: 20px;
    background-position: 0 52px;
}

.select--full-width {
    max-width: 100%;
    display: block;
}

.selectpicker {
    background: #ffffff;
    padding: 6px 12px;
    line-height: 10px;
    color: #4C515D !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#planform .error {
  color :red;
  font-size:14px;
}

span#package_type {
  display:none;
}

.sucesspage {
  min-height:600px;
}

.pd-t-20 {
  padding-top :20px;
}