@font-face {
font-family: "proximanova-light-webfont";
src: url("fontscrownid/proximanova-light-webfont.ttf");/*
src: 
url("fontscrownid/proximanova-light-webfont.woff") format("woff"),
url("fontscrownid/proximanova-light-webfont.otf") format("opentype"),
url("fontscrownid/proximanova-light-webfont.svg#filename") format("svg");*/
}

@font-face {
font-family: "proximanova-black-webfont";
src: url("fontscrownid/proximanova-black-webfont.ttf");
}

@font-face {
font-family: "proximanova-extrabld-webfont";
src: url("fontscrownid/proximanova-extrabld-webfont.ttf");
}

@font-face {
font-family: "proximanova-regular-webfont";
src: url("fontscrownid/proximanova-regular-webfont.ttf");
}

@font-face {
font-family: "proximanova-semibold-webfont";
src: url("fontscrownid/proximanova-semibold-webfont.ttf");
}

@font-face {
font-family: "FolksBlack";
src: url("fontscrownid/FolksBlack.ttf");
}

@font-face {
font-family: "Folks-Bold";
src: url("fontscrownid/Folks-Bold.ttf");
}

@font-face {
font-family: "Folks-Heavy";
src: url("fontscrownid/Folks-Heavy.ttf");
}

@font-face {
font-family: "Folks-Light";
src: url("fontscrownid/Folks-Light.ttf");
}


@font-face {
font-family: "Folks-Normal";
src: url("fontscrownid/Folks-Normal.ttf");
}