// Variables
@import "variables";

// Bootstrap

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/sweetalert/dist/sweetalert";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
@import "css/AdminLTE";
//@import "mixin";
@import "skin";
@import "animate";
@import "tables";


html, body {
    /* background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0; */
    // background-color:red;
}

body{
	&.login-page{
        background-color:#1C596B;
	}
}

.bg-primary1,
.modal-danger .modal-body {
  background-color: #1C596B !important;
  color: #fff;
}

.bg-primary2,
.modal-danger .modal-body {
  background-color: #1C596B !important;
  color: #fff;
}

.bg-primary3,
.modal-danger .modal-body {
  background-color: #1C596B !important;
  color: #fff;
}


.main-header {
     background-color:#1C596B;
}

.full-height {
    height: 100vh;
}
.semifull-height{
	height: 80vh;	
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.search-form{
    margin-bottom: 10px;
    float: right;
}


.btn-material {
    box-shadow: 1px 1px 1px 1px #ccc;
    margin-top: 20px;
    padding: 7px;
}

.mailClasses{
	width:100%;
    padding-left:10px;
}

.btn-link{
	color:#1C596B !important;
	padding-top: 9px;
}

.input-with-icon{
	position: relative;
	span.input-span-icon{
		position: absolute;
		right: 5px;
		top: 5px;
	}
}

@-moz-document url-prefix() { 
  .input-with-icon{
    position: relative;
    span.input-span-icon{
        position: absolute;
        right: 5px;
        top: 10px;
     }
    }
}

.btn-primary {
  //@include button-variant('#fff', '#1C596B', '#1C596B');
}

.group-actions{
	margin-left: 10px;
}
.form-readyonly-text{
	p,a{
		line-height: 2.4em;
	}
}

.Alert{
        position: relative;
}
.Alert__close{
    position: absolute;
    top:1em;
    right: 1em;
    font-weight: bold;
    cursor:pointer;
}

.img-input{
    position: relative;
    height: 150px;
    width: 200px;
    img{
        position: absolute;
        width: 150px;
        min-height: 150px;
        max-width: 100%;
        height: auto;
        display:block;
        z-index: 0;
        border:1px solid #424242;
    }
    input[type='file']{
        position: absolute;
         width: 200px;
        height: 200px;
        opacity: 0;
        z-index: 2;
    }
}

.table-fixed{
  overflow: hidden;
  text-overflow: ellipsis;
}

.confirm{
    background-color: #1C596B !important;
}

.red{
    color: red;
}

.colorred{
    color:red;
}

.intl-tel-input .selected-flag{
    height: 35px;
}

.img-input input[type='file']{
    z-index: 0;
}

.btn-danger[disabled]:hover{
    background-color: #EDA52D;
    border-color: #EDA52D;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus{
    background-color: #EDA52D !important;
    border-color: #EDA52D !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
    background-color: #1C596B !important;
    border-color: #1C596B !important;
}

.logoutclass{
    color: white;
    font-weight: bold;
}

.btn-custom3{
    padding: 0.5em 8.7em;
}

.skin .main-header .navbar .sidebar-toggle:hover {
    color: #fff;
    background: #1C596B;
}

.skin .main-header .navbar .nav > li > a:hover  {
    color: #fff;
    background: #1C596B;
}

.cursor-pointer {
    cursor: pointer;
}