// Variables
@import "variables";

// Bootstrap

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/sweetalert/dist/sweetalert";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
@import "css/AdminLTE";
//@import "mixin";
@import "skin";
@import "animate";
@import "tables";

html, body {
}

body{
    &.login-page{
        background-color:#605ca8;
    }
}

.casecursser {
        cursor: pointer;
        margin-top :28px;
}

.nodataDiv{
    font-size: 22px;
    color: #909796;
    padding: 20px 10px 10px 28px;
}

.bs-example {
    padding: 45px 10px 10px 15px !important;
}

.inner-box-right {
    float: right;
    font-size: 36px;
    padding-right: 20px;
}

.inner-box-right-lab-detail {
    font-size: 36px;
    padding-right: 20px;
    position: absolute;
    right: 22px;
    top: -9px;
}

.inner-box-right1 {
    float: right;
    padding-top: 5px;
}

.padding-class{
    padding: 4px 11px;
}

.btn-pitch{
    color:white !important;
    background-color:#E36C59;
    border-color:#E36C59;
    cursor: pointer;
     padding: 4px 11px;
}

.btn-pitch:hover, .btn-pitch:active, .btn-pitch.hover{
    color:white;
    background-color:#E36C53;
    border-color:#E36C53;
}

.btn-pitch{
    color:white !important;
    background-color:#E36C59;
    border-color:#E36C59;
    cursor: pointer;
    margin-left: 12px;
}

.btn-pitch:hover, .btn-pitch:active, .btn-pitch.hover{
    color:white;
    background-color:#E36C53;
    border-color:#E36C53;
}

.btn-custom{
    color:white;
    background-color:#eca62c;
    border-color:#eca62c;
    padding: 4px 11px;
    cursor: pointer;
}

.btn-custom:hover, .btn-custom:active, .btn-custom.hover{
    color:white;
    background-color:#eca62c;
    border-color:#eca62c;
    padding: 4px 11px;
}

.btn-yellow{
    color:white;
    background-color:#febb47;
    border-color:#febb47;
    cursor: pointer;    
    margin-bottom: 12px;
    margin-left: 12px;
    padding: 0.3em 1.2em;
}

.btn-yellow:hover, .btn-yellow:active, .btn-yellow.hover{
    color:white;
    background-color:#febb47;
    border-color:#febb47;
}

.btn-blue1{
    color:white;
    background-color:#033649;
    border-color:#033649;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;
}

.btn-blue{
    color:white;
    background-color:#033649;
    border-color:#033649;
    border-radius:27px;
    font-size: 18px;
    margin-left: 12px;
    cursor: pointer;
}

.float-right{
    float:right;
}

.float-left{
    float:left;   
}

.btn-blue:hover, .btn-blue:active, .btn-blue.hover{
    color:white;
    background-color:#033649;
    border-color:#033649;
}

.main-header {
     background-color:#033649;
}

.main-header .sidebar-toggle{
    color: white;
    float: left;
    font-family: fontAwesome;
    font-size: 21px;
    margin: 5px 0px 0px 7px;
}

.skin .main-header .navbar .nav > li > a:hover{
    background: #033649;
    color: white;
}

.skin .main-header li.user-header{
    background-color: #033649;
}

.skin .main-header .navbar .nav > li > a:focus{
    background: #033649;
    color: white;
}

.skin .main-header .navbar .nav > li > a:active{
    background: #033649;
    color: white;
}

.dropdown-toggle::after{
    vertical-align: middle;
}

.user-image{
    border-radius: 50%;
    float: left;
    height: 33px;
    margin-right: 10px;
    margin-top: -4px;
    width: 35px;
}



.main-header .navbar .nav > li > a > .label{
    border-radius: 50px;
    position:relative;
    top:-9px;
}


.btn-link{
    color:#605ca8 !important;
    padding-top: 9px;
}


.red{
    color: red;
}

.btn-danger{
    background-color: #6a6a6a;
    border-color: #6a6a6a;
}

.btn-danger[disabled]:hover{
    background-color: #6a6a6a;
    border-color: #6a6a6a;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus{
    background-color: #6a6a6a !important;
    border-color: #6a6a6a !important;
}


.btn-custom3{
    padding: 0.5em 8.7em;
}

.sidebar-li{
    line-height: 3.5;
}
.nav-link{
    padding: 0.5rem 0.5rem;
}

.Alert__close {
    float: right;
    cursor: pointer;
}



@media (max-width: 900px) {
  .highcharts-container {
    width: 100% !important;
  }

  .box-header > .box-tools{
    position:relative;
  }

  .imagechatdetail{
     margin-left: 0px !important;
  }

  .btn-blue{
    margin-bottom: 12px;
  }

  .titleJob{
    left:0 !important;
  }
}


@media (max-width: 450px) {
 
 .doctor-name{
    padding-left : 0px !important;
 }

 .padding-detail{
    padding-left: 0px !important;
 }

 .qr-code{
    width: 50px !important;
 }

 .select-option{
    width: 60% !important;
 }

}

@media (max-width: 380px) {
 
 #custom-search-form i{
    left: 15px !important;
    top: 36px !important;
 }

 .select-option{
    width: 60% !important;
 }

}

@media (max-width: 1000px) {
 
  .imagechatdetail{
     margin-left: 0px !important;
  }

  .color-class{
    padding-left:0;
  }

}

.sidebar-menu > li .label, .sidebar-menu > li .badge{
    margin-right: 5px;
    border-radius: 50px;
    padding: 0px 4px;
    font-size: 12px;
      margin-left: 6px;
}

.skin .sidebar-menu > li:hover > a{
    color: #E36C59;
}
.skin .sidebar-menu i{
    color: #033649;
}

.breadcrumb{
    background-color: $main_section_bg;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid #CDB380;
    border-radius:0;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color:#033649;
    font-weight: bold;
    font-size: 12px;
}

.breadcrumb-item a{
    color: #155e70;
    font-weight: bold;
    font-size: 18px;
}
.breadcrumb-item.active{
    color:#033649;
    font-weight: bold;
    font-size: 18px;
}

.bs-example{
    border: 1px solid white;
    background: #ffffff;
}

.bs-example > img{
    padding-left: 20px;
    padding-right: 20px;
}

.bs-example-lab{
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 15px 10px 10px 15px !important;
    margin-right: 10px;
    border-radius: 12px;
    margin-left: 15px;
}

.bs-example-chat{
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 15px 10px 10px 15px !important;
    margin-right: 10px;
    border-radius: 4px;
}

.bs-example-chat-detail{
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 15px 10px 10px 15px !important;
    margin-right: -2px;
    margin-left: -1px;
}

.inner-box-right-chat-detail {
    color: #cdcdcd;
}

.hrclass{
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 10px;
}

.hrclass1{
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 2px #033649;
}

.hrclass2{
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 2px #89bd7b;
}

.hrclass3{
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 2px #c34d46;
}

.hrclass4{
    margin-left: 85px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 2px #e4a452;
}


.color5{
    border-color:#E8DDCB !important;
}


.color4{
    border-color:#CDB380 !important;
}

.lightgreencolor{
    border-color:#bcc346 !important;
}

.lightpinkcolor{
    border-color:#d79cf3 !important;
}

.inner-box {
    font-weight: 600;
    color: #033649;
}

.imagechat{
    border: 1px solid #bcbcbc;
    border-radius: 50%;
}

.inner-box-chat-detail{
    font-weight: 600;
    color: #696d6b;
    font-size: 25px;
    position:relative;
    top:15px;
}

.imagechatdetail{
    border: 1px solid #bcbcbc;
    border-radius: 50%;   
    //margin-left: 40px;
}

.black-color-class{
    color: #696d6b;
    font-weight: 800;
}

.inner-box-lab {
    font-weight: 600;
    color: #033649;
    font-size: 21px;
}

.inner-box-lab-report {
    font-weight: 600;
    color: #033649;
    font-size: 18px;
}

.inner-box-lab-detail{
    font-weight: 600;
    color: #033649;
    font-size: 18px;
    position:relative;
    top:7px;
}

.qr-code{
    float: left;
    width: 100px;
}

.inner-box1 {
    font-weight: 600;
    padding-left: 20px;
}

.removeRow{
    margin-left: 0px;
    margin-right: 0px;
}

.dashboard-box{
    margin-bottom: 25px;
}

.dashboard-box-lab{
    margin-bottom: 25px;   
    margin-top: 5px;
}


.skin .sidebar-menu > li.active > a > span{
        color: #E36C59;
}

.box{
    padding: 35px;
}
.btn-default{
    background-color: white;
    border-color: white;
    cursor: pointer;
}

.btn-default:hover, .btn-default:active, .btn-default.hover{
    background-color: white;
    border-color: white;   
}

.table-custom{
    margin-top: 20px;
}

#container {
    height: 400px;
    margin: 0 auto
}

.table-hover tbody tr:hover{
    background-color:  white;
}

.box-cover{

    background: #ffffff none repeat scroll 0 0;    
    border: 2px solid #ebf2f8;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding: 35px;

}

.pagination > li > a{
    background: white none repeat scroll 0 0;
    color: #666;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
    background-color: white;
    border-color: white;
   /* border: 1px solid;
    padding: 0px 8px;*/
}

.pagination{
    padding-left:none;
}


.center-pagination > li {
    margin-left: 12px;
}

.bordered{
    border: 1px solid #7f7f7f;
    padding: 2px 10px;
}

.pull-right{
    padding-right:30px;
//      color: white;
}

.searchlabel {
    padding-right: 10px;
}

.boxtext{
    color:#46b0d0;
}

//modal 

.modal-title{
    color:white;
    padding-left: 40%;
}

.modal-header{

    background-color:#033649;
    text-align:center;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    border: 1px solid #efefef;
    cursor: pointer;
    padding: 24px;
}

.image-upload {
    text-align: center;
}

.image-upload > lable {
    cursor:pointer;
}

.innerform{
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding: 0;
}

.btn-primary.disabled, .btn-primary:disabled , .btn-primary {
      background-color: #E36C59;
    border-color: #E36C59;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #E36C59;
}


.modal-footer{
    padding-right: 36%;
}

#left {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
}

.scroll-area{
  height:600px;
  margin-top:40px;
  overflow-y: auto; 
}

#right {    
  text-align: center;
  position: relative;
  bottom: 0;
  right: 0;
}

//searching


#custom-search-form .search-query {
    border: 1px solid #033649;
    border-radius: 17px;
    margin-bottom: 0;
    padding: 11px 115px 11px 33px;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form .search-query-chat {
    border: 1px solid #033649;
    border-radius: 17px;
    margin-bottom: 0;
    padding: 11px 115px 11px 30px;
    background-color:#f0f5f7;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form i{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    left: 26px;
    margin-bottom: 0;
    color: #a7afaf;
    margin-top: 2px;
    position: relative;
    color:#a3abab;
}


.pull-left {
    color: #909796;
    padding-left: 30px;
    padding-top: 15px;
}

.pull-right {
    padding-top: 15px;
}
.dropdown-toggle {
    color: #7a889d;
}

.dropup, .dropdown{
    color: #909796;
}

.dropdown-item{
    color: #909796;
}

.inner-box-right-lab{
    bottom: 45px;
    float: right;
    padding-right: 20px;
    position: relative;
    font-size: 18px;
}

.inner-box-right-lab-pickup{
    bottom: 45px;
    float: right;
    color: #E36C59;
    padding-right: 20px;
    position: relative;
    font-size: 18px;
}

.inner-box-right-lab-pickup-close{
    bottom: 45px;
    float: right;
    color: #e25959;
    padding-right: 20px;
    position: relative;
    font-size: 18px;
}

.inner-box-right-lab-process{
    bottom: 45px;
    float: right;
    color: #febb47;
    padding-right: 20px;
    position: relative;
    font-size: 18px;
}

.inner-box-right-lab-completed{
    bottom: 45px;
    float: right;
    color: #E36C59;
    padding-right: 20px;
    position: relative;
    font-size: 18px;
}

.status-completed{
    color: #031634;
        font-weight: 600;
}

.clinic-name{
    color:#696d6b;
    font-size: 18px;
}

.doctor-name{
    color:#696d6b;
    font-size: 18px;
   /* padding-left: 47px;*/
}

.support-name{
    color:#696d6b;
    font-size: 18px;
}

.padding-detail{
   /* padding-left: 47px;*/
}
.date-class{
    color: #c0c0c0;
}
.detail-margin{
    margin-top: 15px;
}

.bs-example-lab:hover, .bs-example-lab:active, .bs-example-lab:focus {
    box-shadow: 0 0 2px rgb(232, 221, 203);
    background-color:#E8DDCB;
}

.bs-example-lab-detail{
    border: 1px solid #CDB380;
    background: #ffffff;
    padding: 26px 10px 27px 15px;
}

.bs-example-report-detail{
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 26px 4px 0 15px;
}

.bs-example-report-detail-part{
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 20px 4px 20px 20px;
}

.bs-example-lab-detail-nobackground{
    background: #CDB380;
    padding: 26px 10px 27px 15px;
}

.hrclassdetail{
    margin-left: 46px;
    margin-top: -4px;
}

.barcode{
    border: 1px solid #efefef;
    float: right;
    padding: 6px;
}

.sender-chat{
    background-color:#febb47;
    color:#ffffff;
    border-radius: 16px 5px;
    border:0;
}

.direct-chat-timestamp{
    padding-top:0px !important;
    position: relative;
    left: 21px;
}

.receiver{
    float: left;
}

.chat-screen{
    background-color:#E8DDCB;
}
.chat-screen-heading{
    background-color:#e9f4f7;
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 0px;
    border-bottom:1px solid #CDB380;
}

.chat-form{
    border:none;
}

.chat-paperclip{
    position:relative;
    top:7px;
    color: #495057;
}

.right-arrow-button{
    color: #14a7cb;
    font-size: 18px;
    position: relative;
    top: 5px;
}

#angletoggle div {      
    background-color: #E8DDCB;      
    border-radius: 50%;     
    float: right;       
    font-size: 30px;        
    padding: 17px;      
    position: relative;     
    right: -46px;       
}

.angle-control{
    /*background-color: #e9f4f7;
    border-radius: 50%;
    bottom: 30px;
    float: right;
    font-size: 30px;
    padding: 17px;
    position: relative;
    right: -46px;*/
    float: right;
    font-size: 30px;
    position: relative;
    transition: all 1s;
}

#angletoggle.active i       
{       
  transform: rotate(180deg)     
}       
#main {     
    transition: all 1s ease;        
}

.chat-text{
    left:-40px;
}

.detail-img{
    border-radius:50%;
    margin-top: 12px;
    margin-bottom: 15px;
    width: 50%;
}

.color-class{
    text-align: center;
    font-weight: 800;
}

.qrcodereader{
    text-align: center;
}

.nav-pills > li > a{
    color: #a1acbc;
    font-weight: 600;
    font-size: 18px;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link{
    color: #eca62c;
    font-weight: 600;
    font-size: 18px;
    background-color:#ffffff;
    border-radius:0px;
    border-bottom:2px solid #eca62c;
    padding-bottom: 26px;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
    background: none;
}

.print-report{
    float:right;
    font-size: 20px;
    border:1px solid;
    padding:4px;
}

.btn-report{
    float:right;
    margin-right:12px;
}

.buttonchrticon{
    float:right;
    font-size: 20px;
    border:1px solid #3c8dbc;
    padding:3px;
}

.dashboard-box-no-margin{
    margin-top: -27px;
}

.white-background{
    background-color:#ffffff;
}

.content-table{
    display: contents;
}

.bs-example-report-table{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #efefef;
    padding: 1px 4px 0 15px;
}

.bggreen{
    color: #033649;
    font-size: 16px;
}

.bggray{
    color: #7f7f7f;
}


.pagination > li {
    display: inline;
}

.skin .main-sidebar{
    background-color: #ffffff;
}

.skin .sidebar-menu > li > .treeview-menu{
    background-color: #ffffff;
    margin: 0;
}
.skin .treeview-menu > li:hover > a{
    color: #E36C59;
}

.skin .treeview-menu > li.active > a{
    color: #E36C59;
}

.sidebar-menu .treeview-menu > li > a{
    font-size: 16px;
    padding: 0 0 0 30px;
}

.bs-example-support-detail{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #efefef;
    padding: 23px 4px 10px 15px;
}

.inner-box-support{
    color: #033649;
    font-size: 18px;
    font-weight: 600;
}

.support-table{
    font-size: 21px;
    font-weight: bold;    
    padding-left: 18px;
}

.blue-class{
    color: #28aecf;
    font-weight: bold;
}

.sub-classes-tikets{
    margin-top: 22px;
}

.form-check-label{
    padding-left: 2.25rem;
}



.table-span{
    padding-left:10px;
}

.right-padding{
  padding-right:15px;
}

.titleJob{
    color: black;
    font-weight: 600;
    left: 26.2em;
    font-size: 18px;
}

.clinic-options{
    float:right;
    margin-right: 13px;
    margin-top: 3px;
}

.select-option{
    float:right;
    width: 80%;   
}


/* ADDED BY SAGAR */
.main-sidebar {
  box-shadow: 0 0px 17px #cccccc;
  border:0;
  position: fixed;
  padding-top:45px;
}
.main-header {
    position: fixed;
    width: 100%;
}
.header-search-box
{
  position: relative;
}
.header-search-box i {
    color: white;
    position: absolute;
    right: 15px;
  top: 14px;
  font-size:14px;
}
.header-search-box input
{
  background: transparent;
  border: 1px solid #b3f0ff;
  border-radius: 50px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 3px 31px 3px 15px;
  color: white;
}
.header-search-box input:focus
{
  border-color:white;
}
.sidebar-collapse .sidebar-menu
{
  padding-left: 15px;
}
.sidebar-collapse .sidebar-li span
{
  box-shadow: 3px 0px 5px -2px #cccccc,3px 3px 5px -2px #cccccc,3px -3px 5px -2px #cccccc;
}
.sidebar-collapse .sidebar-li span.pull-right-container
{
  box-shadow: 0 0 0;
}
th
{
  font-weight: 600;
}
.skin .sidebar a
{
  font-size: 15px;
  transition : all .3s;
}
.skin .sidebar a i
{
  transition : all .3s;
}
.sidebar-li {
    line-height: 3;
}
.sidebar-menu .treeview-menu > li > a {
  font-size: 14px;
  
}
.content-wrapper, .right-side {
  padding-top: 43px;
}
.breadcrumb-item a,
.breadcrumb-item.active  {
    font-weight: 600;
}
.main-header .logo {
  width: 153px;
  padding: 0;
}
.bs-example {
    background: #ffffff;
    box-shadow: 0 0 3px #e3e3e3;
    border: 0;
    border-radius: 10px;
}

/* CASE LIBRARY */
#custom-search-form i {
    left: 47px;
    position: absolute;
    top: 14px;
}
#custom-search-form .search-query {
    border-color: transparent;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 11px 11px 11px 33px;
    width: 90%;
    margin-left: 20px;
}
.chat-icon {
    border: 1px solid #2fbc72;
    padding: 7px;
    border-radius: 50%;
}
.bs-example-lab-detail-nobackground {
    background: #CDB380;
    padding: 6px 10px 6px 15px;
}


.bs-example-lab {
    position: relative;
    transition: all .3s;
}
.inner-box-lab {
    font-size: 18px;
}
.inner-box-right-lab-pickup, .inner-box-right-lab-process, .inner-box-right-lab-pickup-close, .inner-box-right-lab-completed,.inner-box-right-lab {
    bottom: 37%;
    right: 0;
    position: absolute;
    font-size: 16px;
}
.clinic-name {
    font-size: 17px;
}
.dashboard-box-lab {
    margin-bottom: 15px;
}
.qrcodereader i {
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 5px;
  transition: all .3s;
  color: #222222;
}
.qrcodereader button {
    border: 1px solid #cccccc;
  margin-top: -2px;
  font-size: 14px;
  padding: 5px 10px;
}
.qrcodereader button:hover {
  border-color:#033649;
}

/* CHAT */
#custom-search-form .chat-search input {
    border: 0;
    background-color: #EFEFEF;
    width: 100%;
    padding: 11px 11px 11px 30px;
}
#custom-search-form .chat-search i {
    display: block !important;
    left: 12px;
    top: 13px;
}
#custom-search-form .chat-search {
    margin-top: 27px;
    margin-right: 10px;
    position: relative;
}
.imagechat {
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.inner-box-right-chat-detail {
    color: #cdcdcd;
    float: right;
}
.date-class {
    color: #c0c0c0;
    font-size: 15px;
}

/* Reports */
.print-report {
    float: right;
    font-size: 20px;
  padding: 8px 10px;
  border: 1px solid #bdc1bf;
  border-radius: 5px;
}
.bs-example-report-detail i.fa {
    color: #000000;
}
.btn-report {
    float: right;
    padding: 8px 12px;
    margin-right: 12px;
}
.inner-box-lab-report {
    font-size: 16px;
}
.clinic-options {
    font-weight: 600;
}
table td.bggreen {
  font-weight: 600;
}

.pagination > li > a {
    color: #787878;
}
.pagination li
{
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 4px 12px;
}
.pagination li.active
{
  border-color: #033649;
  background: #033649;
  color: #fff;
}
.pagination li.active a {
    font-weight: 600;
  color: #fff;
    background: #033649;
}

.pagination li.active:hover a {
    color: #fff;
}

.pagination li.active a:hover {
    color: #fff;
}
.pagination li:hover a {
    color: #033649;
}

/* SETTINGS */
.settings .sub-classes-tikets {
    margin-top: 0;
    padding: 20px;
}
.settings .sub-classes-tikets .styled-radio {
    margin-right: 15px;
}

/* STYLEd RADIO */
@keyframes click-wave {
  0% {
    height: 35px;
    width: 35px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -38px;
    margin-top: -38px;
    opacity: 0;
  }
}


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #033649;
}
.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #033649;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
/* SIDEBAR */
.sidebar-li a div {
    background-image: url('/images/menu-icons.png');
    height: 30px;
    width: 36px;
    display: inline-block;
    
    background-repeat: no-repeat;
    margin-bottom: -4px;
  background-position-x: -20px;
}
.menu-home
{
    background-position-y: 2px;
}
.sidebar-li:hover a div ,.sidebar-li.active a div
{
  background-position-x: -60px;
}

.menu-chats
{
    background-position-y: -98px;
}

.menu-library
{
    background-position-y: -200px;
}
.menu-delay
{
    background-position-y: -456px;
}
.menu-reports
{
    background-position-y: -507px;
}

.menu-settings
{
    background-position-y: -405px;
}

.menu-clinic
{
    background-position-y: -302px;
}

.main-header .logo .logo-lg img {
    margin:9px 0 0 0 ;
}

.display-none {
    display: none;
}

.chat_messages_date_format {
    text-align: center;
}

.ma-t-15 {
    margin-top: 15px !important;
}

.ma-r-15 {
    margin-right: 15px !important;
}

.ma-t-28 {
    margin-top: 28px !important;
}

.no-pading-left {
    padding-left: 0px !important;
}

.chat-screen {
    background-color: #E8DDCB;
}

.bs-example-chat-active {
    border-left: 5px solid #febb47;
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-radius: 5px;
}

.cursor-pointer {
    cursor: pointer;
}


.receivepopup {
    
}

.receivepopup .table th, .table td {
    border-top:none;
}

.receivepopup .table tr th {
    width:20%;
} 
.vdp-datepicker__calendar .cell.selected {
     background: #033649 !important;
     color:#ffffff;
}


.vdp-datepicker input[name="caseDate"] {
    width:135px;
}

.datevalidation {
    color:red;
    display:none;
}

.componentDatareceive .modal-footer ,
.delayboxcomponent .modal-footer ,
.caselogcomponent .modal-footer ,
.readycomponent .modal-footer
{
    padding-right: 6%;
}

.componentDatareceive .btn-pitch  {
    margin-left:0;
}

.chat_badgeCount {
    margin-right: 5px;
    border-radius: 50px;
    padding: 0px 4px;
    font-size: 12px;
    margin-left: 5px;
    float: right;
    background-color: #febb47;
    color: #fff;
}

.chat-logo-main{
    max-width: 21%;
}

.logbuttonheight {
    height: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.delayboxcomponent .vdp-datepicker input[name="caseDate"] {
    line-height:32px;
    display: inline;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);

}

.delayboxcomponent .modal-content {
    min-height:400px;
}

.curssernone {
        cursor: not-allowed !important; 
        margin-top :28px;
}



.curssernoneallowed {
        cursor: not-allowed !important;
}

.btn {
    cursor: pointer;
}


.fc-widget-header:last-of-type, 
.fc-widget-content:last-of-type,
.fc-widget-header:last-of-type, 
.fc-widget-content:last-of-type {
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
}

.fc-day-grid table th:first-child ,
.fc-day-grid table td:first-child ,
.fc-day-grid table th:last-child ,
.fc-day-grid table td:last-child
{
    width:inherit;
}

.fc-month-button,
.fc-agendaWeek-button,
.fc-agendaDay-button
{
  visibility: hidden;
}


.fc-time{
   display : none;
}


.fc-content {
    text-align:center;   
    padding: 5px 10px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 15px;
}

.fc-title {
    color:#ffffff;
    text-align:center;
    font-weight: bold;
    margin-bottom: 4px;
}

.fc-ltr .fc-basic-view .fc-day-number {
    background:#CDB380 !important;
}

.fc-unthemed .fc-today {
    background:#E8DDCB !important;
}


.external-event {
    cursor: default;
}

.casestatuslist {
   
}

.colorboxdisplay  {
    font-size:14px;
}

.fc-toolbar .fc-left {
    float: right !important;
}

.external-event {
    padding: 2px 8px 1px 8px;
    margin-right: 5px;
}

.errormessage {
    color:red;
}

.sidebar-menu li > a {
    text-transform: uppercase;
}

#settingpages table tr:first-child
{
  margin-top:10px;
}

#settingpages table td:first-child
{
  border:none;
}
#settingpages .sub-classes-tikets{
    display:flex;
    padding:0;
}

#settingpages  .table-bordered > tbody > tr > td {
    border:none !important;
}

#settingpages  .table-bordered {
     border:none !important;
}

.dropdown-menu{
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;

   min-width: 20rem;
   right:0 !important;
   left:-198px !important;
}

.dropdown-menu li.header {
    background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}

.notifications-menu .dropdown-menu li .menu>li>a{
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
}

.notifications-menu .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.notifications-menu  .dropdown-menu  li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}

.notifications-menu .dropdown-menu li .menu li a{
    font-size: 14px;
    cursor: default;
}


.navbar-nav > .notifications-menu > .dropdown-menu > li .menu{
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  cursor: default;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

ul.menu {
    list-style:none;
    padding-left:0px;
}