<template>
<div>
    <a class="" href="#" data-toggle="modal" @click="openChangePasswordModal()" >
             <span class="forgotclass pull-right"> Change Password </span>
    </a>
    <div class="modal fade componentData readycomponent" id="componentReadyDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content"  >
                <div class="modal-header">
                    <h5 class="modal-title" id="componentDataModalLabel">Status Update </h5>
                </div> 
                <div class="modal-body">
                      <div class="box-body  ">
                            sdfsdsdsdssfds
                            
                      </div>
                </div>
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
                </div>
            </div>
        </div>
     </div>
</div>
</template>

<script>

    

    export default {
        data(){
             return {
                username:'',
                showerror:false,
                showlink :false,
                message:''
            };
        },
        mounted() {
            $('#componentReadyDataModal').on('hidden.bs.modal');
            $('#register').on('hidden.bs.modal');
        },
        methods:{

            shoepage(){

            $('#componentLogDataModal').modal('show');

            },
            submitchangeform(){
                /*let data= {
                    username:this.username
                };
                this.$http.post('/clinic/passwordresetabc/',data ,{ 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}).then((response)=>{
                    let res=response.data;
                    console.log(res.message);
                    if(res.status_code == 200){
                        this.showerror = true;
                        this.message = res.message;
                        this.showlink = true;
                        $('.form-error-message-fp').html(res.message);
                    }
                    else{ 
                      this.showerror = true;  
                      this.message = res.message;
                      $('.form-error-message-fp').html(res.message);  
                      
                      this.showlink = false;
                      
                      
                    }
                })
                .catch((error)=>{console.log(error)});*/
                console.log('444');
                return false;
                
                
               
            },
           

        },
        computed:{
            showmessage(){
                if(this.showerror == true){
                    this.username = '';
                    return true;
                }
                return false;
            },
            isNotaddedForm(){
                if(this.username == '' ){
                    return true;
                }
                return false;
            },
        }
    }
</script>
