<template></template>

<script>

    import { required, alpha, email,sameAs } from 'vuelidate/lib/validators'

    export default {
        data(){
             return {
                email:'',
                password:'',
                username:'',
                picked:'clinic'
            };
        },
        mounted() {
            console.log('Auth View1.');
        },
        validations: {
            email: {
              required
            },
            password:{
                required
            }
        },
        methods:{
            submitloginform(){
              this.$v.$touch();
              if (!this.$v.$error) {
                let data= {
                    username:this.email,
                    email:this.email,
                    password:this.password,
                    picked:this.picked
                };
                
                if(this.picked=='clinic'){
                    this.$http.post('/clinic/loginabc',data,{ 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}).then((response)=>{
                        let res= 'clinic/home'; console.log(response.username);
                        if(response.status==200){
                          window.location.href = res;
                        }
                        else{
                            console.log(response.username);
                        }
                        console.log(response.username);
                    })
                    .catch((error)=>{console.log(error)});
                }else{
                    this.$http.post('/lab/login',data).then((response)=>{
                        let res= 'lab/home';
                        if(response.status==401){

                        }else{
                            window.location.href = res;
                        }
                        //if($response){
                         // window.location.href = res;
                        // /}
                        
                    })
                    .catch((error)=>{console.log(error)});
                }
                

               //console.log('herer');
              }
            }
        }
    }
</script>
