<template></template>

<script>

    import { required, alpha, email,sameAs } from 'vuelidate/lib/validators'

    export default {
        data(){
             return {
                email:'',
                cpassword:'',
                password:'',
                ref:''
            };
        },
        mounted() {
            console.log('Auth View1.');
        },
        validations: {
            email: {
              required
            },
            password:{
                required
            },
            cpassword:{
                required,
                sameAsPassword: sameAs('password')
            }
        },
        methods:{
            submitform(){
              this.$v.$touch();
              if (!this.$v.$error) {
                let data= {
                    email:this.email,
                    password:this.password
                };
                
                this.$http.post('/clinic/login',data).then((response)=>{
                    let res= 'clinic/home';
                    
                     window.location.href = res;
                    
                })
                .catch((error)=>{console.log(error)});

               //console.log('herer');
              }
            }
        }
    }
</script>
