<template></template>

<script>

    import { required, alpha, email,sameAs } from 'vuelidate/lib/validators'

    export default {
        data(){
             return {
                username:'',
                showerror:false,
                showlink :true,
                message:'',
                forgetshow: true,
                changeshow:false,
                otp:'',
                password:''
            };
        },
        mounted() {
            this.forgetshow = true,
            this.changeshow = false
        },
        validations: {
            username: {
              required
            }
        },
        methods:{

            submitchangeform(){
                let data= {
                    username:this.username,
                    otp:this.otp,
                    password:this.password
                };
                ///reset/password
                this.$http.post('/clinic/reset/password',data ).then((response)=>{
                    let res=response.data;
                    console.log(res.message);
                    if(res.status_code == 200){
                       


                    }
                    else{ 
                      
                      
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            submitforgetform(){
                let data= {
                    username:this.username
                };
                this.$http.post('/clinic/password/email',data ).then((response)=>{
                    let res=response.data;
                    console.log(res.message);
                    if(res.status_code == 200){
                        this.showerror = true;
                        this.message = res.message;
                        this.showlink = true;
                        $('.form-error-message-fp').html(res.message);
                        this.forgetshow = false;
                        this.changeshow = true;


                    }
                    else{ 
                      this.showerror = true;  
                      this.message = res.message;
                      $('.form-error-message-fp').html(res.message);  
                      
                      this.showlink = false;
                      this.forgetshow = true;
                      this.changeshow = false;
                      
                    }
                })
                .catch((error)=>{console.log(error)});
                
               
            },
            checkusernameValid(){
                console.log('Auth View5.');
            }

        },
        computed:{
            showmessage(){ 
                if(this.showerror == true){
                    return true;
                }
                return false;
            },
            isNotaddedForm(){
                if(this.username == '' ){
                    return true;
                }
                return false;
            },
            is_forget(){
                if(this.forgetshow == true ){
                    return true;
                }
                return false;
            },
            is_change(){
                if(this.changeshow == true ){
                    return true;
                }
                return false;
            },
            is_disable_to_show(){
                if(this.changeshow == true ){
                    return true;
                }
                return false;
            }

        }
    }
</script>
