<template>
	<div class="row">
		<div v-show="flag_show_chat == 0 && flag_load_chat == 0" class="col-12 text-center">
			<h1 class="m-xl-5">No record found</h1>
		</div>

		<div v-show="flag_load_chat == 1" class="col-12 text-center">
			<h1 class="m-xl-5">Loading...</h1>
		</div>

		<div v-show="flag_show_chat" class="col-xl-4 col-lg-12 col-md-12">
			<div class="top">
				<div id="custom-search-form" class="form-search form-horizontal">
					<div class="input-append span12 chat-search">
						<i class="fa fa-search"></i>
						<input type="text" class="search-query-chat" placeholder="Search" v-model="search_case_text" tabindex="-1">
					</div>
				</div>
			</div>
			<div class="scroll-area ma-t-15">
				<div class="dashboard-box-lab" v-for="caselist_item in filteredCaseList" :key="caselist_item.groupID" @click="displaychat(caselist_item.groupID)" >
					<div class="row bs-example-chat cursor-pointer" :class="caselist_item.groupID == detail_data.case_code ? 'bs-example-chat-active' : ''">
						<div class="col-3">
							<img :src="otherdata.caselist_image" width="60px" class="imagechat"/>
						</div>
						<div class="col-9 pr-0">
							<span class="inner-box-lab">#{{ caselist_item.groupID }}</span>
							<span class="inner-box-right-chat-detail">{{ caselist_item.timeStamp | caselist_item_date_format }}</span>
							<br />
							<span class="black-color-class">{{ caselist_item.senderName }}</span>
							<span class="chat_badgeCount" :class="caselist_item.badgeCount > 0 ? '' : 'display-none'">{{ caselist_item.badgeCount }}</span>
							<br />
							<span class="date-class">
								{{ caselist_item.isTyping ? caselist_item.typingText : caselist_item.messageText }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-show="flag_show_chat" class="col-xl-6 col-lg-12 col-md-12" id="main" >
			<div class="dashboard-box chat-screen-heading">
				<div class="row bs-example-lab-detail-nobackground chat-screen">
					<div class="col-3 pull-right">
						<img :src="otherdata.caselist_image" width="80px" class="imagechatdetail" />
					</div>
					<div class="col-9 no-pading-left">
						<span class="inner-box-chat-detail">#{{ detail_data.case_code }}</span>
						<br /><br />
						<span class="clinic-name">{{ detail_data.doctor_name }} | {{ detail_data.lab_name }}</span>
						<a href="#" id="angletoggle">
							<div>
								<i class="fa fa-angle-right angle-control" aria-hidden="true"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="box-body chat-screen">
			<!-- Conversations are loaded here -->
				<div class="direct-chat-messages">
					<div v-for="(message_item, key) in chat_messages" :key="key" style="clear: both;">
						<div v-if="show_chat_messages_date(message_item.timeStamp)" class="chat_messages_date_format">{{ message_item.timeStamp | message_item_date_format }}</div>
						<div class="direct-chat-msg" :class="message_item.senderID == clinicid ? 'pull-right' : 'receiver'">
							<div v-if="message_item.senderID != clinicid" class="direct-chat-info clearfix">
								<span class="direct-chat-name pull-left">{{ message_item.senderName }}</span>
							</div>
							<div class="direct-chat-text" :class="message_item.senderID == clinicid ? 'sender-chat' : ''">
								<div v-if="message_item.messageType === 'image'">
									<a :href="message_item.imageURL" data-fancybox="chat_gallery">
										<img :src="message_item.imageThumbURL" alt="Image" style="height: 100px; width: 100px;" />
									</a>
								</div>
								<div v-else-if="message_item.messageType === 'video'" class="chat_video">
									<a data-fancybox="chat_gallery" :href="'#myVideo_'+key+'_'+message_item.senderID">
										<div class="chat_video_container">
											<img :src="message_item.imageThumbURL" alt="Video" style="height: 100px; width: 100px;" />
											<div class="video_positioner">
												<div class="video_icon"></div>
											</div>
										</div>
									</a>
									<video controls muted preload="metadata" :id="'myVideo_'+key+'_'+message_item.senderID" style="display: none;">
										<source :src="message_item.videoUrl">
									</video>
								</div>
								<div v-else>
									{{ message_item.messageText }}
								</div>
							</div>
							<span class="direct-chat-timestamp" :class="message_item.senderID == clinicid ? 'pull-left' : 'pull-right'">{{ message_item.timeStamp | message_item_time_format }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="dashboard-box-chat-detail">
				<div id="footer_action_row" class="row bs-example-chat-detail">
					<div class="col-12">
						<chatstatus logintype="lab" :currenttatus="casestatus" :caseedd="caseedd" :casecode="casecode" :caseid="caseid"  v-if="casestatus"></chatstatus><!-- 
						<button type="button" class="btn btn-lg btn-blue float-right">Delivered to Patient</button>
						<button type="button" class="btn btn-lg btn-blue float-right">Verified by Dr.</button> -->
					</div>
				</div>
			</div>

			<div class="dashboard-box-chat-detail">
				<div class="row bs-example-chat-detail">
					<div class="col-12 form-group m-0">
						<div class="input-group">
							<div class="image-upload">
								<label for="file-input" class="cursor-pointer">
									<i class="fa fa-paperclip chat-paperclip" aria-hidden="true"></i>
								</label>
								<form class="display-none">
									<input id="file-input" type="file" @change="sendFilesChange($event.target.files);" />
								</form>
							</div>
							<input type="text" name="message" @keyup="userTyping($event)" v-model="chatmessage_new" placeholder="Type your message here" class="form-control chat-form">
							<span @click="send()" class="cursor-pointer">
								<img src="/images/send-icon.png">
							</span>
						</div>
						<span class="chat_uploading_file_progress small display-none">Uploading in progress...</span>
						<span class="chat_allowed_file_extensions_error small help-block display-none">Only <b>Image</b> (png, jpeg), <b>Video</b> (mp4, mov) file allowed.</span><br />
					</div>
				</div>
			</div>
		</div>

		<div v-show="flag_show_chat" class="col-xl-2 col-lg-2 col-md-2 text-center" id="sidebar">
			<img class="detail-img" :src="otherdata.chat_clinic_image" alt="Image">
			<br />
			<span class="color-class">{{ detail_data.lab_name }}</span>
			<br />
		</div>
	</div>
</template>
<style lang='sass'></style>

<script>

import moment from 'moment';

let chatAllowedFileExtensions = ['image/png', 'image/jpeg', 'video/mp4', 'video/quicktime'];

export default {
	props: ["headline", "clinicid", "clinic_name", "addcasecode", "otherdatajson", "chat_caselist", "flag_load_chat"],

	data() {
		return {
			detail_data: {
				case_code: '',
				end_date:'',
				doctor_name: '',
				status:'',
				doctor_id: 0,
				clinic_name: '',
				clinic_id: 0,
				memberstr: '',
				memberlist: [],
				id:'',
				case_code:''
			},
			chat_messages: {},
			chatmessage_new: "",
			firebaseStorageRef: firebase.storage().ref(),			
			search_case_text: '',
			flag_show_chat: 0,
			otherdata: []
		};
	},

	mounted() {
		this.otherdata = $.parseJSON(this.otherdatajson);
		this.chat_messages_date_previous = '';
		this.userTypingTimer = '';
	},

	methods: {

		LoadChatCaselist() {
			const vm = this;
			let showchat = '';
			if (vm.addcasecode != '') {
				let is_exists_addcasecode = false;

				_.each(vm.chat_caselist, function(element, key) {
					if (vm.addcasecode == element.groupID) {
						is_exists_addcasecode = true;
					}
				});

				if (!is_exists_addcasecode) {
					vm.chat_caselist.unshift({'groupID': vm.addcasecode});
				}
				vm.flag_show_chat = 1;
				showchat = vm.addcasecode;
			} else if (vm.chat_caselist.length) {
				vm.flag_show_chat = 1;
				showchat = vm.chat_caselist[0].groupID;
			}

			if (vm.detail_data.case_code == '' && vm.flag_show_chat) {
				vm.displaychat(showchat);
			} else {
				this.removeChatCount(vm.detail_data.case_code);
			}
		},

		removeChatCount(showchat) {
			const vm = this;
			
			let ref = firebase.database().ref("RECENTCHAT/" + vm.clinicid + "/" + showchat);
			ref.once("value", function(snapshot) {
				if (snapshot.val()) {
					ref.update({
						badgeCount: 0
					});
				}
			});
		},

		displaychat(showchat) {
			this.removeChatCount(showchat);
			const vm = this;
			if (vm.detail_data.case_code != '') {
				firebase.database().ref("MESSAGE/" + vm.detail_data.case_code).off();
			}
			vm.detail_data.case_code = showchat;
			vm.chat_messages = {};
			vm.chat_messages_date_previous = '';

			let uri = '/clinic/chat/cases/' + showchat;
			vm.$http.get(uri).then(response => {
					let res = response.data;
					if (res.status_code == 200) {
						vm.detail_data.doctor_name = res.doctor_name;
						vm.detail_data.doctor_id = res.doctor_id;
						vm.detail_data.lab_name = res.lab_name;
						vm.detail_data.lab_id = res.lab_id;
						vm.detail_data.memberstr = vm.clinicid+','+vm.detail_data.doctor_id+','+vm.detail_data.lab_id;
						vm.detail_data.memberlist = [vm.clinicid,vm.detail_data.doctor_id,vm.detail_data.lab_id];
						vm.detail_data.status = res.status;
						vm.detail_data.id = res.id;
						vm.detail_data.case_code = res.case_code;
						vm.detail_data.end_date = res.end_date;
						
						let chat_json = {};
						let last_timeStamp = 0;

						if (res.data != '') {
							chat_json = JSON.parse(res.data);
							let last_obj = chat_json[Object.keys(chat_json).pop()];
							last_timeStamp = last_obj.timeStamp;
						}

						firebase.database().ref("MESSAGE/" + showchat).orderByChild('timeStamp').startAt(last_timeStamp)
						.once("value", function(snapshot) {
							let objChatDiv = $('.direct-chat-messages');

							if (snapshot.val()) {
								let snapshot_data = snapshot.val();
								vm.chat_messages = $.extend(chat_json, snapshot_data);

								let last_obj = snapshot_data[Object.keys(snapshot_data).pop()];
								last_timeStamp = last_obj.timeStamp;

								objChatDiv.parent().css('height', '420px');
								objChatDiv.hide();

								setTimeout(() => {
									objChatDiv.parent().css('height', 'initial');
									objChatDiv.show();
									objChatDiv.scrollTop(objChatDiv.prop("scrollHeight"));
								}, 100);

								vm.$http.post('/clinic/chat', {'showchat': showchat, 'snapshot': snapshot_data}).then((response) => {
									})
									.catch((error) => { });
							}

							let child_ref = firebase.database().ref("MESSAGE/" + showchat).orderByChild('timeStamp').startAt(last_timeStamp);
							child_ref.on("child_added", function(snapshot) {
								if (snapshot.val()) {
									let snapshot_data = snapshot.val();
									
									if (snapshot_data.groupID == vm.detail_data.case_code) {
										let tmp_obj = {};
										tmp_obj[snapshot_data.messageID] = snapshot_data;
										$.extend(vm.chat_messages, tmp_obj);

										setTimeout(() => {
											objChatDiv.scrollTop(objChatDiv.prop("scrollHeight"));
										}, 500);

										vm.$http.post('/clinic/chat', {'showchat': showchat, 'snapshot': tmp_obj}).then((response) => {
											})
											.catch((error) => { });
									}
								}
							});
						});
					}
				})
				.catch(error => {});

			/* vm.$http.post('/clinic/chat/list-ajax/', {'showchat': showchat}).then((response) => {
				let res = response.data;

				if (res.status_code == 200) {
					let chat_json = {};
					let last_timeStamp = 0;

					if (res.data != '') {
						chat_json = JSON.parse(res.data);
						let last_obj = chat_json[Object.keys(chat_json).pop()];
						last_timeStamp = last_obj.timeStamp;
					}

					firebase.database().ref("MESSAGE/" + showchat).orderByChild('timeStamp').startAt(last_timeStamp)
					.once("value", function(snapshot) {
						let objChatDiv = $('.direct-chat-messages');

						if (snapshot.val()) {
							let snapshot_data = snapshot.val();
							vm.chat_messages = $.extend(chat_json, snapshot_data);

							let last_obj = snapshot_data[Object.keys(snapshot_data).pop()];
							last_timeStamp = last_obj.timeStamp;

							objChatDiv.parent().css('height', '420px');
							objChatDiv.hide();

							setTimeout(() => {
								objChatDiv.parent().css('height', 'initial');
								objChatDiv.show();
								objChatDiv.scrollTop(objChatDiv.prop("scrollHeight"));
							}, 100);

							vm.$http.post('/clinic/chat', {'showchat': showchat, 'snapshot': snapshot_data}).then((response) => {
								})
								.catch((error) => { });
						}

						firebase.database().ref("MESSAGE/" + showchat).orderByChild('timeStamp').startAt(last_timeStamp)
						.on("child_added", function(snapshot) {
							if (snapshot.val()) {
								let snapshot_data = snapshot.val();
								let tmp_obj = {};
								tmp_obj[snapshot_data.messageID] = snapshot_data;

								$.extend(vm.chat_messages, tmp_obj);

								setTimeout(() => {
									objChatDiv.scrollTop(objChatDiv.prop("scrollHeight"));
								}, 50);

								vm.$http.post('/clinic/chat', {'showchat': showchat, 'snapshot': tmp_obj}).then((response) => {
									})
									.catch((error) => { });
							}
						});
					});
				}
			})
			.catch((error) => { }); */
		},

		send() {
			const vm = this;

			if (vm.chatmessage_new.trim() == '') {
				return false;
			}

			let case_code = vm.detail_data.case_code;
			let send_message = vm.chatmessage_new;
			vm.chatmessage_new = '';

			let detailchat = firebase.database().ref("MESSAGE/" + case_code);
			let time_stamp = firebase.database.ServerValue.TIMESTAMP;
			let newPostKey = detailchat.push().key;

			let addchat = firebase
				.database()
				.ref("MESSAGE/" + case_code + "/" + newPostKey);
			addchat.set({
				groupID: case_code,
				groupName: case_code,
				memberID: vm.detail_data.memberstr,
				messageID: newPostKey,
				messageText: send_message,
				messageType: "text",
				senderID: vm.clinicid,
				senderName: vm.clinic_name,
				timeStamp: time_stamp
			});

			_.each(vm.detail_data.memberlist, function(userid, key) {
				let ref = "";
				let basecount = 0;

				ref = firebase.database().ref("RECENTCHAT/" + userid + "/" + case_code);

				ref.once("value", function(snapshot) {
					basecount = snapshot.val() ? snapshot.val().badgeCount + 1 : 1;
					if (userid == vm.clinicid) {
						basecount = 0;
					}
					ref.set({
						badgeCount: basecount,
						clinicID: vm.clinicid,
						groupID: case_code,
						groupName: case_code,
						isTyping: false,
						memberID: vm.detail_data.memberstr,
						messageID: newPostKey,
						messageText: send_message,
						messageType: "text",
						senderID: vm.clinicid,
						senderName: vm.clinic_name,
						timeStamp: time_stamp,
						typingText: ""
					});
				});
			});
		},

		sendFilesChange(fileList) {
			$('.chat_allowed_file_extensions_error').closest('.form-group').removeClass('has-error');
			$('.chat_allowed_file_extensions_error').hide();
			if (fileList.length == 0) {
				return false;
			}
			let chat_files = Object.assign({}, fileList);

			$("#file-input").closest('form')[0].reset();

			const vm = this;
			let caseCode = vm.detail_data.case_code;
			let caseMemberStr = vm.detail_data.memberstr;
			let caseMemberList = vm.detail_data.memberlist;
			let flag_error = 0;

			_.each(chat_files, function(element, key) {
				if ( $.inArray(element.type, chatAllowedFileExtensions) == -1) {
					$('.chat_allowed_file_extensions_error').closest('.form-group').addClass('has-error');
					$('.chat_allowed_file_extensions_error').show();
					flag_error = 1;
					return false;
				}
			});

			if (flag_error) {
				return false;
			}

			_.each(chat_files, function(element, key) {

				let upload_file_path = element.type.split('/').shift();
				let new_guid = vm.guid();
				let file_name_ext = element.name.split('.').pop();

				vm.uploadFileToFirebase(upload_file_path + '/' + new_guid + '.' + file_name_ext, element, 'file', function(response) {

					let upload_file_path_url = response;

					if (upload_file_path == 'image') {

						var reader = new FileReader();
						reader.onloadend = function () {
							vm.thumbnailify(reader.result, 50, function(base64Thumbnail) {
								vm.uploadFileToFirebase(upload_file_path + '/thumb/' + new_guid + '.png', base64Thumbnail, 'data_url', function(response) {
									vm.addToFirebaseDatabase('image', caseCode, caseMemberStr, caseMemberList, response, upload_file_path_url, new_guid);
								});
							});
						}
						reader.readAsDataURL(element);

					} else {

						let _CANVAS = document.createElement('canvas'),
							_CTX = _CANVAS.getContext("2d"),
							_VIDEO = document.createElement('video');

						_VIDEO.addEventListener('loadeddata', function() {

							// Set canvas dimensions same as video dimensions
							_CANVAS.width = _VIDEO.videoWidth;
							_CANVAS.height = _VIDEO.videoHeight;

							_CTX.drawImage(_VIDEO, 0, 0, _VIDEO.videoWidth, _VIDEO.videoHeight);

							vm.thumbnailify(_CANVAS.toDataURL(), 50, function(base64Thumbnail) {
								vm.uploadFileToFirebase(upload_file_path + '/thumb/' + new_guid + '.png', base64Thumbnail, 'data_url', function(response) {
									vm.addToFirebaseDatabase('video', caseCode, caseMemberStr, caseMemberList, response, upload_file_path_url, new_guid);
								});
							});
						});

						// Object Url as the video source
						_VIDEO.src = URL.createObjectURL(element);

						// Load the video and show it
						_VIDEO.load();

					}
				});
			});
		},

		uploadFileToFirebase(upload_path, data, data_type, callback) {
			const vm = this;
			console.log(upload_path);

			let uploadTask;
			if (data_type == 'file') {
				uploadTask = vm.firebaseStorageRef.child(upload_path).put(data);
			} else {
				uploadTask = vm.firebaseStorageRef.child(upload_path).putString(data, 'data_url');
			}

			// Listen for state changes, errors, and completion of the upload.
			uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
				function(snapshot) {
					$('.chat_uploading_file_progress').show();

					// Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
					var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
					console.log('Upload is ' + progress + '% done');
					switch (snapshot.state) {
						case firebase.storage.TaskState.PAUSED: // or 'paused'
							console.log('Upload is paused');
							break;
						case firebase.storage.TaskState.RUNNING: // or 'running'
							console.log('Upload is running');
							break;
					}
				}, function(error) {

					// A full list of error codes is available at
					// https://firebase.google.com/docs/storage/web/handle-errors
					switch (error.code) {
						case 'storage/unauthorized':
							// User doesn't have permission to access the object
							break;

						case 'storage/canceled':
							// User canceled the upload
							break;

						case 'storage/unknown':
							// Unknown error occurred, inspect error.serverResponse
							break;
					}
				}, function() {
					$('.chat_uploading_file_progress').hide();

					// Upload completed successfully, now we can get the download URL
					uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
						console.log('File available at', downloadURL);
						callback(downloadURL);
					});
				}
			);
		},

		addToFirebaseDatabase(messageType, caseCode, caseMemberStr, caseMemberList, imageThumbURL, imageVideoURL, messageUniqueId) {
			const vm = this;

			let detailchat = firebase.database().ref("MESSAGE/" + caseCode);
			let timestamp = firebase.database.ServerValue.TIMESTAMP;
			let newPostKey = detailchat.push().key;

			if (messageType == 'image') {
				let addMessage = firebase
					.database()
					.ref("MESSAGE/" + caseCode + "/" + newPostKey)
					.set({
						groupID: caseCode,
						groupName: caseCode,
						imageThumbURL: imageThumbURL,
						imageURL: imageVideoURL,
						isDownload: false,
						memberID: caseMemberStr,
						messageID: newPostKey,
						messageText: "image",
						messageType: "image",
						messageUniqueId: messageUniqueId,
						senderID: vm.clinicid,
						senderName: vm.clinic_name,
						timeStamp: timestamp
					});

				_.each(caseMemberList, function(userid, key) {
					let ref = "";
					let basecount = 0;

					ref = firebase.database().ref("RECENTCHAT/" + userid + "/" + caseCode);

					ref.once("value", function(snapshot) {
						basecount = snapshot.val() ? snapshot.val().badgeCount + 1 : 1;
						if (userid == vm.clinicid) {
							basecount = 0;
						}
						ref.set({
							badgeCount: basecount,
							clinicID: vm.clinicid,
							groupID: caseCode,
							groupName: caseCode,
							imageThumbURL: imageThumbURL,
							imageURL: imageVideoURL,
							isDownload: false,
							isTyping: false,
							memberID: caseMemberStr,
							messageID: newPostKey,
							messageText: "image",
							messageType: "image",
							messageUniqueId: messageUniqueId,
							senderID: vm.clinicid,
							senderName: vm.clinic_name,
							timeStamp: timestamp,
							typingText: ""
						});
					});
				});
			} else {
				let addMessage = firebase
					.database()
					.ref("MESSAGE/" + caseCode + "/" + newPostKey)
					.set({
						groupID: caseCode,
						groupName: caseCode,
						imageThumbURL: imageThumbURL,
						videoUrl: imageVideoURL,
						isDownload: false,
						memberID: caseMemberStr,
						messageID: newPostKey,
						messageText: "video",
						messageType: "video",
						messageUniqueId: messageUniqueId,
						senderID: vm.clinicid,
						senderName: vm.clinic_name,
						timeStamp: timestamp
					});

				_.each(caseMemberList, function(userid, key) {
					let ref = "";
					let basecount = 0;

					ref = firebase.database().ref("RECENTCHAT/" + userid + "/" + caseCode);

					ref.once("value", function(snapshot) {
						basecount = snapshot.val() ? snapshot.val().badgeCount + 1 : 1;
						if (userid == vm.clinicid) {
							basecount = 0;
						}
						ref.set({
							badgeCount: basecount,
							clinicID: vm.clinicid,
							groupID: caseCode,
							groupName: caseCode,
							imageThumbURL: imageThumbURL,
							videoUrl: imageVideoURL,
							isDownload: false,
							isTyping: false,
							memberID: caseMemberStr,
							messageID: newPostKey,
							messageText: "video",
							messageType: "video",
							messageUniqueId: messageUniqueId,
							senderID: vm.clinicid,
							senderName: vm.clinic_name,
							timeStamp: timestamp,
							typingText: ""
						});
					});
				});
			}

		},

		show_chat_messages_date(value) {
			var vm = this;
			let flag = true;
			let date_previous = vm.chat_messages_date_previous;
			let date_now = this.$options.filters.message_item_date_format(value);
			if (date_now == date_previous) {
				flag = false;
			}
			vm.chat_messages_date_previous = this.$options.filters.message_item_date_format(value);

			return flag;
		},

		guid() {
			function s4() {
				return Math.floor((1 + Math.random()) * 0x10000)
					.toString(16)
					.substring(1);
			}
			return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
		},

		thumbnailify(base64Image, targetSize, callback) {
			var img = new Image();

			img.onload = function() {
				var width = img.width,
					height = img.height,
					canvas = document.createElement('canvas'),
					ctx = canvas.getContext("2d");

				canvas.width = canvas.height = targetSize;

				ctx.drawImage(
					img,
					width > height ? (width - height) / 2 : 0,
					height > width ? (height - width) / 2 : 0,
					width > height ? height : width,
					width > height ? height : width,
					0, 0,
					targetSize, targetSize
				);

				callback(canvas.toDataURL());
			};

			img.src = base64Image;
		},

		userTyping: function(e) {
			const vm = this;
			let case_code = vm.detail_data.case_code;

			// only numbers, letters, spaces, and backspace
			if (e.keyCode === 13) {
				this.send();
			} else if (e.keyCode >= 48 && e.keyCode <= 57 || e.keyCode >= 65 && e.keyCode <= 90 || e.keyCode == 33 || e.keyCode == 4) {

				clearTimeout(vm.timer);

				_.each(vm.detail_data.memberlist, function(userid, key) {
					if (userid != vm.clinicid) {
						let ref = "";
						ref = firebase.database().ref("RECENTCHAT/" + userid + "/" + case_code);
						ref.once("value", function(snapshot) {
							if (snapshot.val()) {
								ref.update({
									isTyping: true,
									typingText: vm.clinic_name + " is typing..."
								});
							}
						});
					}
				});

				vm.timer = setTimeout(() => {
					_.each(vm.detail_data.memberlist, function(userid, key) {
						if (userid != vm.clinicid) {
							let ref = "";
							ref = firebase.database().ref("RECENTCHAT/" + userid + "/" + case_code);
							ref.once("value", function(snapshot) {
								if (snapshot.val()) {
									ref.update({
										isTyping: false,
										typingText: ""
									});
								}
							});
						}
					});
				}, 1000);
			}
		}
	},

	watch: {
		chat_caselist: function (val) {
			this.LoadChatCaselist();
		}
	},

	computed: {
		casestatus:function(){
			const vm = this;
			return vm.detail_data.status;
		},
		casecode:function(){
			const vm = this;
			return vm.detail_data.case_code;
		},
		caseedd:function(){
			const vm = this;
			return vm.detail_data.end_date;
		},
		caseid:function(){
			const vm = this;
			return vm.detail_data.id;
		},
		filteredCaseList: function() {
			var vm = this;
			
			if(vm.search_case_text == "") {
				return vm.chat_caselist;
			} else {
				return vm.chat_caselist.filter(function(item) {
					return item.groupID.toLowerCase().indexOf(vm.search_case_text.toLowerCase()) >= 0;
				});
			}
		}
	},

	filters: {
		caselist_item_date_format: function (value) {
			if (!value) return '';

			if (moment().format('L') == moment(value).format('L')) {
				return moment(value).format('LT');
			} else if (moment().subtract(1, 'days').format('L') == moment(value).format('L')) {
				return 'Yesterday';
			} else {
				return moment(value).format('L');
			}
		},

		message_item_time_format: function(value) {
			if (!value) return '';
			return moment(value).format('LT');
		},

		message_item_date_format: function(value) {
			if (!value) return '';
			return moment(value).format('LL');
		}
	}
};
</script>