<template>
    <div class="container">
        <button type="button" v-if="is_update_show" @click="showready()"   class="btn btn-lg btn-blue float-right ">Delivered to Patient</button>
        <button type="button" v-else class="btn btn-lg btn-blue float-right disabled curssernoneallowed" >
           Delivered to Patient
        </button>
       
        

         <div class="modal fade componentData readycomponent" id="componentReadyDataModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"  >
                    <div class="modal-header">
                        <h5 class="modal-title" id="componentDataModalLabel">Status Update </h5>
                    </div> 
                    <div class="modal-body">
                          <div class="box-body  ">
                                <div v-if="casestatus == 'Received' ">
                                    <span> Case is Received.</span> 
                                </div>
                                <div v-else-if="casestatus == 'Delayed' ">
                                    <span> Case is delayed. Please wait till lab update status to Ready for delivery</span>
                                </div>
                                <div v-else-if="casestatus == 'In Process' ">
                                    <span> Case is in Process. Please wait till lab update status to Ready for delivery</span>
                                </div>
                                <div v-else-if="casestatus == 'Pending' ">
                                    <span> Please do receive case first to update process.</span>
                                </div>
                                <div v-else-if="casestatus == 'Delivered to patient' ">
                                    <span> Case is completed</span> 
                                </div>
                                <div v-else-if="casestatus == 'Repetition' ">
                                    <span> Case is repeted</span> 
                                </div>
                                <div v-else>
                                <span>Please click on button to change case status to <strong>Delivered to patient</strong></span>
                                
                                </div>
                                
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-if="is_update_show"  @click="updatereadyStatus(caseid,casecode,'Ready for delivery')"   >Delivered to patient</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
                    </div>
                </div>
            </div>
         </div>
    </div>     
</template>
<style type="text/css">
    .delayboxcomponent .timeline > li > .timeline-item {
        box-shadow: none;
    }    
</style>
<script>

    
    export default {
       
        props:['logintype','currenttatus','casecode','caseedd','caseid'],
        data(){
            return {
                logData:[],
                newdate:'',
                datemessage:'',
                resonmessage:'Please Enter Only 100 characters',
                reson:"",
                casesupdatedtatus:'',
                updateobj:{}
            };
        },
        mounted() {
            console.log(this.casestatus);
            $('#componentReadyDataModal').on('hidden.bs.modal');
            //this.all();
        },
        methods:{
            customFormatter(date) {
              return moment(date).format('MM-D-YYYY');
            },
            updatereadyStatus(id,case_code,status){
                this.updateobj.id         = id;
                this.updateobj.case_code  = case_code;
                this.updateobj.status     = status;
                // this.categories.push(this.singleObj);
                this.$http.post('/clinic/updateStatus',this.updateobj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==200){
                        this.casesupdatedtatus = 'Delivered to patient';
                       $('#componentReadyDataModal').modal('hide');
                       
                    }
                })
                .catch((error)=>{console.log(error)});
            },
           
            showready(){
                $('#componentReadyDataModal').modal('show');
            }
        },
        computed:{
            
            casestatus(){
                console.log(this.casesupdatedtatus);
                if(this.casesupdatedtatus == '')
                {
                    return this.currenttatus;
                }
                else{
                    return this.casesupdatedtatus;
                }
            },
            is_add_show(){
                if(this.casestatus == 'Ready for delivery'){
                    return false;
                }
                else if(this.casestatus == 'Pending'){
                    return false;
                }
                else if(this.casestatus == 'Delayed'){
                    return false;
                }
                else if(this.casestatus == 'Delivered to patient'){
                    return false;
                }
                else if(this.casestatus == 'Repetition'){
                    return false;
                }
                else{
                    return true;
                }
            },
            is_update_show(){
                if(this.casestatus == 'Ready for delivery'){
                    return true;
                }
                else{
                    return false;
                }
            }
        }

    }
</script>
