<template>
    <div class="col-12">      
      <div class="dashboard-box-no-margin" id="settingpages">
        <div class="row bs-example-report-table settings">
          <div class="box-body table-responsive table-fixed">   
          <div v-if='showAlert'>
            <alert :type="alertType">{{ alertText }}</alert>
          </div>      
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="sub-classes-tikets ma-t-28">
                       <div class="col-2">
                        <span class="support-name">Old Password:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="password" class="form-control col-4" id="old_password" @change="checkPassword()" v-model='old_password' autofocus>
                          <span v-if="showinvalidpassord" class="errormessage">Old Password is invalid.</span>
                       </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       <div class="col-2">
                        <span class="support-name">Password:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="password" class="form-control col-4" id="password" v-model='password' autofocus>
                       </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       <div class="col-2">
                        <span class="support-name">Confirm Password:</span> 
                       </div> 
                       <div class="col-10">
                          <input type="password" class="form-control col-4" @change="checkmatch()" id="new_password" v-model='new_password' autofocus>
                          <span v-if="matchpassword" class="errormessage">Password is not match with Confirm Password.</span>
                       </div>
                    </div>
                  </td>
                </tr>

                 <tr>
                  <td>
                    <div class="sub-classes-tikets ">
                       
                       <div class="col-md-7">
                            <button type="button" class="btn btn-primary ma-r-15" :disabled="isNotValidateForm" @click="setDate()" >Update</button>
                            
                            <a href="/clinic/home" class="btn btn-danger" >Cancel</a>
                        </div>  
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        
        </div>
      </div>
    </div>

    
</template>

<script>
 export default {
        data(){
            return {
                showAlert:false,
                alertType:'',
                alertText:'',
                old_password:'',
                password:'',
                new_password:'',
                showinvalidpassord:false,
                matchpassword : false,
            }
        },
        mounted() {
            
        },
        methods:{
            resetData(){
                this.old_password = '';
                this.password = '';
                this.new_password = '';
                this.showinvalidpassord = false;
                this.matchpassword = false;
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                this.alertText=text;
                this.showAlert=isShow;
            },
            
            checkPassword(){              
              this.$http.post(`/clinic/settings/checkpassword`,{ old_password : this.old_password }).then((response)=>{
                  let res= response.data; console.log(res.status_code);
                  if(res.status_code==200){
                    this.showinvalidpassord = false;
                  }
                  else{
                    this.showinvalidpassord = true;
                  }
              })
              .catch();
            },

            checkmatch(){
              if (this.password != this.new_password){
                this.matchpassword = true;
              }
              else{
                this.matchpassword = false;
              }
            },

            setDate(){      
              this.resetAlert();        
              let uri=`/clinic/settings/updatepassword`;
              this.$http.post(uri,{ old_password : this.old_password,password : this.password}).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                      this.resetData();
                      this.alertHandler('success',res.message,true);
                  }
                  else{
                    this.resetData();
                    this.alertHandler('fail',res.message,true);
                  }
              })
              .catch();
            },
        },
        computed:{
            isNotValidateForm(){
                if(this.old_password == "" || this.password=="" || this.new_password == "")
                {
                   return true;
                }
                else if(this.showinvalidpassord == true )
                {
                   return true;
                } 
                else if (this.password != this.new_password)
                {
                    return true;
                }
                
                return false;
            },
        }
}
</script>