<template>

 
    <form id="contctUS" name="contctUS">
           <div class="row formRow">
            <div class="col-lg-6 mx-auto form-group" v-bind:class="{ 'has-error': $v.name.$error }">
              <label for="name" class="mainlabel">Your Name(required)</label>
              <input type="text" class="form-control mainfrm" name="name" id="name" value="" v-model="name" @input="$v.name.$touch()">
              <span class="form-error-message" v-bind:class="{ 'help-block': $v.name.$error }" v-if="!$v.name.required">Name Field is required</span>
               <span class="form-error-message" v-bind:class="{ 'help-block': $v.name.$error }" v-if="!$v.name.alpha">No digits allow</span>
                
            </div>
            <div class="col-lg-6  mx-auto form-group" v-bind:class="{ 'has-error': $v.email.$error }">
              <label for="email" class="mainlabel">Your Email(required)</label>
              <input type="email" class="form-control mainfrm" id="email" name="email" value="" v-model = "email" @input="$v.email.$touch()">
              <span class="form-error-message" v-bind:class="{ 'help-block': $v.email.$error }" v-if="!$v.email.required">Email Field is required</span>
              <span class="form-error-message" v-bind:class="{ 'help-block': $v.email.$error }" v-if="!$v.email.email">Please enter proper email address</span>
            
            </div>
          </div>
          <div class="row formRow">
            <div class="col-lg-12 mx-auto form-group">
              <label for="sub" class="mainlabel">Subject</label>
              <input type="text" class="form-control mainfrm" id="sub" name="sub" value="" v-model = "sub">
            </div>
          </div>

          <div class="row formRow">
            <div class="col-lg-12 mx-auto form-group" v-bind:class="{ 'has-error': $v.msg.$error }">
              <label for="msg" class="mainlabel">Your Message(required)</label>
              <textarea class="form-control mainfrm" rows="3" id="msg" name="msg" v-model="msg"  @input="$v.msg.$touch()"></textarea>
              <span class="form-error-message" v-bind:class="{ 'help-block': $v.msg.$error }" v-if="!$v.msg.required">Message Field is required</span>
            </div>
          </div>

          <div class="row formRow">
          <div class="mx-auto">
            <button type="submit" class="btn btn-custom2" @click="$v.$touch">SEND</button>
          </div>
          </div>
    </form>
</template>
<style>
  

</style>
<script>
    import { required, alpha, email } from 'vuelidate/lib/validators'

   
    export default {
        mounted() {
            console.log('contactus ready.');
        },
        data(){
            return {
                name:'',
                email:'',
                sub:'',
                msg:''
            };
        },

        validations: {
            name: {
              required,
              alpha
            },
            email:{
                required,
                email
            },
            msg:{
                required
            }
        }
    }
</script>