<template>
    <h1>dfsfsfd</h1>
    
    
</template>

<script>
 export default {
        data(){
            return {
             
            }
        },
        mounted() {
            console.log('Auth View2.');
            //$('#myModal').modal('hide');
            //$('#componentDataModal').on('hidden.bs.modal', ()=>this.restData());
        }
}
</script>