<style type="text/css">
  .Alert__close {
    float: right;
    cursor: pointer;
}
</style>
<template>
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box-cover">
        <div class="box-header">
          <!-- ADD EVENT -->
          <div class="box-title">
              <div class="boxtext">DOCTORS: 25</div>
          </div>
          <div class="box-tools">
            <form class="form-inline" @submit.prevent="searchInput">
              <div class="form-group">

                <div class="input-group">
                  <label class="searchlabel">Search:</label>
                  <input type="text" v-model="searchQuery" class="form-control" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                </div>
              </div>
              <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
                <button class="btn btn-yellow" @click="create()" v-show='showAdd'> <i class="fa fa-plus"></i>&nbsp; Add Doctor</button>
              </transition>
            </form>
          </div>
        </div>
          <!-- /.box-header -->
        <div class="box-body table-responsive table-fixed">
          <table class="table table-hover">
            <tbody>
                <tr>
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols)">
                  {{ cols }} 
                  <span class="arrow" 
                    :class="sortOrder.field == cols ? sortOrder.order : 'asc'"
                    v-if="escapeSort.indexOf(cols) < 0"></span>
                  </th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                  <!-- <th scope="row" v-text="runningData.id"></th> -->
                  <td align="left"><img src="http://192.168.1.196:8000/storage/user/doctors/user.png" width="50px" />Dr. Jems smith</td>
                  <td align="center">jemssmith@gmail.com</td>
                  <td align="center">+91 123 456 6890</td>
                  <td align="center">12</td>
                  <td align="center">12</td>
                  <td>
                    <div class="" role="group" aria-label="...">
                    
                      <button type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                        <img src="http://192.168.1.196:8000/images/imgpsh_fullsize.png" width="15px" />
                      </button>

                      <button class="btn btn-primary" @click="switchStatus(runningData)">
                        Active
                      </button>
                    </div>
                  </td>
                </tr>
            </tbody>
          <!--   <tbody  v-if="componentData.length">
              <tr v-for="runningData in componentData">
                <th scope="row" v-text="runningData.id"></th>
                <td v-text="runningData.username"></td>
                <td v-text="runningData.email"></td>
                <td v-text="runningData.contact_number"></td>
                <td v-text="runningData.completed_cases"></td>
                <td v-text="runningData.ongoing_cases"></td>
                <td>
                  <div class="" role="group" aria-label="...">
                  
                    <button type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                      <i class='fa fa-trash-o' ></i>
                    </button>
          
                    <button v-if="runningData.status==1" class="btn btn-primary" @click="switchStatus(runningData)">
                      Active
                    </button>
                    <button v-else class="btn btn-danger" @click="switchStatus(runningData)">
                      Inactive
                    </button>
                  </div>
                </td>
              </tr>
          </tbody>
          <tbody  v-else>
              <tr>
                <td colspan="6">No {{headline}} Available!</td>
              </tr>
          </tbody> -->
          </table>
        </div>
        <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                  <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()">
                    <span aria-hidden="true">Previous &nbsp;</span>
                  </a>
                </li>
                <!-- <li v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" @click="all(n)">{{ n }}</a>
                </li> -->
                <li :class="{'active':pagination.current_page==1}">
                  <a href="javascript:void(0);" @click="all(1)">1</a>
                </li>
                <li>
                  <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
                    <span aria-hidden="true">&nbsp; Next</span>
                  </a>
                </li>
              </ul>
        </div>
      </div>
      <!-- Modal Window -->
      <div class="modal fade" id="componentDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="componentDataModalLabel">Add Doctor</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <form @submit.prevent="isNotValidateForm" name="callback">
                <div class="image-upload">
                    <label for="file-input">
                        <img src="http://192.168.1.196:8000/images/imgpsh_fullsize12.png"/>
                    </label>

                    <input id="file-input" type="file"  @change="processFile($event)"/>
                </div>
                
                <div class="form-group row">
                    <div class="col-6">
                      <label for="role-name" class="form-control-label">First Name:</label>
                      <input type="text" class="form-control innerform" id="role-name" v-model='singleObj.first_name'>
                    </div>
                    <div class="col-6">
                      <label for="role-name" class="form-control-label">Last Name:</label>
                      <input type="text" class="form-control innerform" id="role-name" v-model='singleObj.last_name'>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                      <label for="role-name" class="form-control-label">Email:</label>
                      <input type="text" class="form-control innerform" id="role-name" v-model='singleObj.email'>
                    </div>
                    <div class="col-6">
                      <label for="role-name" class="form-control-label">Phone:</label>
                      <input type="text" class="form-control innerform" id="role-name" v-model='singleObj.phone'>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
             
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" :disabled="isNotValidateForm" @click="update()" v-if="pupupMod=='edit'">Edit</button>
                <button type="button" class="btn btn-primary" :disabled="isNotValidateForm" @click="store()" v-else>Add</button>
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>

    import ConfirmBox from '../../helpers/ConfirmBox.js';
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    let funcHelp= new FunctionHelper;
    export default {
        props:['headline'],
        data(){
            return {
                componentData:[],
                pagination:{},
                singleObj:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['Name','Email','Phone','Completed Cases','Ongoing Cases','Action'],
                escapeSort:['Action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"}
                ],
                searchQuery:'',
                sortOrder:{field:'username',order:'asc'}
            };
        },
        mounted() {
            this.all();
            this.showAdd=true;
            $('#componentDataModal').on('hidden.bs.modal', ()=>this.resetSingleObj());
            
            let cats=this.componentData;
        },
        methods:{
            processFile(event) {
              console.log('here');
              this.someData = event.target.files[0];

            },
            resetSingleObj(){
                this.singleObj={id:"",first_name:"",last_name:"",email:"",phone:""}; 
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            all(page=1){
                this.resetAlert();
                let uri=`/clinic/doctor?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            show(obj){
                this.pupupMod='edit';
                this.resetAlert();
                this.singleObj=obj;
                $('#componentDataModal').modal('show');
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/clinic/doctor/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            update(){
                let uri=`/clinic/doctor/${this.singleObj.id}`;
                this.$http.put(uri,this.singleObj).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                    $('#componentDataModal').modal('hide');
                })
                .catch((error)=>{console.log(error)});
            },
            create(){
                this.resetSingleObj();
                this.resetAlert();
                this.pupupMod='add';
                $('#componentDataModal').modal('show');
            },
            store(){
                // this.categories.push(this.singleObj);
                this.$http.post('/clinic/doctor',this.singleObj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==201){
                        this.resetSingleObj(); // reset store input form
                        this.all(); // fetch updated list
                        $('#componentDataModal').modal('hide'); // Hide modal
                        // Handling alert
                        this.alertHandler('success',res.message,true);
                    }
                    else{
                      let message = "Error in submit form";
                      this.alertHandler('error',message,true);
                      $('#componentDataModal').modal('hide');
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols){
              if(this.escapeSort.indexOf(cols) < 0 ){
                if(cols == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:cols,order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/clinic/doctor?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            }
        },
        computed:{
            isNotValidateForm(){
                if(this.singleObj.first_name=="" || this.singleObj.last_name=="" || this.singleObj.email==""|| this.singleObj.phone=="" || funcHelp.validateEmail(this.singleObj.email)==false){
                    return true;
                }
                return false;
            },
            mailClasses(){
                let isValidMail= funcHelp.validateEmail(this.singleObj.email);
                return {
                    'form-control':true,
                    'valid--mail':isValidMail==true,
                    'invalid--mail':isValidMail==false
                };
            },
            isValidMail(){
                return funcHelp.validateEmail(this.singleObj.email);
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>