<style type="text/css">
  .Alert__close {
    float: right;
    cursor: pointer;
}
</style>
<template>
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box-cover">

     

      
      <a class="btn btn-pitch addbutton " href='doctor/purchase' > <i class="fa fa-shopping-cart"></i>&nbsp; Purchase Doctor</a>
      <a v-if="doctor_token_pending != 0" class="btn btn-pitch addbutton " href='doctor/create' > <i class="fa fa-plus"></i>&nbsp; Add Doctor</a>
      <a v-else class="btn btn-pitch addbutton " @click="show()" > <i class="fa fa-plus"></i>&nbsp; Add Doctor </a>
      


        <div class="box-header">


          <!-- ADD EVENT -->
          <div class="box-title">
              <div class="boxtext">DOCTORS</div>
          </div>
          <div class="box-tools">
            <form class="form-inline" @submit.prevent="searchInput">
              <div class="form-group">

                <div class="input-group">
                  <label class="searchlabel">Search:</label>
                  <input type="text" v-model="searchQuery" class="form-control" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                </div>
              </div>
              
            </form>

            
          </div>
        </div>
          <!-- /.box-header -->
        <div class="box-body table-responsive table-fixed">
          <table class="table table-hover">
            <tbody>
                <tr>
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols)">
                  {{ cols }} 
                  <span class="arrow" 
                    :class="sortOrder.field == cols ? sortOrder.order : 'asc'"
                    v-if="escapeSort.indexOf(cols) < 0"></span>
                  </th>
                </tr>
            </tbody>
            <tbody v-if="componentData.length">
                <tr v-for="runningData in componentData">
                  <!-- <th scope="row" v-text="runningData.id"></th> -->
                  <td align="left"><img src="http://52.77.117.85:8004/storage/user/doctors/user.png" width="50px" />{{runningData.first_name}}</td>
                  <td align="left" v-text="runningData.email" ></td>
                  <td align="left" v-text="runningData.contact_number" ></td>
                  <td align="left" v-text="runningData.case_count_completed" ></td>
                  <td align="left" v-text="runningData.case_count_pending"></td>
                  <td align="left" v-if="runningData.doctorstatus == '1'">
                      <button v-if="runningData.is_selected == 0" class="btn  btn-active" @click="switchStatus(runningData)">
                        Active
                      </button>
                      <button v-else class="btn  btn-active disabled" >
                        Active
                      </button>
                  </td>
                 <td v-else>
                      <button class="btn  btn-inactive" @click="switchStatus(runningData)">
                          Inactive
                      </button>
                  </td>
                  <td align="left" >
                    <div class="" role="group" aria-label="...">
                        <a type="button" class="btn btn-sm btn-primary btn-round" title="Edit" :href="'doctor/'+runningData.id+'/edit'">
                         <i class="fa fa-pencil-square-o"></i>
                       </a>
                       <a title="List Cases" class="btn btn-sm btn-primary btn-round"  :href="'doctorcaselibrary/'+runningData.id" ><i class="fa fa-list"></i></a>
                      <!--    <a type="button" class="btn btn-danger btn-round" @click="removeConfirm(runningData)">
                           <i class='fa fa-trash-o'></i>
                         </a>-->
                      </div>
                  </td>
                </tr>
            </tbody>
            <!-- <tbody  v-else>
              <tr>
                <td colspan="6">No doctor available!</td>
              </tr>
            </tbody> -->
          <!--   <tbody  v-if="componentData.length">
              <tr v-for="runningData in componentData">
                <th scope="row" v-text="runningData.id"></th>
                <td v-text="runningData.username"></td>
                <td v-text="runningData.email"></td>
                <td v-text="runningData.contact_number"></td>
                <td v-text="runningData.completed_cases"></td>
                <td v-text="runningData.ongoing_cases"></td>
                <td>
                  <div class="" role="group" aria-label="...">
                  
                    <button type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                      <i class='fa fa-trash-o' ></i>
                    </button>
          
                    <button v-if="runningData.status==1" class="btn btn-primary" @click="switchStatus(runningData)">
                      Active
                    </button>
                    <button v-else class="btn btn-danger" @click="switchStatus(runningData)">
                      Inactive
                    </button>
                  </div>
                </td>
              </tr>
          </tbody>
          <tbody  v-else>
              <tr>
                <td colspan="6">No {{headline}} Available!</td>
              </tr>
          </tbody> -->
          </table>
        </div>
        <div class="box-footer clearfix" v-if="pagination.total_pages != 0">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                  <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()">
                    <span aria-hidden="true">Previous &nbsp;</span>
                  </a>
                </li>
                <li v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" @click="all(n)">{{ n }}</a>
                </li>
                
                <li>
                  <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
                    <span aria-hidden="true">&nbsp; Next</span>
                  </a>
                </li>
              </ul>
        </div>
      </div>
      <!-- Modal Window -->
      <div class="modal fade doctorpurchasedialog" id="componentDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="componentDataModalLabel">Purchase Doctor</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
                In Progress
            </div>
            <div class="modal-footer">
             
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
               
                <button type="button" class="btn btn-pitch" href="doctor/purchase" >Purchase</button>
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>

    import ConfirmBox from '../../helpers/ConfirmBox.js';
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    let funcHelp= new FunctionHelper;
    export default {
        props:['headline'],
        data(){
            return {
                imgsrc : 'http://52.77.117.85:8004/images/imgpsh_fullsize12.png',
                componentData:[],
                pagination:{},
                singleObj:{},
                selectedImage:[],
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['Name','Email','Phone','Completed Cases','Ongoing Cases','Status','Action'],
                escapeSort:['Action','Status','Phone','Completed Cases','Ongoing Cases'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"}
                ],
                searchQuery:'',
                selectedFile : null,
                sortOrder:{field:'id',order:'asc'},
                uploded_id : '',
                doctor_token_pending: ''
            };
        },
        mounted() {
            this.all();
            this.showAdd=true;
            $('#componentDataModal').on('hidden.bs.modal', ()=>this.resetSingleObj());
            
            let cats=this.componentData;
        },
        methods:{

            onFileChange(e) {
              var files = e.target.files || e.dataTransfer.files;
              this.selectedFile = files[0];
              if (!files.length)
                return;

              this.$http.post('/clinic/doctor/image', this.selectedFile)
              this.createImage(files[0]);
            },
            createImage(file) {
              var image = new Image();
              var reader = new FileReader();
              var vm = this;

              reader.onload = (e) => {
                this.imgsrc = e.target.result;
                console.log(e.target.result);
              };
              reader.readAsDataURL(file);
            },

            processFile(event) {
              console.log('here');
              this.someData = event.target.files[0];

            },
            resetSingleObj(){
                this.singleObj={id:"",first_name:"",last_name:"",email:"",phone:"",pic:''}; 
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            all(page=1){
                this.resetAlert();
                let uri=`/clinic/doctor?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.doctor_token_pending = res.doctor_token_pending;
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            show(){
                this.resetAlert();
                $('#componentDataModal').modal('show');
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/clinic/doctor/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            update(){
                let uri=`/clinic/doctor/${this.singleObj.id}`;
                this.$http.put(uri,this.singleObj).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                    $('#componentDataModal').modal('hide');
                })
                .catch((error)=>{console.log(error)});
            },
            create(){
                this.resetSingleObj();
                this.resetAlert();
                this.uploded_id = '';
                $('.dz-preview ').remove();
                $('.dz-image img').attr('src', '');
                this.pupupMod='add';
                $('#componentDataModal').modal('show');
            },
            store(){
              console.log(this.image_data);
              
              const formData = new FormData()
              this.singleObj.image = this.image_data;
                // this.categories.push(this.singleObj);
                this.$http.post('/clinic/doctor',this.singleObj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==201){
                        this.resetSingleObj(); // reset store input form
                        this.all(); // fetch updated list
                        $('#componentDataModal').modal('hide'); // Hide modal
                        // Handling alert
                        this.alertHandler('success',res.message,true);
                    }
                    else{
                      let message = "Error in submit form";
                      this.alertHandler('error',message,true);
                      $('#componentDataModal').modal('hide');
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols){
              if(this.escapeSort.indexOf(cols) < 0 ){
                if(cols == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:cols,order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/clinic/doctor?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
            switchStatus(obj){
              this.resetAlert();
              let newStat=(obj.doctorstatus == 1) ? 0 : 1;
              let uri=`/clinic/doctor/status`;
              this.$http.put(uri,obj).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    // Handling alert
                    obj.doctorstatus = newStat;
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },
        },
        computed:{

            image_data(){
                var textbox = document.getElementById('image_id');
                this.uploded_id = textbox.value;
                return this.uploded_id;
            },

            isNotValidateForm(){
                if(this.singleObj.first_name=="" || this.singleObj.last_name=="" || this.singleObj.email==""|| this.singleObj.phone=="" || funcHelp.validateEmail(this.singleObj.email)==false){
                    return true;
                }
                return false;
            },
            mailClasses(){
                let isValidMail= funcHelp.validateEmail(this.singleObj.email);
                return {
                    'form-control':true,
                    'valid--mail':isValidMail==true,
                    'invalid--mail':isValidMail==false
                };
            },
            isValidMail(){
                return funcHelp.validateEmail(this.singleObj.email);
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>