<style type="text/css">
  .Alert__close {
    float: right;
    cursor: pointer;
}
</style>
<template>
  <div class="row">
            <div class="col-12">  

                <div v-if='showAlert'>
                  <alert :type="alertType">{{ alertText }}</alert>
                </div>

                <div class="box-cover">
                    <div class="box-header">
                      <!-- ADD EVENT -->
                      <div class="box-title">
                          <div class="boxtext">Doctor Edit</div>
                      </div>
                    </div>

                     <!-- /.box-header -->
                    <div class="box-body table-responsive table-fixed">
                        <div class="overlay hide">
                            <div id="loading-img"></div>
                        </div>
                        <div class="box-tools">
                            <form @submit.prevent="isNotValidateForm" name="callback" enctype="multipart/form-data" >
                                
                              <div class="form-group ">
                                  <label for="name" class="col-md-3 control-label">Email</label>

                                  <div class="col-md-7">
                                      <input type="text" class="form-control "  @change="emailcheck"   id="email" v-model='singleObj.email' autofocus>
                                      <span class="errorMessage errorMessageemail help-block">{{emailmessage}}</span>
                                  </div>
                                  
                              </div>

                              <div class="form-group showlinks ">
                                  <div class="col-md-7">
                                      <button type="button" class="btn btn-primary"  @click="linkstore()" >Link</button>
                                      <a href="/clinic/doctor" class="btn btn-danger" >Cancel</a>
                                  </div>  
                              </div>

                              <div class="formdetail">
                                  <div class="form-group ">
                                      <label for="name" class="col-md-3 control-label">First Name</label>

                                      <div class="col-md-7">
                                          <input type="text" class="form-control "  id="first_name" v-model='singleObj.first_name' >
                                          <span class=""></span>
                                      </div>
                                      
                                  </div>

                                  <div class="form-group ">
                                      <label for="name" class="col-md-3 control-label">Last Name</label>

                                      <div class="col-md-7">
                                          <input type="text" class="form-control "  id="first_name" v-model='singleObj.last_name' >
                                          <span class=""></span>
                                      </div>
                                      
                                  </div>

                                  <div class="form-group ">
                                      <label for="name" class="col-md-3 control-label">User Name</label>

                                      <div class="col-md-7">
                                          <input type="text"  class="form-control "  @change="userNamecheck" id="first_name" v-model='singleObj.username' >
                                          <span class="errorMessage help-block">{{usenamemessage}}</span>
                                      </div>
                                      
                                  </div>

                                  <div class="form-group ">
                                      <label for="name" class="col-md-3 control-label">Phone</label>

                                      <div class="col-md-7">
                                          <input type="text" class="form-control "  id="first_name" v-model='singleObj.contact_number' >
                                          <span class=""></span>
                                      </div>
                                      
                                  </div>


                                  
                                  
                                  <div class="form-group ">
                                      <div class="col-md-7">
                                          <button type="button" class="btn btn-primary" :disabled="isNotValidateForm" @click="update()" >Edit</button>
                                          
                                          <a href="/clinic/doctor" class="btn btn-danger" >Cancel</a>
                                      </div>  
                                  </div>


                                  


                              </div>
                            </form>
                        </div>           
                    </div>        
                </div>      
            </div>
        </div>
</template>
<script>

    import ConfirmBox from '../../helpers/ConfirmBox.js';
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    let funcHelp= new FunctionHelper;
    export default {
        props:['doctor_id'],
        data(){
            return {
                cancleLink:'doctor',
                singleObj:{},
                linkObj:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                can_link:false,
                email:'',
                usenamemessage:'',
                emailobj:{},
                emailmessage : ''
            };
        },
        mounted() {
            this.showAdd=true;
            this.getData();
            $(".showlinks").hide();
        },
        methods:{
            linkstore(){              
              this.$http.post('/clinic/doctor/linkdoctor',this.linkObj).then((response)=>{
                    let res=response.data;
                    
                    if(res.status_code==200){
                        this.linkObj = {}; 
                        this.resetAlert();
                        this.showform();
                        this.alertHandler('success',res.message,true); 
                    }
                    else{ 
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            getData(){
              console.log(this.doctor_id);
              let uri=`/clinic/doctor/show/`+this.doctor_id;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.singleObj=res.data;
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            userNamecheck(){         
              this.singleObj.doctor_id = this.doctor_id;     
              this.$http.post('/clinic/doctor/checkUsernameexist',this.singleObj).then((response)=>{
                    let res=response.data;
                    console.log(res);
                    if(res.status_code==200){
                        this.emailobj = {}; 
                        this.usenamemessage = '';
                        this.showform();
                    }
                    else{
                      this.usenamemessage = res.message;
                      this.showform();
                      
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            
            emailcheck(){            
              this.emailobj.email = this.singleObj.email;
              this.emailobj.doctor_id = this.doctor_id;
              console.log(this.emailobj);
              this.$http.post('/clinic/doctor/checkdoctorexistedit',this.emailobj).then((response)=>{
                    let res=response.data;
                    if(res.status_code==200){
                        this.emailobj = {}; 
                        $(".errorMessageemail").hide();
                        this.resetAlert();
                        this.showform();
                        $(".formdetail").removeClass("invisible");
                        $(".showlinks").hide();
                        this.emailmessage = '' ; 
                    }
                    else if(res.status_code==202){
                        this.emailmessage = res.message;
                        $(".formdetail").addClass("invisible");
                        $(".showlinks").show();
                        this.linkObj.doctor_id = res.data.doctor_id;
                        this.linkObj.can_link = res.data.can_link;
                    }
                    else{
                      this.emailmessage = res.message;
                      $(".formdetail").removeClass("invisible");
                      $(".showlinks").hide();
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            showform(){
                $(".formdetail").removeClass("invisible");
                $(".showlinks").hide();
                $(".errorMessageemail").hide();
                this.resetAlert();
            },
            resetSingleObj(){
                this.singleObj={id:"",first_name:"",last_name:"",email:"",contact_number:"",pic:''}; 
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            
            update(){ console.log(4);
                let uri=`/clinic/doctor/${this.singleObj.id}`;
                this.$http.put(uri,this.singleObj).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                    
                })
                .catch((error)=>{console.log(error)});
            },
            

        },
        computed:{

           
            isNotValidateForm(){
              console.log(82); 
                if(this.singleObj.first_name=="" || this.singleObj.last_name=="" || this.singleObj.contact_number=="" || this.singleObj.email=="" || funcHelp.validateEmail(this.singleObj.email)==false || funcHelp.phonenumber(this.singleObj.contact_number)==false){
                    return true;
                }
                if(this.emailmessage != '')
                {
                  return true;
                }
                if(this.usenamemessage != '')
                {
                  return true;
                }
                return false;
            },
            mailClasses(){
                let isValidMail= funcHelp.validateEmail(this.singleObj.email);
                return {
                    'form-control':true,
                    'valid--mail':isValidMail==true,
                    'invalid--mail':isValidMail==false
                };
            },
            isValidMail(){
                return funcHelp.validateEmail(this.singleObj.email);
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>