<template>
    <div class="image-upload">
        
        <div class="dropzone"  id="my-awesome-dropzone" ></div>
        <input type="hidden" id="image_id" value=""  >
    </div>
</template>
<style>
    

</style>
<script>
    export default {
        props:['imgsrc'],
        mounted() {
            //console.log('Component ready.')


        },
        methods:{
            
        }
    }
</script>
