<style type="text/css">
  .Alert__close {
    float: right;
    cursor: pointer;
}
</style>
<template>
  <div class="row">
    <div class="col-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box-cover">

      
        <div class="box-header">


          <!-- ADD EVENT -->
          <div class="box-title">
              <div class="boxtext">LABS</div>
          </div>
          <div class="box-tools">
            <form class="form-inline" @submit.prevent="searchInput">
              <div class="form-group">

                <div class="input-group">
                  <label class="searchlabel">Search:</label>
                  <input type="text" v-model="searchQuery" class="form-control" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                </div>
              </div>
              
            </form>

            
          </div>
        </div>
          <!-- /.box-header -->
        <div class="box-body table-responsive table-fixed">
          <table class="table table-hover">
            <tbody>
                <tr>
                  <th v-for="(cols,index) in gridColumns" @click="sortBy(cols)">
                  {{ cols }} 
                  <span class="arrow" 
                    :class="sortOrder.field == cols ? sortOrder.order : 'asc'"
                    v-if="escapeSort.indexOf(cols) < 0"></span>
                  </th>
                </tr>
            </tbody>
            <tbody v-if="componentData.length">
                <tr v-for="runningData in componentData">
                  <!-- <th scope="row" v-text="runningData.id"></th> -->
                  <td align="left"><img src="http://52.77.117.85:8004/storage/user/doctors/user.png" width="50px" />{{runningData.full_name}}</td>
                  <td align="left" v-text="runningData.email" ></td>
                  <td align="left" v-text="runningData.contact_number" ></td>
                  <td align="center" v-text="runningData.case_count_completed" ></td>
                  <td align="center" v-text="runningData.case_count_pending"></td>
                  <td>
                    <div class="" role="group" aria-label="...">
                      <a title="List Cases" :href="'labcaselibrary/'+runningData.id" class="">View Cases</a>
                      <!-- <a title="List Cases" type="button" :href="'labcaselibrary/'+runningData.id" class="btn btn-sm bg-list"><i aria-hidden="true" class="fa fa-list"></i></a> -->
                      <!-- <button type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                        <img src="http://52.77.117.85:8004/images/imgpsh_fullsize.png" width="15px" />
                      </button> -->

                      <!-- <button class="btn btn-primary" @click="switchStatus(runningData)">
                        Active
                      </button> -->
                    </div>
                  </td>
                </tr>
            </tbody>
          <!--   <tbody  v-if="componentData.length">
              <tr v-for="runningData in componentData">
                <th scope="row" v-text="runningData.id"></th>
                <td v-text="runningData.username"></td>
                <td v-text="runningData.email"></td>
                <td v-text="runningData.contact_number"></td>
                <td v-text="runningData.completed_cases"></td>
                <td v-text="runningData.ongoing_cases"></td>
                <td>
                  <div class="" role="group" aria-label="...">
                  
                    <button type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                      <i class='fa fa-trash-o' ></i>
                    </button>
          
                    <button v-if="runningData.status==1" class="btn btn-primary" @click="switchStatus(runningData)">
                      Active
                    </button>
                    <button v-else class="btn btn-danger" @click="switchStatus(runningData)">
                      Inactive
                    </button>
                  </div>
                </td>
              </tr>
          </tbody>
          <tbody  v-else>
              <tr>
                <td colspan="6">No {{headline}} Available!</td>
              </tr>
          </tbody> -->
          </table>
        </div>
        <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                  <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()">
                    <span aria-hidden="true">Previous &nbsp;</span>
                  </a>
                </li>
                <li v-for="n in pagination.total_pages" 
                  :class="{'active':pagination.current_page==n}">
                  <a href="javascript:void(0);" @click="all(n)">{{ n }}</a>
                </li>
                
                <li>
                  <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
                    <span aria-hidden="true">&nbsp; Next</span>
                  </a>
                </li>
              </ul>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>

    import ConfirmBox from '../../helpers/ConfirmBox.js';
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    let funcHelp= new FunctionHelper;
    export default {
        props:['headline'],
        data(){
            return {
                componentData:[],
                pagination:{},
                singleObj:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['Name','Email','Phone','Completed Cases','Ongoing Cases','Action'],
                escapeSort:['Action','Phone','Completed Cases','Ongoing Cases'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"}
                ],
                searchQuery:'',
                selectedFile : null,
                sortOrder:{field:'id',order:'asc'},
            };
        },
        mounted() {
            this.all();
            this.showAdd=true;
           
            let cats=this.componentData;
        },
        methods:{

            
            resetSingleObj(){
                this.singleObj={id:"",first_name:"",last_name:"",email:"",phone:"",pic:''}; 
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            all(page=1){
                this.resetAlert();
                let uri=`/clinic/labs?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols){
              if(this.escapeSort.indexOf(cols) < 0 ){
                if(cols == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:cols,order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/clinic/labs?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
        },
        computed:{

            image_data(){
                var textbox = document.getElementById('image_id');
                this.uploded_id = textbox.value;
                return this.uploded_id;
            },

            isNotValidateForm(){
                if(this.singleObj.first_name=="" || this.singleObj.last_name=="" || this.singleObj.email==""|| this.singleObj.phone=="" || funcHelp.validateEmail(this.singleObj.email)==false){
                    return true;
                }
                return false;
            },
            mailClasses(){
                let isValidMail= funcHelp.validateEmail(this.singleObj.email);
                return {
                    'form-control':true,
                    'valid--mail':isValidMail==true,
                    'invalid--mail':isValidMail==false
                };
            },
            isValidMail(){
                return funcHelp.validateEmail(this.singleObj.email);
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>