<template>
    <div >
        <!-- DENTAL PRACTICE PRICING -->
      <div class="row box pricing-plan" id="practicebox">
        <div class="col-lg-4 mx-auto">
            <div class="box1">
                <div class="box-heading">BASIC</div>
                <div class="box-options">
                  <button  type="button" style=" visibility: hidden;" class="btn btn-deselected active-plan" id="monthlyPlan">Monthly</button>
                  <button  type="button" style=" visibility: hidden;"  class="btn btn-deselected" id="annualPlan" >Annual</button>
                </div>
                <div class="amount-display">
                  <span class="amount">FREE</span>
                </div>
                <div class="dataDisplay pd-t-20">1 user/doctor*</div>
                <hr class="boxhr">
                <div class="dataDisplay">3 credits/month to use with 3 impressions*</div>
                <hr class="boxhr">
                <div class="dataDisplay">Unlimited labs</div>
                <hr class="boxhr">
                <div class="dataDisplay">Access to all functionalities</div>
                <hr class="boxhr">
                <div class="dataDisplay not-apply">Access to default  technical values*</div>
                <hr class="boxhr">
                <div class="dataDisplay not-apply">&nbsp;</div>
                <div class="buy-btn-section"><button type="button" class="btn btn-custom1" @click="basic()">Start free trial</button>
                </div>
               <!--  <div class="buy-btn-section invisible"><button type="button" class="btn btn-custom1" @click="basic()">Start free trial</button>
                </div> -->
            </div>
        </div>
     
        <div class="col-lg-4 mx-auto">
            <div class="box1">
                <div class="box-heading">PRO</div>
                <div class="box-options">
                  <button @click="checkclinicrpro('monthly')" type="button" class="btn btn-deselected " id="monthlypro" >Monthly</button>
                  <button @click="checkclinicrpro('annual')" type="button" class="btn btn-deselected active-plan" id="annualpro">Annual</button>
                </div>
                <div class="amount-display hide" id="monthlyproamount">
                    <span class="doller">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <span class="amount">{{clinicpromonthly}}</span>
                    <span class="indication">/mo</span>
                </div>
                <div class="amount-display " id="annualproamount">
                    <span class="doller">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <span class="amount">{{clinicproannual}}</span>
                    <span class="indication">/mo</span>
                </div>
                <div class="dataDisplay pd-t-20">Up to 3 users/doctors*</div>
                <hr class="boxhr">
                <div class="dataDisplay">10 credits/month to use with 10 impressions*</div>
                <hr class="boxhr">
                <div class="dataDisplay">Unlimited labs</div>
                <hr class="boxhr">
                <div class="dataDisplay">Access to all functionalities</div>
                <hr class="boxhr">
                <div class="dataDisplay">Access to default technical values*</div>
                <hr class="boxhr">
                <div class="dataDisplay">Can purchase extra credits in bundles</div>
                <div class="buy-btn-section"><button type="button" class="btn btn-custom1" @click="pro()">Start free trial</button>
                </div>
                <!-- <div class="buy-btn-section"><button type="button" class="btn btn-custom1" @click="upgreadpro()">UPGRADE FROM BASIC</button>
                </div> -->
            </div>
        </div>

        <div class="col-lg-4 mx-auto">
            <div class="box1">
                <div class="box-heading">PREMIUM</div>
                <div class="box-options">
                  <button type="button" class="btn btn-deselected " @click="checkclinicrpremimum('monthly')" id="monthlyPlanPremium" >Monthly</button>
                  <button type="button" class="btn btn-deselected active-plan" @click="checkclinicrpremimum('annual')" id="annualPlanPremium">Annual</button>
                </div>

                <div class="amount-display hide" id="monthlyPlanPremiumAmount"><span class=" hide premimumtext">Premium is not available for monthly subscription </span></div>

                <div class="amount-display " id="annualPlanPremiumAmount"><span class="doller"><i class="fa fa-usd" aria-hidden="true"></i></span><span class="amount">{{clinicpremimumannual}}</span><span class="indication">/mo</span></div>

                <div id="premimumyearly">
                    <div class="dataDisplay pd-t-20">Unlimited users/doctors*</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">30 credits/month to use with 30 impressions*</div>  
                    <hr class="boxhr">
                    <div class="dataDisplay">Unlimited labs</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay">Access to all functionalities</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay">Access to default technical values*</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay">Can purchase extra credits in bundles</div> 
                </div>

                <div id="premimummonthly" class="hide" >
                    <div class="dataDisplay pd-t-20 not-apply">Unlimited users/doctors*</div>
                    <hr class="boxhr">
                    <div class="dataDisplay not-apply">30 credits/month to use with 30 impressions*</div>  
                    <hr class="boxhr">
                    <div class="dataDisplay not-apply">Unlimited labs</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay not-apply">Access to all functionalities</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay not-apply">Access to default technical values*</div> 
                    <hr class="boxhr">
                    <div class="dataDisplay not-apply">Can purchase extra credits in bundles</div> 
                </div>
                
                <div class="buy-btn-section">
                    <button type="button" class="btn btn-custom1" :disabled="checkPremium" @click="premium()">Start free trial</button>
                </div>
                <!-- <div class="buy-btn-section">
                    <button type="button" class="btn btn-custom1" :disabled="checkPremium" @click="upgreadpremium()">UPGRADE FROM BASIC or pro</button>
                </div> -->
            </div>
        </div>
      </div>


      <!-- DOCTOE COMPANION -->
      <div class="row box pricing-plan" id="companionbox" style="display: none">
        <div class=" col-lg-4 basic-pack">
            <div class="box1">
                <div class="box-heading">BASIC</div>
                <div class="box-options">
                 <span type="button" style="visibility: hidden;" class="btn btn-selected"></span>
                </div>
                <div class="amount-display"><span class="doller"></span><span class="amount">FREE</span><span class="indication"></span></div>
                <div class="dataDisplay">Active on Dr's personal device</div>
                <hr class="boxhr">
                <div class="dataDisplay">Unlimited clinics*</div>
                <hr class="boxhr">
                <div class="dataDisplay">Unlimited access to cases through chat interface</div>
                <hr class="boxhr">
                <div class="dataDisplay">Access to group chats with clinics and labs</div>
                <hr class="boxhr">
                <div class="dataDisplay not-apply">Can start a chat</div>
                <hr class="boxhr">
                <div class="dataDisplay not-apply">Can see all Dr. cases' details</div>
                <div class="buy-btn-section">
                <button type="button" class="btn btn-custom1" data-toggle="modal" @click="doctorFree()">Download Appliation</button>
                </div>
            </div>
        </div>
     
        <div class="col-lg-4">
            <div class="box1">
                <div class="box-heading">PRO</div>
                <div class="box-options">
                  <button type="button" @click="checkdoctorpro('monthly')" class="btn btn-deselected " id="doctormonthlyPlanPremium" >Monthly</button>
                  <button @click="checkdoctorpro('annual')" type="button" class="btn btn-deselected active-plan" id="doctorannualPlanPremium" >Annual</button>
                </div>
                <div class="amount-display hide" id="doctormonthlyPlanPremiumAmount">
                    <span class="doller">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <span class="amount">{{doctorpromonthly}}</span>
                    <span class="indication">/mo</span>
                </div>

                <div class="amount-display " id="doctorannualPlanPremiumAmount">
                    <span class="doller">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <span class="amount">{{doctorproannual}}</span>
                    <span class="indication">/mo</span>
                </div>

                <div id="">
                    <div class="dataDisplay">Active on Dr's personal device</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">Unlimited clinics*</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">Unlimited access to cases through chat interface</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">Access to group chats with clinics and labs</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">Can start a chat</div>
                    <hr class="boxhr">
                    <div class="dataDisplay">Can see all Dr. cases' details</div>
                </div>
                
                <div class="buy-btn-section"><button type="button" class="btn btn-custom1"  @click="doctorpro()">upgread plans</button>
                </div>
            </div>
        </div>

      </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                doctorProType : 'annual',
                clinicProType : 'annual',
                clinicPremimumType : 'annual',
                clinicpromonthly    :'',
                clinicproannual     :'',
                clinicpremimumannual:'',
                doctorpromonthly    :'',
                doctorproannual     :'',
            };
        },
        mounted() {
            console.log('khushbu.')
            this.getPriceDetail();
        },
        methods:{
            getPriceDetail(){
                let uri=`/clinic/getPriceDetail`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.clinicpromonthly       = res.data.clinic.pro.monthly;
                        this.clinicproannual        = res.data.clinic.pro.annual;
                        this.clinicpremimumannual   = res.data.clinic.premium.annual;
                        this.doctorpromonthly       = res.data.doctor.pro.monthly;
                        this.doctorproannual        = res.data.doctor.pro.annual; 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            basic(){
                let res= '/clinic/plans/clinic/basic/free';
                window.location = res;
            },
            upgreadpro(){
                let res= '/clinic/upgreadplans/clinic/pro/'+this.clinicProType;
                console.log(res);
                window.location = res;
            },
            pro(){
                this.doctorProType;
                let res= '/clinic/plans/clinic/pro/'+this.clinicProType;
                console.log(res);
                window.location = res;
            },
            premium(){
                this.clinicPremimumType;
                let res= '/clinic/plans/clinic/premium/annual';
                console.log(res);
                window.location = res;
            },
            upgreadpremium(){
                let res= '/clinic/upgreadplans/clinic/premium/annual';
                console.log(res);
                window.location = res;
            },
            doctorFree(){
                
            },
            doctorpro(){
                this.doctorProType;
                let res= '/clinic/upgreaddoctorplan/doctor/pro/'+this.doctorProType;
                console.log(res);
                window.location = res;
            },
            checkdoctorpro(type){  console.log(type);
                this.doctorProType = type;
            },
            checkclinicrpro(type){  
                this.clinicProType = type;
            },
            checkclinicrpremimum(type){
                this.clinicPremimumType = type;
            }

        },
        computed : {
            checkPremium(){
                if(this.clinicPremimumType == 'annual'){
                    return false;
                }
                return true;
            }
        }
    }
</script>
