<template></template>

<script>

    import { required, alpha, email,sameAs } from 'vuelidate/lib/validators'

    export default {
        data(){
             return {
                email:''
            };
        },
        mounted() {
            console.log('Auth View2.');
        },
        validations: {
            email: {
              required
            }
        },
        methods:{
            submitpurchase(){

             
                //return false;
              this.$v.$touch();
              if (!this.$v.$error) {
                let data= {
                    email:this.email
                };
              }
              // e.preventDefault();
            }
        }
    }
</script>
