<template>
    <div class="col-12">
                <div class="dashboard-box-no-margin" id="ongoingcase">
                  <div class="row bs-example-report-table settings">
                    <div class="box-body content-table">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td>
                              <div class="row sub-classes-tikets ">
                                 <div class="col-2">
                                  <span class="support-name">Language:</span> 
                                 </div> 
                                  <div class="col-10">
                                    <label class="styled-radio">
                                        <input 
                                        type="radio" 
                                        v-model="language" 
                                        class="option-input radio" 
                                        name="language" 
                                        @click='setLanguage("english")'
                                        value="english" /> <span>English</span>
                                    </label>

                                  </div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div class="row sub-classes-tikets">
                                 <div class="col-2">
                                  <span class="support-name">Date format:</span> 
                                  
                                 </div> 
                                 <div class="col-10">
                                    
                                        <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="dateformat" 
                                            class="option-input radio" 
                                            name="date-format" 
                                            @click='setDate("option1")'
                                            value="option1" /> <span>dd-MM-yyyy</span>
                                        </label>

                                        <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="dateformat" 
                                            class="option-input radio" 
                                            name="date-format" 
                                            @click='setDate("option2")'
                                            value="option2" /> <span>MM-dd-yyyy</span>
                                        </label>

                                        <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="dateformat" 
                                            class="option-input radio" 
                                            name="date-format" 
                                            @click='setDate("option3")'
                                            value="option3" /> <span>dd-MM-yy</span>
                                        </label>

                                        <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="dateformat" 
                                            class="option-input radio" 
                                            name="date-format" 
                                            @click='setDate("option4")'
                                            value="option4" /> <span>MM-dd-yy</span>
                                        </label>


                                       
                                 </div>
                              </div>
                            </td>
                          </tr>

                           
                        </tbody>
                      </table>
                    </div>
                  
                  </div>
                </div>
          </div>
    
    
</template>

<script>
 export default {
        data(){
            return {
                language:'english',
                dateformat:'',
            }
        },
        mounted() {
            this.default();
        },
        methods:{

            default(){
                let uri=`/clinic/settings/getData`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.dateformat =res.dateformat;
                        console.log(this.dateformat);
                    }
                })
                .catch();
            },
            setLanguage(languagevar){
              console.log(languagevar);
             
            },

            setDate(dateformat){
              
              let uri=`/clinic/settings/setDateFormat`;
              this.$http.put(uri,{ dateformat : dateformat }).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    this.dateformat =res.dateformat;
                  }
              })
              .catch();
            },
        }
}
</script>