<template>
     <div class="col-12">
                <div class="dashboard-box-no-margin" id="ongoingcase">
                  <div class="row bs-example-report-table settings">
                    <div class="box-body content-table">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td>
                              <div class="row sub-classes-tikets ">
                                 <div class="col-2">
                                  <span class="support-name">Preferred Metal :</span> 
                                 </div> 
                                  <div class="col-10">
                                    <div  v-for="runningData in preferred_metal_data" class="col col-4">
                                         <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="preferred_metal" 
                                            class="option-input radio" 
                                            name="preferred_metal" 
                                            @click='setData(runningData.id,1)'
                                            :value="runningData.id"  /> <span>{{runningData.name}}</span>
                                         </label>
                                    </div>

                                    
                                  </div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div class="row sub-classes-tikets">
                                 <div class="col-2">
                                  <span class="support-name">Prosthetic Margins :</span> 
                                 </div> 
                                 <div class="col-10">
                                    <div  v-for="runningData in prosthetic_margins_data" class="col col-4">
                                         <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="prosthetic_margins" 
                                            class="option-input radio" 
                                            name="prosthetic_margins" 
                                            @click='setData(runningData.id,2)'
                                            :value="runningData.id"  /> <span>{{runningData.name}}</span>
                                         </label>
                                    </div>
                                    
                                 </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="row sub-classes-tikets">
                                 <div class="col-2">
                                  <span class="support-name">Try-ins Delivery :</span> 
                                  
                                 </div> 
                                 <div class="col-10">

                                   

                                    <div  v-for="runningData in delivery_data" class="col col-10">
                                         <label class="styled-radio">
                                            <input 
                                            type="radio" 
                                            v-model="delivery" 
                                            class="option-input radio" 
                                            name="delivery" 
                                            @click='setData(runningData.id,3)'
                                            :value="runningData.id"  /> <span>{{runningData.name}}</span>
                                         </label>
                                    </div>


                                   
                                    
                                    
                                 </div>
                              </div>
                            </td>
                          </tr>

                           
                        </tbody>
                      </table>
                    </div>
                  
                  </div>
                </div>
          </div>
    
    
</template>

<script>
 export default {
        data(){
            return {
                preferred_metal:'',
                prosthetic_margins:'',
                delivery:'',
                preferred_metal_data:'',
                prosthetic_margins_data:'',
                delivery_data:'',
            }
        },
        mounted() {
            this.default();
        },
        methods:{

            default(){
                let uri=`/clinic/settings/getDefaultData`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.preferred_metal            = res.preferred_metal;
                        this.prosthetic_margins         = res.prosthetic_margins;
                        this.delivery                   = res.delivery;
                        this.preferred_metal_data       = res.preferred_metal_data;
                        this.prosthetic_margins_data    = res.prosthetic_margins_data;
                        this.delivery_data              = res.delivery_data;
                    }
                })
                .catch();
            },
            setData(id,part){
                let uri=`/clinic/settings/setData`;
                this.$http.put(uri,{ update_id : id ,part:part}).then((response)=>{
                      let res= response.data;
                      if(res.status_code==200){
                        this.delivery =res.delivery;
                      }
                })
                .catch();
             
            },
        }
}
</script>