<template>
  
</template>
<style lang='sass'></style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:[],
        data(){
            return {
                

            };
        },
        mounted() {
            
        },
        methods:{

            
        },
        computed:{

         

        },
        filters: {
            
        }
    }
</script>